@using PCM.WEB.Properties
@using Newtonsoft.Json

<!-- Main Container -->
<main id="main-container">
    <div class="content">

        @using (Html.BeginForm("DesempenhoGovernanca", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @id = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!-- ================= FILTRO DATA ================= -->
            <div class="dashboard-section">
                <div class="block dashboard-card">
                    <div class="row align-items-end">
                        <div class="col-sm-12 col-md-3">
                            <label>@PCM.WEB.Properties.Resources.data</label>
                            @Html.DropDownList("data", null, null, new { @class = "form-control font-w600", id = "filtro-data" })
                        </div>
                        <input type="hidden" name="unidade" id="hidden-unidade" value="@Session["codigo_unidade"]" />
                    </div>
                </div>
            </div>

            <!-- ================= ATENDIMENTO DE ORDEM DE SERVIÇO (DataTable) ================= -->
            <div class="dashboard-section">
                <div class="section-title">
                    @PCM.WEB.Properties.Resources.atendimento_ordem_servico
                    <span class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="Codebase.helpers('print-page');"><i class="si si-printer"></i> @PCM.WEB.Properties.Resources.imprimir</button>
                    </span>
                </div>
                <div class="block dashboard-card">
                    <table class="table table-striped" id="tbMain" name="tbMain">
                        <thead>
                            <tr>
                                <th>@PCM.WEB.Properties.Resources.unidade</th>
                                <th class="text-center">Qtd. Camareiras</th>
                                <th class="text-center">Qtd. Supervisores</th>
                                <th class="text-center">UHs Arrumadas</th>
                                <th class="text-center">UHs Permanência</th>
                                <th class="text-center">UHs Saída</th>
                                <th class="text-center">UHs Vistoriadas</th>
                                <th class="text-center">% Vistoriadas das Saídas</th>
                                <th class="text-center">Qtd. OS Manutenção</th>
                                <th class="text-center">Qtd. NC</th>
                                <th class="text-center">Qtd. Retrabalho</th>
                                <th class="text-center">Qtd. Alteração status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        }

    </div>
</main>

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable                  = Resources.emptyTable,
        msgQuestionDelete           = Resources.msgQuestionDelete,
        msgNotPossibleReverse       = Resources.msgNotPossibleReverse,
        yes                         = Resources.yes,
        no                          = Resources.no,
        clickToEdit                 = Resources.clickToEdit,
        clickToDelete               = Resources.clickToDelete,
        clickToCopy                 = Resources.clickToCopy,
        clickToExcel                = Resources.clickToExcel,
        clickToPdf                  = Resources.clickToPdf,
        clickToConfig               = Resources.clickToConfig,
        editar                      = ViewBag.editar,
        excluir                     = ViewBag.excluir,
        urlLoadDesempenhoGovernanca = Url.Action("LoadDesempenhoGovernanca", "Home")
    }))'>
</div>

@section styles {
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/dataTables")
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/buttons.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/fixedColumns.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/responsive.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/buttons.dataTables.css">
}

@section scripts {
    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
    <script src="~/Content/js/pcm.js"></script>
    <script src="~/Content/js/pages/Governanca/jquery.desempenhoGovernanca.init.js"></script>
}
