
<!-- Main Container -->
<main id="main-container">

    <!-- Page Content -->
    <div class="content bg-white">

        @using (Html.BeginForm("DesempenhoGovernanca", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @id = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="block d-print-normal p-10 m-10" style="display:none">
                <div class="form-row">
                    <div class="col-3">
                        <img class="img-avatar" src="@Session["imagem_sidebar"]" alt="">
                    </div>
                    <div class="col-6 text-center">
                        <label class="h2">Desempenho das Unidades</label>
                    </div>
                    <div class="col-3 text-right">
                        <label class="h4 font-w600">01/11</label>
                    </div>
                </div>
                <hr />
            </div>

            <div class="block d-print-normal bg-white">

                <div class="block-header block-header-default bg-secondary d-print-none">
                    <h3 class="block-title-big text-white font-w600">Desempenho das Unidades</h3>
                    <div class="block-options">
                        <!-- Print Page functionality is initialized in Codebase() -> uiHelperPrint() -->
                        <button type="button" class="btn-block-option text-white" onclick="Codebase.helpers('print-page');">
                            <i class="si si-printer text-white"></i> @PCM.WEB.Properties.Resources.imprimir
                        </button>
                        <button type="button" class="btn-block-option text-white" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                    </div>
                </div>

                <div class="row pt-20 pr-20 pl-20" data-toggle="appear">
                    <div class="col-3 col-sm-12 col-md-3 col-xl-3">
                        <label>@PCM.WEB.Properties.Resources.unidade</label>
                        @Html.DropDownList("unidade", null, null, new { @class = "form-control material font-w600 js-select2" })
                    </div>
                    <div class="col-3 col-sm-12 col-md-3 col-xl-3">
                        <label>@PCM.WEB.Properties.Resources.data</label>
                        @Html.DropDownList("data", null, null, new { @class = "form-control material font-w600" })
                    </div>
                    <input type="hidden" name="nome_fantasia" id="nome_fantasia" value="@ViewBag.nome_fantasia" />
                    <input type="hidden" name="codigo_unidade" id="codigo_unidade" value="@Session["codigo_unidade"]" />
                </div>

                <br />

            </div>

            <div class="block break-after"></div>

            <div class="block d-print-normal" style="display:none">
                <div class="form-row">
                    <div class="col-3 mt-10">
                        <img class="img-avatar" src="@Session["imagem_sidebar"]" alt="">
                    </div>
                    <div class="col-6 text-center mt-10">
                        <label class="h2">Desempenho das Unidades</label>
                    </div>
                    <div class="col-3 text-right mt-10">
                        <label class="h4 font-w600">02/11</label>
                    </div>
                </div>
                <hr />
            </div>

            <div class="block">

                <div class="block-header block-header-default bg-secondary">
                    <h3 class="block-title-big text-white font-w600">@PCM.WEB.Properties.Resources.atendimento_ordem_servico</h3>
                </div>

                <div class="block-content block-content-full pb-1">

                    <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                    <table class="table table-striped table-sm table-bordered">
                        <thead>
                            <tr class="table-secondary">
                                <th>@PCM.WEB.Properties.Resources.unidade</th>
                                <th class="text-center" data-sortable="false">Qtd. Camareiras</th>
                                <th class="text-center" data-sortable="false">Qtd. Supervisores</th>
                                <th class="text-center" data-sortable="false">UHs Arrumadas</th>
                                <th class="text-center" data-sortable="false">UHs Permanência</th>
                                <th class="text-center" data-sortable="false">UHs Saída</th>
                                <th class="text-center" data-sortable="false">UHs Vistoriadas</th>
                                <th class="text-center" data-sortable="false">% Vistoriadas das Saídas</th>
                                <th class="text-center" data-sortable="false">Qtd. OS Manutenção</th>
                                <th class="text-center" data-sortable="false">Qtd. NC</th>
                                <th class="text-center" data-sortable="false">Qtd. Retrabalho</th>
                                <th class="text-center" data-sortable="false">Qtd. Alteração status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.info)
                            {
                                <tr>
                                    <td>@item.unidade</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeCamareiras</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeSupervisores</td>
                                    <td class="text-center" data-sortable="false">@item.uhsArrumadas</td>
                                    <td class="text-center" data-sortable="false">@item.uhsPermanencia</td>
                                    <td class="text-center" data-sortable="false">@item.uhsSaida</td>
                                    <td class="text-center" data-sortable="false">@item.uhsVistoriadas</td>
                                    <td class="text-center" data-sortable="false">@item.percentualVistoria</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeOSManutencao</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeNC</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeRetrabalho</td>
                                    <td class="text-center" data-sortable="false">@item.quantidadeAlteracaoStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        }

    </div>

</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/datatables")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/chart")
    @Scripts.Render("~/plugins/gauge")
    @Scripts.Render("~/plugins/select")

    <script>

        $(function () {

            $("#unidade").change(function () {
                $("#form").submit();
            });

            $("#data").change(function () {
                $("#form").submit();
            });

        });

    </script>
}

