<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.pcm</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.estoque</span>
                <a class="breadcrumb-item" href="@Url.Action("StockReplenishment", "InventoryMaterial")">@PCM.WEB.Properties.Resources.estEntrada</a>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("Entrada", "Estoque", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", id = "form", name = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="quantidadePendente" name="quantidadePendente" value="0" />
                    <input type="hidden" id="produtosJson" name="produtosJson" value="" />
                    <input type="hidden" id="codigoEmpresa" name="codigoEmpresa" value="@ViewBag.codigoEmpresa" />
                    <input type="hidden" id="codigoUsuario" name="codigoUsuario" value="@ViewBag.codigoUsuario" />
                    <input type="hidden" id="codigoFornecedor" name="codigoFornecedor" />

                    <div class="block block-rounded">
                        <div class="block-header block-header-default bg-gd-primary">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.estEntrada</h3>
                            <div class="block-options">
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" id="btnSave" name="btnSave"><i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.unidade</label>
                                    <div>@Html.DropDownList("unidade", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.numero_documento</label>
                                    <div><input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" placeholder="" value="" onkeypress="if(event.keyCode == 13){event.preventDefault(); $('#ordemCompra').focus(); return false; }"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.ordemCompra</label>
                                    <div>@Html.DropDownList("ordemCompra", null, "", new { @class = "form-control js-select2" })</div>
                                </div>
                                <div class="col-md-4" id="divListFornecedor" name="divListFornecedor">
                                    <label>@PCM.WEB.Properties.Resources.fornecedor</label>
                                    <div>@Html.DropDownList("fornecedor", null, "", new { @class = "form-control js-select2" })</div>
                                </div>
                                <div class="col-md-4" style="display:none" id="divNomeFornecedor" name="divNomeFornecedor">
                                    <label>@PCM.WEB.Properties.Resources.nome</label>
                                    <div><input type="text" class="form-control" id="nomeFornecedor" name="nomeFornecedor" disabled /></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.data</label>
                                    <div class="input-group">
                                        <input type="text" class="js-datepicker form-control" id="data" name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data" onkeypress="if(event.keyCode == 13){event.preventDefault(); startReplenishment(); return false; }">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-square btn-secondary" id="btnStartReplenishment" name="btnStartReplenishment">@PCM.WEB.Properties.Resources.entrada</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                @using (Html.BeginForm("StockReplenishment", "InventoryMaterial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", id = "formProduct", name = "formProduct", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="branchSave" name="branchSave" value="" />
                    <input type="hidden" id="documentSave" name="documentSave" value="" />
                    <input type="hidden" id="purchaseOrderSave" name="purchaseOrderSave" value="" />
                    <input type="hidden" id="supplierSave" name="supplierSave" value="" />
                    <input type="hidden" id="dateSave" name="dateSave" value="" />

                    <div class="block block-rounded" id="products">
                        <div class="block-header block-header-default bg-gd-primary">
                            <h3 class="block-title text-white font-w600 h1">@PCM.WEB.Properties.Resources.produto</h3>
                            <div class="block-options">
                                <label class="css-control css-control-secondary css-checkbox">
                                    <input type="checkbox" name="barcode_reader" id="barcode_reader" class="css-control-input" value="true" />
                                    <span class="css-control-indicator"></span>
                                    <span class="h5 text-white">@PCM.WEB.Properties.Resources.barcode</span>
                                </label>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-2" id="div_barcode" name="div_barcode" style="display:none">
                                    <label>@PCM.WEB.Properties.Resources.barcode</label>
                                    <div><input type="text" class="form-control" style="text-transform: uppercase;" id="barcode" name="barcode" placeholder="" value="" onkeypress="if(event.keyCode == 13){event.preventDefault(); document.getElementById('quantidade').focus(); return false; }" onblur="loadProductInfo();"></div>
                                </div>
                                <div class="col-md-2" id="div_product" name="div_product">
                                    <label>@PCM.WEB.Properties.Resources.produto</label>
                                    <div>@Html.DropDownList("produto", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.descricao</label>
                                    <div>
                                        <input type="text" class="form-control" style="text-transform: uppercase;" id="descricao" name="descricao" placeholder="" value="" disabled>
                                        <input type="hidden" class="form-control" id="produto" name="produto" value="0">
                                        <input type="hidden" class="form-control" id="quantidadeEstoque" name="quantidadeEstoque" value="0">
                                    </div>
                                </div>
                                <div class="col-md-2" id="divLote" name="divLote">
                                    <label>@PCM.WEB.Properties.Resources.lote</label>
                                    <div><input type="text" class="form-control" style="text-transform: uppercase;" id="lote" name="lote" placeholder="" value="" onkeypress="if(event.keyCode == 13){event.preventDefault(); $('#quantidade').focus(); return false; }"></div>
                                </div>
                                <div class="col-md-2" id="divDataValidade" name="divDataValidade">
                                    <label>@PCM.WEB.Properties.Resources.data_validade</label>
                                    <input type="text" class="js-datepicker form-control" id="dataValidade" name="dataValidade" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.quantidade</label>
                                    <div><input type="text" class="form-control" style="text-transform: uppercase;" id="quantidade" name="quantidade" placeholder="" value="" onkeypress="if(event.keyCode == 13){event.preventDefault(); $('#valorUnitario').focus(); return false; }"></div>
                                </div>
                                <div class="col-md-2" id="divUom" name="divUom">
                                    <label>@PCM.WEB.Properties.Resources.unidade_medida</label>
                                    <div>@Html.DropDownList("uom", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2" id="divUomPO" name="divUomPO" style="display:none">
                                    <label>@PCM.WEB.Properties.Resources.unidade_medida</label>
                                    <input type="text" class="form-control" style="text-transform: uppercase;" id="unidadeMedida" name="unidadeMedida" placeholder="" value="" disabled>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.valorUnitario</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="text-transform: uppercase;" id="valorUnitario" name="valorUnitario" placeholder="" value="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.total</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="text-transform: uppercase;" id="valorTotal" name="valorTotal" placeholder="" value="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2 text-left">
                                    <label>&nbsp;</label>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-square btn-secondary min-width-125" id="btnSaveProduct" name="btnSaveProduct">@PCM.WEB.Properties.Resources.inserir</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="block block-rounded border pt-10" id="tableProducts">

                            <table class="table table-bordered table-sm table-striped table-vcenter" id="tableMain" name="tableMain">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>@PCM.WEB.Properties.Resources.produto</th>
                                        <th>@PCM.WEB.Properties.Resources.descricao</th>
                                        <th>@PCM.WEB.Properties.Resources.lote</th>
                                        <th>@PCM.WEB.Properties.Resources.data_validade</th>
                                        <th>@PCM.WEB.Properties.Resources.quantidade</th>
                                        <th>UUnd. Med.</th>
                                        <th>@PCM.WEB.Properties.Resources.valorUnitario</th>
                                        <th>@PCM.WEB.Properties.Resources.total</th>
                                        <th data-sortable="false"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                    </div>

                }

            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/select")
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select")

    <script>

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }


    var table;
    var jsonData = [];
    var total_quantity = 0;
    var total = 0;
    var quantidadePendente = 0;
    var percentual = .0;
    var receiveMore = false;
    var controlaLote = false;
    var controlaDataValidade = false;
    var isStartReplanishment = false;

    $(function () {

        var unidade = $("#unidade");
        var produto = $("#produto");
        var ordemCompra = $("#ordemCompra");
        var fornecedor = $("#fornecedor");
        var barcodeReader = $("#barcode_reader");
        var uom = $("#uom");
        var quantidade = $("#quantidade");
        var valorUnitario = $("#valorUnitario");
        var valorTotal = $("#valorTotal");

        unidade.change(function () {

            var request = { "unidade": unidade.val(), "empresa": @ViewBag.codigoEmpresa };

            $.post("LoadComboProduto", request, function (obj) {
                produto.empty();
                option = $("<option>", { "value": "" }).text("");
                produto.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    produto.append(option);
                });
            }, "json");

            $.post("LoadComboOrdemCompra", request, function (obj) {
                ordemCompra.empty();
                option = $("<option>", { "value": "" }).text("");
                ordemCompra.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    ordemCompra.append(option);
                });
            }, "json");

            $.post("LoadComboFornecedor", request, function (obj) {
                fornecedor.empty();
                option = $("<option>", { "value": "" }).text("");
                fornecedor.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    fornecedor.append(option);
                });
            }, "json");

        });

        ordemCompra.change(function () {

            if (ordemCompra.val() == "") {

                $("#divNomeFornecedor").hide();
                $("#divListFornecedor").show();
                $("#divUomPO").hide();
                $("#divUom").show();

                var request = { "branch": branch.val() };

                $.post("LoadComboProduto", request, function (obj) {
                    produto.empty();
                    option = $("<option>", { "value": "" }).text("");
                    produto.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        produto.append(option);
                    });
                }, "json");

            } else {

                $("#nomeFornecedor").val(ordemCompra.val().split(";")[1]);
                $("#divNomeFornecedor").show();
                $("#divListFornecedor").hide();
                $("#divUom").hide();
                $("#divUomPO").show();

                var request = {
                    "codigoOrdemCompra": ordemCompra.val()
                };

                $.post("LoadComboOrdemCompraProduto", request, function (obj) {
                    produto.empty();
                    option = $("<option>", { "value": "" }).text("");
                    produto.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        produto.append(option);
                    });
                }, "json");

                jQuery.ajax({
                    type: "POST",
                    url: "LoadOrdemCompraInfo",
                    async: true,
                    data: {
                        "codigoOrdemCompra": ($("#ordemCompra").val() == "") ? "-1" : $("#ordemCompra").val()
                    },
                    dataType: "json",
                    success: function (data) {
                        $("#nomeFornecedor").val(data.fornecedor);
                        $("#codigoFornecedor").val(data.codigoFornecedor);
                    }
                });

            }

        });

        fornecedor.change(function () {

            if (fornecedor.val() == "") {
                $("#codigoFornecedor").val("0");
            } else {
                $("#codigoFornecedor").val(fornecedor.val());
            }

        });

        barcodeReader.change(function () {

            if (barcodeReader.is(':checked')) {
                $("#div_product").hide();
                $("#div_barcode").show();
            } else {
                $("#div_barcode").hide();
                $("#div_product").show();
            }

        });

        produto.change(function () {

            if ($("#produto").val() == "") {

                $("#descricao").val("");
                $("#lote").val("");
                $("#dataValidade").val("");
                $("#uom").val("");
                $("#quantidade").val("");

            } else {

                jQuery.ajax({
                    type: "POST",
                    url: "LoadProdutoInfo",
                    async: true,
                    data: {
                        "empresa": @ViewBag.codigoEmpresa,
                        "codigoOrdemCompra": ($("#ordemCompra").val() == "") ? "-1" : $("#ordemCompra").val(),
                        "produto": $("#produto").val()
                    },
                    dataType: "json",
                    success: function (data) {
                        $("#descricao").val(data.descricao);
                        $("#lote").prop("disabled", !data.controlaLote);
                        $("#dataValidade").prop("disabled", !data.controlaDataValidade);
                        $("#unidadeMedida").val(data.uom);
                        controlaLote = data.controlaLote;
                        controlaDataValidade = data.controlaDataValidade;
                        quantidadePendente = data.quantidadePendente;
                        $("#quantidadePendente").val(data.quantidadePendente);
                    }
                });

            }

        });

        quantidade.change(function () {

            var qty = quantidade.val() == "" ? 0 : quantidade.val().replace(".", "").replace(",", ".");
            var unitaryValue = valorUnitario.val() == "" ? 0 : valorUnitario.val().replace("R$ ", "").replace(".", "").replace(",", ".");

            $("#valorTotal").val("R$ " + (parseFloat(qty).toFixed(2) * parseFloat(unitaryValue).toFixed(2)).toFixed(2));

        });

        valorUnitario.change(function () {

            var qty = quantidade.val() == "" ? 0 : quantidade.val().replace(".", "").replace(",", ".");
            var unitaryValue = valorUnitario.val() == "" ? 0 : valorUnitario.val().replace("R$ ", "").replace(".", "").replace(",", ".");

            valorTotal.val("R$ " + (parseFloat(qty).toFixed(2) * parseFloat(unitaryValue).toFixed(2)).toFixed(2));

        });

        table = $('#tableMain').DataTable({
            lengthChange: false,
            pageLength: 15,
            processing: true,
            searching: false,
            scrollCollapse: true,
            serverSide: false,
            data: jsonData,
            columns: [
                { data: "produto" },
                { data: "descricao" },
                { data: "lote" },
                { data: "dataValidade" },
                { data: "quantidade" },
                { data: "uom" },
                { data: "valorUnitario" },
                { data: "valorTotal" },
                {
                    orderable: false,
                    data: null,
                    defaultContent: "<div class='btn-group'><button type='button' id='btnDelete' class= 'btn btn-sm btn-secondary'><i class='fa fa-times'></i></button></div>"
                }
            ],
            language: {
                emptyTable: "Nenhum registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
            },
            order: [[0, 'asc']],
            columnDefs: [
                { className: 'text-center', targets: [0, 2, 3, 4, 5, 6, 7, 8] },
                { width: '150px', targets: [0, 2, 3, 4, 5, 6, 7] },
                { width: '20px', targets: [8] }
            ],
        });


        $('#tableMain tbody').on('click', 'button', function () {

            var data = table.row($(this).closest('tr')).data();

            if (this.id == "btnDelete") {
                remove(data);
            }

        });

        $("#btnSave").click(function () {

            $("#btnSave").prop("disabled", true);
            $("#form").submit();

        });

        $("#btnSaveProduct").click(function () {

            $("#formProduct").submit();

        });

    });

    function Arquivo() {
        document.getElementById("lblArquivo").textContent = document.getElementById("fileInput").files[0].name;
    }

    function startReplenishment() {

        $("#unidade").select2({ disabled: true });
        $("#numeroDocumento").prop("disabled", true);
        $("#ordemCompra").prop("disabled", true);
        $("#fornecedor").prop("disabled", true);
        $("#data").prop("disabled", true);
        $("#barcode").val("");
        $("#produto").val("");
        $("#uom").val("");
        $("#descricao").val("");
        $("#lote").val("");
        $("#quantidade").val("");
        $("#valorUnitario").val("");
        $("#btnStartReplenishment").hide();
        $("#products").show();
        $("#tableProducts").show();
        if ($("#barcode_reader").is(':checked')) {
            $("#barcode").focus();
        } else {
            $("#produto").focus();
        }
        isStartReplanishment = true;

    };

    function addProduct() {

        var newRecord = {
            "produto": document.querySelector("#produto option:checked").textContent,
            "descricao": document.querySelector("#descricao").value,
            "lote": document.querySelector("#lote").value,
            "dataValidade": document.querySelector("#dataValidade").value,
            "quantidade": document.querySelector("#quantidade").value,
            "uom": document.querySelector("#uom option:checked").textContent,
            "codigoUnidadeMedida": document.querySelector("#uom").value,
            "codigoProduto": document.querySelector("#produto").value,
            "valorUnitario": document.querySelector("#valorUnitario").value,
            "valorTotal": document.querySelector("#valorTotal").value
        };

        jsonData.push(newRecord);

        table.clear().rows.add(jsonData).draw();

        $("#produtosJson").val(JSON.stringify(jsonData));

        $("#produto").val("");
        $("#descricao").val("");
        $("#lote").val("");
        $("#dataValidade").val("");
        $("#quantidade").val("");
        $("#uom").val("");
        $("#valorUnitario").val("");
        $("#valorTotal").val("");

    };

    function remove(data) {

        Swal.fire({
            title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
            text: "@Html.Raw(PCM.WEB.Properties.Resources.question_delete_register)",
            icon: "question",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
            denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                jsonData = jsonData.filter(function (item) {
                    return item.codigoProduto !== data.codigoProduto || item.lote !== data.lote
                });

                $("#produtosJson").val(JSON.stringify(jsonData));

                table.clear().rows.add(jsonData).draw();

            }
        });

        var tr = $(item).closest('tr');

        Swal.fire({
            title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
            text: "@Html.Raw(PCM.WEB.Properties.Resources.question_delete_register)",
            icon: "question",
            icon: "question",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
            denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                tr.fadeOut(400, function () {
                    tr.hide();
                    $("input[name$='[" + id + "].deleted']").val("1");

                    total_quantity -= parseFloat($("input[name$='[" + id + "].quantity']").val().toString().replace('.', '').replace(",", "."));
                    total -= (parseFloat($("input[name$='[" + id + "].quantity']").val().toString().replace('.', '').replace(",", ".")).toFixed(2) * parseFloat($("input[name$='[" + id + "].unitary_value']").val().toString().replace('R$ ', '').replace('.', '').replace(",", ".")).toFixed(2));

                    $('#table tfoot').empty();

                    //Adiciona linha a Grid
                    var newRowItemFooter = $("<tr id='row' class='table-warning'>");
                    var colsItemFooter = '<td class="font-w600 text-right" colspan="4">@PCM.WEB.Properties.Resources.total.ToUpper()</td>';
                    newRowItemFooter.append(colsItemFooter);
                    var colsItemFooter = '<td class="font-w600 text-center">' + total_quantity.toString() + '</td>';
                    newRowItemFooter.append(colsItemFooter);
                    var colsItemFooter = '<td colspan="2"></td>';
                    newRowItemFooter.append(colsItemFooter);
                    var colsItemFooter = '<td class="font-w600 text-center">R$ ' + total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }); + '</td>';
                    newRowItemFooter.append(colsItemFooter);
                    var colsItemFooter = '<td></td>';
                    newRowItemFooter.append(colsItemFooter);
                    $("#table_footer").append(newRowItemFooter);

                    delete objetos[id - 1];
                    if ($("table > tbody > tr:visible").length == 0) {
                        $("#table").hide();
                    }
                });
                return false;
            }
        });

    };

    jQuery.validator.addMethod("batchValidate", function (value, element) {

        if (controlaLote && value == "")
            return false
        else
            return true;

    }, "");

    jQuery.validator.addMethod("expirationDateValidate", function (value, element) {

        if (controlaDataValidade && value == "")
            return true
        else
            return true;

    }, "");

    jQuery.validator.addMethod("validate", function (value, element) {

        if (value == "")
            return false;
        else
            return true;

    }, "");

    jQuery.validator.addMethod("validateSupplier", function (value, element) {

        if ($("#ordemCompra").val() == "" && value == "")
            return false;
        else
            return true;

    }, "");

    jQuery.validator.addMethod("validateUOM", function (value, element) {

        if ($("#type").val() != "save" && $("#purchase_order").val() == "" && value == "")
            return false;
        else
            return true;

    }, "");

    jQuery.validator.addMethod("validateReceiveMore", function (value, element) {

        if (percentual > 0 || $("#ordemCompra").val() == "") {
            return true
        } else if (percentual == 0 && quantidadePendente >= value)
            return true;
        else
            return false;

    }, "");

    $('#form').validate({
        onkeyup: false,
        onclick: false,
        ignore: [],
        errorClass: 'invalid-feedback animated fadeInDown',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            jQuery(e).parents('.form-group > div').append(error);
        },
        highlight: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
        },
        success: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid');
            jQuery(e).remove();
        },
        rules: {
            'unidade': {
                required: true
            },
            'numeroDocumento': {
                required: true
            },
            'fornecedor': {
                validateSupplier: true
            },
            'data': {
                required: true
            }
        },
        messages: {
            'unidade': {
                required: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'numeroDocumento': {
                required: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'fornecedor': {
                validateSupplier: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'data': {
                required: '@PCM.WEB.Properties.Resources.campo_requerido'
            }
        },
        invalidHandler: function (event, validator) {
            $("#btnSave").prop("disabled", false);
        },
        submitHandler: function (form) {

            if (!isStartReplanishment) {
                startReplenishment();
                return false;
            }

            $("#unidade").prop("disabled", false);
            $("#numeroDocumento").prop("disabled", false);
            $("#ordemCompra").prop("disabled", false);
            $("#fornecedor").prop("disabled", false);
            $("#data").prop("disabled", false);

            return true;

        }
    });

    $('#formProduct').validate({
        onkeyup: false,
        onclick: false,
        ignore: [],
        errorClass: 'invalid-feedback animated fadeInDown',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            jQuery(e).parents('.form-group > div').append(error);
        },
        highlight: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
        },
        success: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid');
            jQuery(e).remove();
        },
        rules: {
            'produto': {
                validate: true
            },
            'lote': {
                batchValidate: true
            },
            'dataValidade': {
                expirationDateValidate: true
            },
            'quantidade': {
                validate: true,
                validateReceiveMore: true
            },
            'uom': {
                validateUOM: true
            },
            'valorUnitario': {
                validate: true
            }
        },
        messages: {
            'produto': {
                validate: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'lote': {
                batchValidate: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'dataValidade': {
                expirationDateValidate: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'quantidade': {
                validate: '@PCM.WEB.Properties.Resources.campo_requerido',
                validateReceiveMore: '@PCM.WEB.Properties.Resources.validacaoQuantidadeMaiorRecebimento'
            },
            'uom': {
                validateUOM: '@PCM.WEB.Properties.Resources.campo_requerido'
            },
            'valorUnitario': {
                validate: '@PCM.WEB.Properties.Resources.campo_requerido'
            }
        },
        invalidHandler: function (event, validator) {
            $("#btnSave").prop("disabled", false);
        },
        submitHandler: function (form) {

            if (jsonData.some(item => item.codigoProduto === $("#produto").val() && item.lote === $("#lote").val())) {
                Swal.fire({
                    title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
                    text: "@Html.Raw(PCM.WEB.Properties.Resources.valida_bd)",
                    icon: "warning",
                    showDenyButton: false,
                    showCancelButton: false,
                    confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
                });
            }
            else {
                addProduct();
            }

            return false;
        }
    });

    jQuery(function () {
        Codebase.helpers(['datepicker', 'maxlength', 'select2']);
        $("#products").hide();
        $("#tableProducts").hide();
        $("#quantidade").maskMoney({ prefix: '', thousands: '.', decimal: ',', precision: 0, allowNegative: false, 'placeholder': '' });
        $("#valorUnitario").maskMoney({ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false, 'placeholder': '' });
        $("#valorTotal").maskMoney({ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2, allowNegative: false, 'placeholder': '' });
    });

    </script>
}
