<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.pcm</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.estoque</span>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.estRequisicaoCompra </span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("RequisicaoCompra", "Estoque", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data", name = "form", id = "form" }))
        {
            @Html.AntiForgeryToken()

            <!-- Toggle Tasks Navigation on mobile -->
            <button type="button" class="btn btn-block btn-square btn-secondary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.search</button>

            <div class="js-tasks-nav d-none d-md-block">
                <div class="block block-rounded border">
                    <div class="block-header block-header-default bg-gd-primary">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.estRequisicaoCompra</h3>
                        @if (ViewBag.inserir)
                        {
                            <div class="block-options">
                                <a href="@Url.Action("RequisicaoCompraInsert", "Estoque")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.novo
                                </a>
                            </div>
                            <div class="block-options">
                                <a href="@Url.Action("RequisicaoCompraInsertSparePoint", "Estoque")" class="btn btn-square btn-secondary min-width-175 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.novoSparePoint
                                </a>
                            </div>
                        }
                    </div>
                    <div class="block-content">
                        <ul class="list-group push">
                            <li class="list-group-item">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label>@PCM.WEB.Properties.Resources.unidade</label>
                                        @Html.DropDownList("unidade", null, "", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        <label>@PCM.WEB.Properties.Resources.numero_requisicao</label>
                                        <input type="text" class="form-control" id="requisicaoCompra" name="requisicaoCompra" value="" maxlength="20">
                                    </div>
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.fornecedor</label>
                                        @Html.DropDownList("fornecedor", null, "", new { @class = "form-control js-select2" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.data</label>
                                        <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                            <input type="text" class="form-control" id="dataInicio" name="dataInicio" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text font-w600">-</span>
                                            </div>
                                            <input type="text" class="form-control" id="dataTermino" name="dataTermino" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.status</label>
                                        @Html.DropDownList("status", null, "", new { @class = "form-control js-select2" })
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-right">
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar"><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.search</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->

            <div class="block block-rounded border">

                <div class="block-content block-content-full border">

                    <table class="table table-sm table-vcenter table-striped js-dataTable-list" id="tbMain">

                        <thead class="table-secondary">
                            <tr>
                                <th data-sortable="false"></th>
                                <th>@PCM.WEB.Properties.Resources.numero_requisicao</th>
                                <th>@PCM.WEB.Properties.Resources.data</th>
                                <th>@PCM.WEB.Properties.Resources.ordemCompra</th>
                                <th>@PCM.WEB.Properties.Resources.fornecedor</th>
                                <th>@PCM.WEB.Properties.Resources.usuario</th>
                                <th>@PCM.WEB.Properties.Resources.status</th>
                                <th data-sortable="false"></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        }
    </div>

</main>
<!-- END Main Container -->
<!-- From Right Modal -->
<div class="modal fade" id="modalApproval" tabindex="-1" role="dialog" aria-labelledby="modal-large" aria-hidden="true">
    @using (Html.BeginForm("RequisicaoCompraAprovacao", "Estoque", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", @role = "form", @name = "form_modal_approval", @id = "form_modal_approval", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="codigoRequisicaoCompraModal" name="codigoRequisicaoCompraModal" value="" />
        <input type="hidden" id="codigoUnidadeModal" name="codigoUnidadeModal" value="" />
        <input type="hidden" id="numeroRequisicaoModal" name="numeroRequisicaoModal" value="" />

        <div class="modal-dialog modal-dialog-fromright modal-lg" role="document">
            <div class="modal-content">
                <div class="block block-transparent mb-15">
                    <div class="block-header block-header-default bg-gd-primary">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.requisicaoCompraAprovar</h3>
                    </div>
                    <div class="block-content block-content-full">

                        <div class="form-group row border-black-op-t mb-10">
                            <div class="col-12 mt-30">
                                <label>@PCM.WEB.Properties.Resources.ordemCompra:</label>
                                <input type="text" class="form-control" id="ordemCompra" name="ordemCompra" value="" maxlength="20">
                            </div>
                        </div>

                        <div class="form-group row mb-10">
                            <div class="col-md-12">
                                <label>@PCM.WEB.Properties.Resources.fornecedor:</label>
                                @Html.DropDownList("fornecedorOrdemCompra", null, "", new { @class = "form-control js-select2" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>@PCM.WEB.Properties.Resources.arquivo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="arquivo" name="arquivo" onchange="Arquivo();" accept="application/pdf">
                                    <label id="lblArquivo" class="custom-file-label" for="arquivo"></label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-hero col-12 btn-secondary text-center" data-toggle="click-ripple" type="button" onclick="$('#form_modal_approval').submit();">@PCM.WEB.Properties.Resources.aprovar.ToUpper()</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- END From Right Modal -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script type="text/javascript">

    function Arquivo() {
        document.getElementById("lblArquivo").textContent = document.getElementById("fileInput").files[0].name;
    }

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    function format(d) {

        var table_info = '';

        jQuery.ajax({
            type: "POST",
            url: "LoadRequisicaoCompraProduto",
            async: false,
            data: {
                "codigoRequisicaoCompra": d.codigoRequisicaoCompra
            },
            dataType: "json",
            success: function (response) {

                table_info = '<table class="table table-bordered table-vcenter"> ';
                table_info += '<thead> ';
                table_info += '<tr class="table-secondary"> ';
                table_info += '<th class="text-center col-2">@PCM.WEB.Properties.Resources.produto</th> ';
                table_info += '<th>@PCM.WEB.Properties.Resources.descricao</th> ';
                table_info += '<th class="text-center col-2">@PCM.WEB.Properties.Resources.quantidade</th> ';
                table_info += '<th class="text-center col-1">@PCM.WEB.Properties.Resources.unidade_medida</th> ';
                table_info += '</tr>';
                table_info += '</thead> ';
                table_info += '<tbody>';

                for (var i = 0; i < response.length; i++) {

                    table_info += '<tr class="bg-white"> ';
                    table_info += '<td class="text-center col-2">' + response[i].produto + '</td> ';
                    table_info += '<td>' + response[i].descricao + '</td> ';
                    table_info += '<td class="text-center col-2">' + response[i].quantidade + '</td> ';
                    table_info += '<td class="text-center col-1">' + response[i].uom + '</td> ';
                    table_info += '</tr>';
                }

                table_info += '</tbody> ' +
                              '</table>';

            }
        });

        return table_info;

    }

    $(document).ready(function () {

        $(this)
            .find('[data-fa-i2svg]')
            .toggleClass('fa-minus-square')
            .toggleClass('fa-plus-square');

        Codebase.helpers(['table-tools', 'datepicker', 'maxlength', 'select2']);

        var table = $('#tbMain').DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            fixedHeader: true,
            searching: true,
            lengthChange: false,
            pageLength: 15,
            autoWidth: false,
            scrollX: false,
            scrollColapse: true,
            ajax: {
                url: "LoadRequisicaoCompra",
                type: "POST",
                datatype: "json",
                data: function (d) {
                    d.codigoEmpresa = @ViewBag.codigoEmpresa,
                    d.codigoUnidade = ($("#unidade").val() == "") ? "-1" : $("#unidade").val(),
                    d.requisicaoCompra = $("#requisicaoCompra").val(),
                    d.codigoFornecedor = ($("#fornecedor").val() == "") ? -1 : $("#fornecedor").val(),
                    d.dataInicio = $("#dataInicio").val(),
                    d.dataTermino = $("#dataTermino").val(),
                    d.status = ($("#status").val() == "") ? -1 : $("#status").val()
                },
                dataSrc: ""
            },
            columns: [
                {
                    class: "details-control",
                    orderable: false,
                    data: null,
                    defaultContent: "",
                    render: function () {
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width: "15px"
                },
                { data: "numeroRequisicao" },
                { data: "dataCriacao" },
                { data: "ordemCompra" },
                { data: "fornecedor" },
                { data: "usuario" },
                { data: "statusDescricao" },
                {
                    orderable: false,
                    data: null,
                    defaultContent: "<div class='btn-group'><button type='button' id='btnCancel' class= 'btn btn-sm btn-secondary'><i class='fa fa-times'></i></button>" +
                                    "<button type='button' id='btnApproval' class= 'btn btn-sm btn-secondary'><i class='fa fa-check'></i></button></div>"
                }
            ],
            columnDefs: [
                {
                    className: 'text-center', targets: [0, 1, 2, 3, 7]
                },
                {
                    createdCell: function (td, cellData, rowData, row, col) {
                        if (col == 6)
                            $(td).addClass(rowData.cssClass);
                        if (col == 7 && rowData.status != 1) {
                            $(td).find('#btnCancel').hide();
                            $(td).find('#btnApproval').hide();
                        }
                    }, targets: [6, 7]
                },
                { width: '40px', targets: [0, 7] }
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', text: '@Html.Raw(PCM.WEB.Properties.Resources.copy)' },
                {
                    extend: 'print',
                    text: '@Html.Raw(PCM.WEB.Properties.Resources.print)'
                },
                { extend: 'excel' },
                { extend: 'pdf', orientation: 'portrait' },
            ],
            language: {
                emptyTable: "Nenhum registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
            }
        });


        $('#tbMain tbody').on('click', 'button', function () {

            var data = table.row($(this).closest('tr')).data();

            if (this.id == "btnCancel") {
                cancelRegister(data);
            } if (this.id == "btnApproval") {
                approvalRegister(data);
            }

        });

        function cancelRegister(data) {

            Swal.fire({
                title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
                html: "@Html.Raw(PCM.WEB.Properties.Resources.cancelarRegistro)<br><br><b>@Html.Raw(PCM.WEB.Properties.Resources.numero_requisicao): </b>" + data.numeroRequisicao,
                icon: "question",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
                denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    jQuery.ajax({
                        type: "POST",

                        url: "UpdateRequisicaoCompraStatus",
                        async: false,
                        data: {
                            "codigoRequisicaoCompra": data.codigoRequisicaoCompra,
                            "unidade": data.codigoUnidade,
                            "status": 9
                        },
                        dataType: "json",
                        success: function (response) {
                            Swal.fire({
                                title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
                                text: response,
                                icon: "success",
                                showDenyButton: false,
                                showCancelButton: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    table.ajax.reload(null, false);
                                }
                            });
                        }
                    });
                }
            });

        }

        function approvalRegister(data) {

            $("#codigoRequisicaoCompraModal").val(data.codigoRequisicaoCompra);
            $("#codigoUnidadeModal").val(data.codigoUnidade);
            $("#numeroRequisicaoModal").val(data.numeroRequisicao);


            var request = { "empresa": @ViewBag.codigoEmpresa, "unidade": data.codigoUnidade };

            $.post("LoadComboFornecedor", request, function (obj) {
                $('#fornecedorOrdemCompra').empty();
                option = $("<option>", { "value": "" }).text("");
                $('#fornecedorOrdemCompra').append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    $('#fornecedorOrdemCompra').append(option);
                });
            }, "json");



            $('#modalApproval').modal('show');

        }

        // Add event listener for opening and closing details
        $('#tbMain tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row(tr);


            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
                // tr.find('svg').attr('data-icon', 'plus-square');    // FontAwesome 5
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
                // tr.find('svg').attr('data-icon', 'minus-circle'); // FontAwesome 5
            }
        });

        table.on("user-select", function (e, dt, type, cell, originalEvent) {
            if ($(cell.node()).hasClass("details-control")) {
                e.preventDefault();
            }
        });

        // Reload DataTable
        $('#filtrar').click(function () {
            table.ajax.reload(null, false);
        });

    $('#form_modal_approval').validate({
        onkeyup: false,
        onclick: false,
        ignore: [],
        errorClass: 'invalid-feedback animated fadeInDown',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            jQuery(e).parents('.form-group > div').append(error);
        },
        highlight: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
        },
        success: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid');
            jQuery(e).remove();
        },
        rules: {
            'purchase_order': {
                required: true
            },
            'supplier_po': {
                required: true
            }
        },
        messages: {
            'purchase_order': {
                required: '@Html.Raw(PCM.WEB.Properties.Resources.campo_requerido)'
            },
            'supplier_po': {
                required: '@Html.Raw(PCM.WEB.Properties.Resources.campo_requerido)'
            }
        },
        submitHandler: function (form) {

            Swal.fire({
                title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
                html: "Deseja aprovar a Requisição de Compra: " + $("#numeroRequisicaoModal").val(),
                icon: "question",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
                denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    var oFile = document.getElementById("arquivo").files[0];
                    var formdata = new FormData();

                    formdata.append('arquivo', oFile);
                    formdata.append('codigoRequisicaoCompra', $("#codigoRequisicaoCompraModal").val());
                    formdata.append('unidade', $("#codigoUnidadeModal").val());
                    formdata.append('ordemCompra', $("#ordemCompra").val());
                    formdata.append('fornecedor', $("#fornecedorOrdemCompra").val());
                    formdata.append('status', 2);

                    $.ajax({
                        url: 'UpdateRequisicaoCompraStatus',
                        type: 'POST',
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (response) {

                            Swal.fire({
                                title: "@Html.Raw(PCM.WEB.Properties.Resources.pcm)",
                                text: response,
                                icon: "success",
                                showDenyButton: false,
                                showCancelButton: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    table.ajax.reload(null, false);
                                    $('#modalApproval').modal('hide');
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                            // Lógica de tratamento de erro
                        }
                    });

                }

            });

        }

    });

    });


</script>
}
