<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item">@PCM.WEB.Properties.Resources.governanca</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.apontamento</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("Apontamento", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="codigo" name="codigo" value="" />

            <!-- Toggle Tasks Navigation on mobile -->
            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-default">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.apontamento</h3>
                    <div class="block-options">

                        @if (ViewBag.inserir)
                        {
                            <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                            </button>
                        }
                    </div>
                </div>

                <div class="block-content block-content-full">
                    <input type="hidden" name="codigoApartamento" id="codigoApartamento" value="" />
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>@PCM.WEB.Properties.Resources.unidade</label>
                            @Html.DropDownList("unidade", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-3">
                            <label>@PCM.WEB.Properties.Resources.tipoGovernanca</label>
                            @Html.DropDownList("tipoGovernanca", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.data</label>
                            <input type="text" class="js-datepicker form-control" id="data" name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data">
                        </div>
                        <div class="col-md-4">
                            <label>@PCM.WEB.Properties.Resources.funcionario</label>
                            @Html.DropDownList("funcionario", null, "", new { @class = "js-select2 form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->

            <div class="block block-rounded border">

                <div class="block-content block-content-full">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.bloco</label>
                            @Html.DropDownList("bloco", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.andar</label>
                            @Html.DropDownList("andar", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Status Front Office</label>
                            @Html.DropDownList("frontOfficeStatus", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Status Quarto</label>
                            @Html.DropDownList("roomStatus", null, "", new { @class = "js-select2 form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive table-sm push block block-content-full p-10">
                <table class="table table-bordered table-hover js-dataTable-list" name="tbList" id="tb_main">

                    <thead>
                        <tr class="table-secondary">
                            <th class="text-md-center" style="width: 20px;" data-sortable="false"></th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.apartamento</th>
                            <th class="text-center">Status Front Office</th>
                            <th class="text-center">Status Quarto</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.bloco</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.andar</th>
                            <th >@PCM.WEB.Properties.Resources.tipo_apartamento</th>
                            <th >@PCM.WEB.Properties.Resources.tipo_cama</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.quantidade_cama</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.tipoGovernanca</th>
                            <th >@PCM.WEB.Properties.Resources.funcionario</th>
                        </tr>
                    </thead>

                </table>
            </div>

            <!-- END Page Content -->
        }

    </div>

</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script type="text/javascript">

    $(function () {

        $.ajaxSetup({async: false});

        var unidade = $("#unidade");
        var tipoGovernanca = $("#tipoGovernanca");
        var data = $("#data");
        var funcionario = $("#funcionario");
        var bloco = $("#bloco");
        var andar = $("#andar");
        var roomStatus = $("#roomStatus");
        var frontOfficeStatus = $("#frontOfficeStatus");

        unidade.change(function () {

            if (unidade.val() == "") {
                bloco.empty();
                andar.empty();
                funcionario.empty();
                frontOfficeStatus.empty();
                roomStatus.empty();
            }
            else {
                var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val() };

                $.post("LoadComboFuncionario", request, function (obj) {
                    funcionario.empty();
                    option = $("<option>", { "value": "" }).text("");
                    funcionario.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        funcionario.append(option);
                    });
                }, "json");

                $.post("LoadComboBloco", request, function (obj) {
                    bloco.empty();
                    option = $("<option>", { "value": "" }).text("");
                    bloco.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        bloco.append(option);
                    });
                }, "json");

                $.post("LoadComboAndar", request, function (obj) {
                    andar.empty();
                    option = $("<option>", { "value": "" }).text("");
                    andar.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        andar.append(option);
                    });
                }, "json");

                $.post("LoadComboStatusFrontOffice", request, function (obj) {
                    frontOfficeStatus.empty();
                    option = $("<option>", { "value": "" }).text("");
                    frontOfficeStatus.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        frontOfficeStatus.append(option);
                    });
                }, "json");

                $.post("LoadComboStatusRoom", request, function (obj) {
                    roomStatus.empty();
                    option = $("<option>", { "value": "" }).text("");
                    roomStatus.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        roomStatus.append(option);
                    });
                }, "json");

            }

            LoadApontamento();
        });

        tipoGovernanca.change(function () {
            LoadApontamento();
        });

        data.change(function () {
            LoadApontamento();
        });

        funcionario.change(function () {
            LoadApontamento();
        });

        bloco.change(function () {
            LoadApontamento();
        });

        andar.change(function () {
            LoadApontamento();
        });

        frontOfficeStatus.change(function () {
            LoadApontamento();
        });

        roomStatus.change(function () {
            LoadApontamento();
        });

        LoadApontamento();

        FormValidation.init();
    });

    function LoadApontamento() {

        // Init simple DataTable, for more examples you can check out https://www.datatables.net/
        table = $("#tb_main").DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            order: [[1, 'asc']],
            info: false,
            scrollCollapse: false,
            scrollY: '40vh',
            paging: false,
            fixedHeader: true,
            destroy: true,
            searching: false,
            paging: false,
            lengthChange: false,
            autoWidth: false,
            ajax: {
                url: "LoadApontamento",
                type: "POST",
                datatype: "json",
                data: {
                    "unidade": $("#unidade").val() == "" ? "-1" : $("#unidade").val(),
                    "tipoGovernanca": $("#tipoGovernanca").val() == "" ? "-1" : $("#tipoGovernanca").val(),
                    "data": $("#data").val() == "" ? "" : $("#data").val(),
                    "funcionario": $("#funcionario").val() == "" ? "-1" : $("#funcionario").val(),
                    "bloco": $("#bloco").val() == "" ? "" : $("#bloco").val(),
                    "andar": $("#andar").val() == "" ? "" : $("#andar").val(),
                    "frontOfficeStatus": $("#frontOfficeStatus").val() == "" ? "" : $("#frontOfficeStatus").val(),
                    "roomStatus": $("#roomStatus").val() == "" ? "" : $("#roomStatus").val()
                },
                dataSrc: ""
            },
            columns: [
                {
                    orderable: false,
                    data: "codigoApartamento",
                    defaultContent: "<td class='d-none d-sm-table-cell text-center' style='width: 50px;'>" +
                        "<label class='css-control-sm css-control-success css-checkbox py-0 px-0'>" +
                        "<input type='checkbox' id='checkbox' class='css-control-input' name='x'>" +
                        "<span class='css-control-indicator'></span>" +
                        "</label>" +
                        "</td >"
                },
                { data: "apartamento" },
                { data: "statusFrontOffice" },
                { data: "statusRoom" },
                { data: "bloco" },
                { data: "andar" },
                { data: "tipoApartamento" },
                { data: "tipoCama" },
                { data: "quantidadeCama" },
                { data: "tipoGovernanca" },
                { data: "funcionario" }
            ],
            columnDefs: [
                { className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8] },
                { width: '140px', targets: [1, 4, 5, 8] },
                { width: '200px', targets: [2, 3, 6, 7, 9] },
                {
                    targets: 0, // Index of the column starting from 0
                    type: 'html',
                    width: '20px',
                    orderable: false,
                    render: function (data, type, row) {
                        return "<label class='css-control-sm css-control-success css-checkbox py-0 px-0'> " +
                            "<input type='checkbox' class='css-control-input' value='" + row.codigoApartamento + "' " + row.selecionado + " name='x'>" +
                            "<span class='css-control-indicator'></span>" +
                            "</label>"
                    }   
                },
                {
                    createdCell: function (td, cellData, rowData, row, col) {

                        if (col == 1 && rowData.funcionario != "") {
                            $(td).addClass("bg-warning-light");
                        }

                        if (col == 9) {
                            $(td).addClass(rowData.cssClassTipoGovernaca);
                        }

                    }, targets: [1, 9]
                },
            ],
            language: {
                "search": "@Html.Raw(PCM.WEB.Properties.Resources.search):",
                "lengthMenu": "@Html.Raw(PCM.WEB.Properties.Resources.display) _MENU_ ",
                "zeroRecords": "@Html.Raw(PCM.WEB.Properties.Resources.zero_records)",
                "info": "_MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)",
                "infoEmpty": "",
                "infoFiltered": "@Html.Raw(PCM.WEB.Properties.Resources.filtered_from) _MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)"
            }
        });

    }

    // Add "Select All" checkbox in the header
    var table = $('#tb_main').DataTable();
    var selectAllCheckbox = $("<input type='checkbox' class='css-control-sm css-control-success css-checkbox py-0 px-0' value='-1'>").on('change', function () {
        var checkboxes = table.column(0).nodes().to$().find('input[type="checkbox"]');
        checkboxes.prop('checked', $(this).is(':checked'));
    });

    $('#tb_main thead th:eq(0)').append(selectAllCheckbox);

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.form-group > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'unidade': {
                        required: true
                    },
                    'tipoGovernanca': {
                        required: true
                    },
                    'data': {
                        required: true
                    },
                    'funcionario': {
                        required: true
                    }
                },
                messages: {
                    'unidade': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'tipoGovernanca': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'data': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'funcionario': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    }
                },
                submitHandler: function (form) {
                    objetos = [];
                    $('input[type=checkbox]').each(function () {
                        if (this.checked) {
                            objetos.push(this.value);
                        }
                    });
                    if (objetos.length > 0) {
                        $('#codigoApartamento').val(objetos.join(','));
                        return true;
                    } else {
                        return false;
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

</script>
}
