<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.nome_sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.governanca</span>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.lavanderia</span>
                <a class="breadcrumb-item active">@PCM.WEB.Properties.Resources.apontamento</a>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("ApontamentoLavanderia", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @id = "form", @name = "form" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="empresa" name="empresa" value="@ViewBag.codigoEmpresa" />
            <input type="hidden" id="enxovalJson" name="enxovalJson" value="" />

            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-primary">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.apontamento</h3>
                    <div class="block-options">
                        <button type="button" id="btnSave" name="btnSave" class="btn btn-square btn-secondary min-width-100 h-75"><i class=" fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                        <button type="button" id="btnPrint" name="btnPrint" class="btn btn-square btn-secondary min-width-100 h-75"><i class=" fa fa-print mr-5"></i>@PCM.WEB.Properties.Resources.imprimir</button>
                    </div>
                </div>
                <div class="block-content block-content-full">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>@PCM.WEB.Properties.Resources.unidade</label>
                            <div>@Html.DropDownList("unidade", null, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.data</label>
                            <div><input type="datetime" class="js-datepicker form-control" id="data" name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data" autocomplete="off"></div>
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.peso</label>
                            <div><input type="text" class="form-control" id="peso" name="peso" value="" maxlength="20"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-primary">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.enxoval</h3>
                </div>
                <div class="block-content block-content-full">
                    <table class="table table-bordered table-vcenter table-sm table-striped" id="tbEnxoval">

                        <thead class="table-secondary">
                            <tr>
                                <th class="col-8">@PCM.WEB.Properties.Resources.enxoval</th>
                                <th class="col-2">@PCM.WEB.Properties.Resources.quantidade</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

        }
    </div>
    <!-- END Basic Info -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select")

    <script type="text/javascript">

    $(document).ready(function () {

        loadApontamentoInfo();

        var jsonData = [];

        Codebase.helpers(['table-tools', 'datepicker', 'maxlength', 'select2']);
        $("#data").mask("99/99/9999");
        $("#peso").maskMoney({ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false, 'placeholder': '' });

        $("#btnSave").on('click', function (e) {
            $("#form").submit();
        });

        $("#unidade").change(function () {

            tbEnxoval.ajax.reload(null, false);
            loadApontamentoInfo();

        });

        $("#data").change(function () {

            tbEnxoval.ajax.reload(null, false);
            loadApontamentoInfo();

        });

        var tbEnxoval = $('#tbEnxoval').DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            fixedHeader: true,
            searching: false,
            lengthChange: false,
            paging: false,
            pageLength: 15,
            autoWidth: false,
            scrollX: false,
            scrollColapse: true,
            ajax: {
                url: "LoadLavanderiaEnxoval",
                type: "POST",
                datatype: "json",
                data: function (d) {
                    d.codigoEmpresa = @ViewBag.codigoEmpresa,
                    d.codigoUnidade = ($("#unidade").val() == "") ? "-1" : $("#unidade").val(),
                        d.data = ($("#data").val() == "") ? "" : $("#data").val()
                },
                dataSrc: ""
            },
            columns: [
                { data: "descricao" },
                {
                    data: "quantidade",
                    render: function (data, type, row, meta) {
                        return `<input type="text" name="quantidade" class="form-control text-center" value="${data}" data-rowindex="${meta.row}" />`;
                    }
                },
            ],
            columnDefs: [
                {
                    className: 'text-center', targets: [1]
                },
                { width: '150px', targets: [1] }
            ],
            language: {
                emptyTable: "Nenhum registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
            },
            drawCallback: function (settings) {
                // Aplica a máscara no campo quantidade após a tabela ser renderizada ou atualizada
                $('#tbEnxoval input[name="quantidade"]').maskMoney({
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    precision: 0,
                    allowNegative: false,
                    placeholder: ''
                });
            }
        });

        $('#form').validate({
            onkeyup: false,
            onclick: false,
            ignore: [],
            errorClass: 'invalid-feedback animated fadeInDown',
            errorElement: 'div',
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
            },
            success: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                jQuery(e).remove();
            },
            rules: {
                'unidade': {
                    required: true
                },
                'peso': {
                    required: true
                },
                'data': {
                    required: true
                }
            },
            messages: {
                'unidade': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'peso': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'data': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                }
            },
            submitHandler: function (form) {

                tbEnxoval.rows().every(function () {
                    let rowDataEnxoval = this.data();
                    let quantidadeEnxoval = $(this.node()).find('input[type="text"][name="quantidade"]').val();
                    rowDataEnxoval.quantidade = quantidadeEnxoval;
                    this.data(rowDataEnxoval);
                });

                let dataArrayEnxoval = tbEnxoval.rows().data().toArray();
                let jsonStringEnxoval = JSON.stringify(dataArrayEnxoval);
                $('#enxovalJson').val(jsonStringEnxoval);

                return true;

            }
        });

        function loadApontamentoInfo() {

            jQuery.ajax({
                type: "POST",
                url: "ApontamentoLavanderiaInfo",
                async: false,
                data: {
                    "empresa": $("#empresa").val(),
                    "unidade": ($("#unidade").val() == "") ? -1 : $("#unidade").val(),
                    "data": ($("#data").val() == "") ? "" : $("#data").val(),
                },
                dataType: "json",
                success: function (returnData) {
                    $("#peso").val(returnData.peso);
                    $("#btnSave").prop("disabled", returnData.impresso);
                }
            });

        }

    });

    </script>
}
