<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.nome_sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.governanca</span>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.lavanderia</span>
                <a class="breadcrumb-item active">@PCM.WEB.Properties.Resources.apontamento</a>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("ApontamentoLavanderia", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @id = "form", @name = "form" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="empresa" name="empresa" value="@ViewBag.codigoEmpresa" />
            <input type="hidden" id="enxovalJson" name="enxovalJson" value="" />

            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-primary">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.apontamento</h3>
                    <div class="block-options">
                        <button type="button" id="btnData" name="btnData" class="btn btn-square btn-secondary min-width-100 h-75"><i class=" fa fa-calendar mr-5"></i>@PCM.WEB.Properties.Resources.periodo</button>
                        <button type="button" id="btnSave" name="btnSave" class="btn btn-square btn-secondary min-width-100 h-75"><i class=" fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                        <button type="button" id="btnPrint" name="btnPrint" class="btn btn-square btn-secondary min-width-100 h-75"><i class=" fa fa-print mr-5"></i>@PCM.WEB.Properties.Resources.imprimir</button>
                    </div>
                </div>
                <div class="block-content block-content-full">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>@PCM.WEB.Properties.Resources.unidade</label>
                            <div>@Html.DropDownList("unidade", null, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="col-md-4">
                            <label>@PCM.WEB.Properties.Resources.tipo</label>
                            <div>@Html.DropDownList("tipo", null, "", new { @class = "form-control" })</div>
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.data</label>
                            <div><input type="datetime" class="js-datepicker form-control" id="data" name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data" autocomplete="off"></div>
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.peso</label>
                            <div><input type="text" class="form-control" id="peso" name="peso" value="" maxlength="20"></div>
                        </div>
                    </div>
                    <div class="form-group row" id="divHospede" name="divHospede">
                        <div class="col-2">
                            <label>@PCM.WEB.Properties.Resources.quantidade_hospede</label>
                            <div><input type="text" class="form-control" id="quantidade_hospede" name="quantidade_hospede" maxlength="5" value=""></div>
                        </div>
                        <div class="col-2">
                            <label>@PCM.WEB.Properties.Resources.ocupacao_quartos</label>
                            <div><input type="text" class="form-control" id="ocupacao_quartos" name="ocupacao_quartos" maxlength="5" value=""></div>
                        </div>
                    </div>
                    <div class="form-group row" id="divPerda" name="divPerda">
                        <div class="col-4">
                            <label>@PCM.WEB.Properties.Resources.tipoPerdaEnxoval</label>
                            <div>@Html.DropDownList("tipoPerdaEnxoval", null, "", new { @class = "form-control" })</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-primary">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.enxoval</h3>
                </div>
                <div class="block-content block-content-full">
                    <table class="table table-bordered table-vcenter table-sm table-striped" id="tbEnxoval">

                        <thead class="table-secondary">
                            <tr>
                                <th class="col-8">@PCM.WEB.Properties.Resources.enxoval</th>
                                <th class="col-2">@PCM.WEB.Properties.Resources.quantidade</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

        }
    </div>
    <!-- END Basic Info -->

    <!-- From Right Modal -->
    <div class="modal fade modal-lg" id="modalPeriodo" tabindex="-1" role="dialog" aria-labelledby="modalPeriodo" aria-hidden="true">
        @using (Html.BeginForm("OrdemServicoIndex", "OrdemServico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @name = "form_funcionario", @id = "form_funcionario", enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog modal-dialog-fromright" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-15">
                        <div class="block-header bg-gd-primary">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.periodo</h3>
                        </div>
                        <div class="block-content">
                            <label>@PCM.WEB.Properties.Resources.periodo</label>
                            <div class="form-group">
                                <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                    <input type="text" class="form-control" id="data_inicio_execucao" name="data_inicio_execucao" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="">
                                    <div class="input-group-prepend input-group-append">
                                        <span class="input-group-text font-w600">-</span>
                                    </div>
                                    <input type="text" class="form-control" id="data_termino_execucao" name="data_termino_execucao" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" data-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="btnConfirmar" id="btnConfirmar"><i class="fa fa-check mr-5"></i>Carregar dados</button>
                    </div>
                </div>
            </div>
        }
    </div>

</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select")

<script type="text/javascript">

    $(document).ready(function () {

        const basePath = window.location.pathname.split("/").slice(0, 2).join("/");

        loadApontamentoInfo();

        var jsonData = [];

        Codebase.helpers(['table-tools', 'datepicker', 'maxlength', 'select2']);
        $("#data").mask("99/99/9999");
        $("#peso").maskMoney({ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false, 'placeholder': '' });
        $("#btnData").hide();
        $("#divHospede").hide();
        $("#divPerda").hide();

        if ($("#tipo").val() == "1") {
            $("#divHospede").show();
        } else {
            $("#divHospede").hide();
        }

        if ($("#tipo").val() == "2") {
            $("#btnData").show();
        } else {
            $("#btnData").hide();
        }

        if ($("#tipo").val() == "4") {
            $("#divPerda").show();
        } else {
            $("#divPerda").hide();
        }


        $("#btnSave").on('click', function (e) {
            $("#form").submit();
        });

        $("#btnData").click(function () {
            $("#modalPeriodo").modal("show");
        });

        $("#btnConfirmar").click(function () {
            tbEnxoval.ajax.reload(null, false);
            $("#modalPeriodo").modal("hide");
        });

        $("#btnPrint").click(function () {
            const url =
                `${basePath}/RolLavanderia` +
                `?empresa=${$("#empresa").val()}` +
                `&unidade=${$("#unidade").val()}` +
                `&tipo=${$("#tipo").val()}` +
                `&data=${$("#data").val()}`;

            window.open(
                url,
                '_blank',
                'width=900,height=650,scrollbars=yes,resizable=yes'
            );
        });

        $("#unidade").change(function () {

            $("#data_inicio_execucao").val("");
            $("#data_termino_execucao").val("");
            tbEnxoval.ajax.reload(null, false);
            loadApontamentoInfo();

            if ($("#unidade").val() == "") {

                $("#tipoPerdaProduto").empty();
                $("#tipoPerdaEnxoval").prop("disabled", true);

            } else {

                var request = { "unidade": $("#unidade").val() };

                $.post("LoadComboTipoPerdaEnxoval", request, function (obj) {
                    $("#tipoPerdaEnxoval").empty();
                    option = $("<option>", { "value": "" }).text("");
                    $("#tipoPerdaEnxoval").append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        $("#tipoPerdaEnxoval").append(option);
                    });
                }, "json");

                $("#tipoPerdaEnxoval").prop("disabled", false);

            }

        });

        $("#tipo").change(function () {

            $("#data_inicio_execucao").val("");
            $("#data_termino_execucao").val("");
            $("#quantidade_hospede").val("");
            $("#ocupacao_quartos").val("");
            $("#tipoPerdaEnxoval").val("");

            if($("#tipo").val() == "1"){
                $("#divHospede").show();
            } else {
                $("#divHospede").hide();
            }

            if ($("#tipo").val() == "2") {
                $("#btnData").show();
                $("#btnPrint").show();
            } else {
                $("#btnData").hide();
                $("#btnPrint").hide();
            }

            if ($("#tipo").val() == "4") {
                $("#divPerda").show();
            } else {
                $("#divPerda").hide();
            }
            tbEnxoval.ajax.reload(null, false);
            loadApontamentoInfo();

        });

        $("#data").change(function () {

            $("#data_inicio_execucao").val("");
            $("#data_termino_execucao").val("");
            tbEnxoval.ajax.reload(null, false);
            loadApontamentoInfo();

        });

        var tbEnxoval = $('#tbEnxoval').DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            fixedHeader: true,
            searching: false,
            lengthChange: false,
            paging: false,
            pageLength: 15,
            autoWidth: false,
            scrollX: false,
            scrollColapse: true,
            ajax: {
                url: "LoadLavanderiaEnxoval",
                type: "POST",
                datatype: "json",
                data: function (d) {
                    d.codigoEmpresa = @ViewBag.codigoEmpresa,
                    d.codigoUnidade = ($("#unidade").val() == "") ? "-1" : $("#unidade").val(),
                    d.tipo = ($("#tipo").val() == "") ? "-1" : $("#tipo").val(),
                    d.data = ($("#data").val() == "") ? "" : $("#data").val(),
                    d.dataInicio = ($("#data_inicio_execucao").val() == "") ? "" : $("#data_inicio_execucao").val(),
                    d.dataTermino = ($("#data_termino_execucao").val() == "") ? "" : $("#data_termino_execucao").val()
                },
                dataSrc: ""
            },
            columns: [
                { data: "descricao" },
                {
                    data: "quantidade",
                    render: function (data, type, row, meta) {
                        return `<input type="text" name="quantidade" class="form-control text-center" value="${data}" data-rowindex="${meta.row}" />`;
                    }
                },
            ],
            columnDefs: [
                {
                    className: 'text-center', targets: [1]
                },
                { width: '150px', targets: [1] }
            ],
            language: {
                emptyTable: "Nenhum registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
            },
            drawCallback: function (settings) {
                // Aplica a máscara no campo quantidade após a tabela ser renderizada ou atualizada
                $('#tbEnxoval input[name="quantidade"]').maskMoney({
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    precision: 0,
                    allowNegative: false,
                    placeholder: ''
                });
                // Aplica a máscara no campo quantidade após a tabela ser renderizada ou atualizada
                $('#tbEnxoval input[name="quantidade"]').maskMoney({
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    precision: 0,
                    allowNegative: false,
                    placeholder: ''
                });
            }
        });

        jQuery.validator.addMethod("perda", function (value, element) {

            var result = false;

            if ($("#tipo").val() == "4" && value == "") {
                result = false;
            } else {
                result = true;
            }

            return result;

        }, "");

        $('#form').validate({
            onkeyup: false,
            onclick: false,
            ignore: [],
            errorClass: 'invalid-feedback animated fadeInDown',
            errorElement: 'div',
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
            },
            success: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                jQuery(e).remove();
            },
            rules: {
                'unidade': {
                    required: true
                },
                'tipo': {
                    required: true
                },
                'peso': {
                    required: true
                },
                'data': {
                    required: true
                },
                'tipoPerdaEnxoval': {
                    perda: true
                }
            },
            messages: {
                'unidade': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'tipo': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'peso': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'data': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'tipoPerdaEnxoval': {
                    perda: '@PCM.WEB.Properties.Resources.campo_requerido'
                }
            },
            submitHandler: function (form) {

                tbEnxoval.rows().every(function () {
                    let rowDataEnxoval = this.data();
                    let quantidadeEnxoval = $(this.node()).find('input[type="text"][name="quantidade"]').val();
                    rowDataEnxoval.quantidade = quantidadeEnxoval;
                    this.data(rowDataEnxoval);
                });

                let dataArrayEnxoval = tbEnxoval.rows().data().toArray();
                let jsonStringEnxoval = JSON.stringify(dataArrayEnxoval);
                $('#enxovalJson').val(jsonStringEnxoval);

                return true;

            }
        });

        function loadApontamentoInfo() {

            jQuery.ajax({
                type: "POST",
                url: "ApontamentoLavanderiaInfo",
                async: false,
                data: {
                    "empresa": $("#empresa").val(),
                    "unidade": ($("#unidade").val() == "") ? -1 : $("#unidade").val(),
                    "tipo": ($("#tipo").val() == "") ? -1 : $("#tipo").val(),
                    "data": ($("#data").val() == "") ? "" : $("#data").val(),
                },
                dataType: "json",
                success: function (returnData) {
                    $("#quantidade_hospede").val(returnData.quantidadeHospede);
                    $("#ocupacao_quartos").val(returnData.ocupacaoQuartos);
                    $("#peso").val(returnData.peso);
                    $("#btnSave").prop("disabled", returnData.impresso);
                }
            });

        }

    });

</script>
}
