@model PCM.WEB.MODELS.GovernancaApto

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item" href="@Url.Action("ChecklistGovernanca", "Governanca", new { unidade = @ViewBag.codigo_unidade, tipoGovernanca = @ViewBag.codigo_tipo_governanca})">@PCM.WEB.Properties.Resources.governanca_checklist</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.apontamento_governanca</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("ChecklistGovernancaApontamento", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data", @name = "form", @id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="codigo_apartamento" id="codigo_apartamento" value="@ViewBag.codigo_apartamento">
                    <input type="hidden" name="codigo_tipo_governanca" id="codigo_tipo_governanca" value="@ViewBag.codigo_tipo_governanca">
                    <input type="hidden" name="codigo_checklist" id="codigo_checklist" value="@ViewBag.codigo_checklist">
                    <input type="hidden" name="codigo_unidade" id="codigo_unidade" value="@ViewBag.codigo_unidade">
                    <input type="hidden" name="status" id="status" value="2">
                    <input type="hidden" name="nao_perturbe" id="nao_perturbe" value="false">

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.apontamento_governanca</h3>
                            <div class="block-options">
                                <button type="button" onclick="$('#nao_perturbe').val(true); $('#form').submit();" class="btn btn-square btn-secondary min-width-175 h-75"><i class="fa fa-pause-circle mr-5"></i>@PCM.WEB.Properties.Resources.nao_perturbe</button>
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75"><i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                                <a href="@Url.Action("ChecklistGovernanca", "Governanca", new { unidade = @ViewBag.codigo_unidade, tipoGovernanca = @ViewBag.codigo_tipo_governanca})" class="btn btn-square btn-secondary min-width-100 h-75"><i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar</a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">

                            <div class="form-group row">
                                <div class="col-md-2 col-xl-1">
                                    <div class="block block-rounded block-bordered block-link-shadow">
                                        <div class="text-center">
                                            <i class="fa fa-hotel fa-2x text-secondary"></i>
                                            <h6 class="font-w700 mb-5">@ViewBag.governanca.apartamento</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.responsavel_hotel</label>
                                    <div>@Html.DropDownList("vistoriador", null, "", new { @class = "js-select2 form-control", @name = "vistoriador", @id = "vistoriador"})</div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.camareira</label>
                                    <div>@Html.DropDownList("funcionario", null, "", new { @class = "js-select2 form-control", @name = "funcionario", @id = "funcionario" })</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.data</label>
                                    <div><input type="text" class="js-datepicker form-control" id="data" @ViewBag.administrador_string name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data"></div>
                                </div>
                                <div class="col-md-2 hora_inicio" data-autoclose="true">
                                    <label>@PCM.WEB.Properties.Resources.hora_inicio</label>
                                    <div><input type="text" class="form-control" id="hora_inicio" name="hora_inicio" value="@ViewBag.governanca.hora_inicio"></div>
                                </div>
                                <div class="col-md-2 hora_termino" data-autoclose="true">
                                    <label>@PCM.WEB.Properties.Resources.hora_termino</label>
                                    <div><input type="text" class="form-control" id="hora_termino" name="hora_termino" value="@ViewBag.governanca.hora_termino"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dynamic Table Full Pagination -->
                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.enxoval</h3>
                        </div>
                        <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                        <table class="table table-bordered table-sm table-striped table-vcenter" id="enxoval-table" name="enxoval-table">
                            <thead>
                                <tr>
                                    <th>@PCM.WEB.Properties.Resources.descricao</th>
                                    <th class="text-center" style="width:150px">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody id="table_linha" name="table_linha">
                                @for (int i = 0; i < Model.enxoval.Count; i++)
                                {
                                    <tr>
                                        @Html.HiddenFor(m => Model.enxoval[i].codigo_enxoval)
                                        <td>@Html.DisplayFor(m => Model.enxoval[i].enxoval)</td>
                                        <td>@Html.TextBoxFor(m => Model.enxoval[i].quantidade, new { @class = "js-masked-number-int form-control text-center", @maxlength = "2" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END Dynamic Table Full Pagination -->

                    <!-- Dynamic Table Full Pagination -->
                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                        </div>
                        <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                        <table class="table table-bordered table-sm table-striped table-vcenter" id="checklist-table" name="checklist-table">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:100px">Código</th>
                                    <th>@PCM.WEB.Properties.Resources.descricao </th>
                                    <th class="text-center" style="width:100px">@PCM.WEB.Properties.Resources.sim</th>
                                    <th class="text-center" style="width:100px">@PCM.WEB.Properties.Resources.nao</th>
                                    <th class="text-center" style="width:100px">@PCM.WEB.Properties.Resources.na</th>
                                    <th>@PCM.WEB.Properties.Resources.observacao</th>
                                    <th class="text-center" style="width:150px">@PCM.WEB.Properties.Resources.nova_vistoria</th>
                                </tr>
                            </thead>
                            <tbody id="table_linha" name="table_linha">
                                @for (int i = 0; i < Model.checklist.Count; i++)
                                {
                                    if ((i == 0) || (Model.checklist[i].grupo != Model.checklist[i - 1].grupo))
                                    {
                                        <tr class="table-info">
                                            <td colspan="7"><b>@Html.DisplayFor(m => Model.checklist[i].grupo)</b></td>
                                        </tr>
                                    }

                                    <tr id="linha" name="linha">
                                        @Html.HiddenFor(m => Model.checklist[i].codigo)
                                        @Html.HiddenFor(m => Model.checklist[i].descricao)
                                        <td class="text-center">@Html.DisplayFor(m => Model.checklist[i].checklist)</td>
                                        <td>@Html.DisplayFor(m => Model.checklist[i].descricao)</td>
                                        <td class="text-center" style="width:100px">
                                            <label class="css-control css-control-success css-checkbox">
                                                @Html.RadioButtonFor(m => Model.checklist[i].resultado, "S", new { @class = "css-control-input", @onChange = "opcaoNao(" + i + ", false);" })
                                                <span class="css-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td class="text-center" style="width:100px">
                                            <label class="css-control css-control-danger css-checkbox">
                                                @Html.RadioButtonFor(m => Model.checklist[i].resultado, "N", new { @class = "css-control-input", @onChange = "opcaoNao(" + i + ", this.checked);" })
                                                <span class="css-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td class="text-center" style="width:100px">
                                            <label class="css-control-sm css-control-secondary css-checkbox">
                                                @Html.RadioButtonFor(m => Model.checklist[i].resultado, "NA", new { @class = "css-control-input", @onChange = "opcaoNao(" + i + ", false);" })
                                                <span class="css-control-indicator"></span>
                                            </label>
                                        </td>
                                        <td>@Html.TextBoxFor(m => Model.checklist[i].observacao, new { @class = "form-control col-12", @maxlength = "200" })</td>
                                        <td class="text-center" style="width:150px">
                                            <label class="css-control css-control-success css-checkbox">
                                                @Html.CheckBoxFor(m => Model.checklist[i].nova_vistoria, new { @class = "css-control-input", @id = "[" + i + "].nova_vistoria" })
                                                <span class="css-control-indicator"></span>
                                            </label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END Dynamic Table Full Pagination -->
                }
                <!-- END Basic Info -->
            </div>
            <!-- END Update Product -->
        </div>
        <!-- END Page Content -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select")

<script>

        $(document).ready(function () { $("#data").mask("99/99/9999"); });
        $(document).ready(function () { $("#hora_inicio").mask("99:99"); });
        $(document).ready(function () { $("#hora_termino").mask("99:99"); });

        function opcaoNao(index, value) {
            document.getElementById("[" + index + "].nova_vistoria").checked = value;
        }

        $('.hora_inicio').clockpicker();
        $('.hora_termino').clockpicker();

        var codigo = $("#quantidade_linha").val();
        var item = 1;

        jQuery.fn.exists = function () {
            return jQuery(this).length > 0 ? true : false;
        };

        var FormValidation = function () {
            // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
            var initValidationBootstrap = function () {
                jQuery('.js-validation-bootstrap').validate({
                    ignore: [],
                    errorClass: 'invalid-feedback animated fadeInDown',
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        jQuery(e).parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                    },
                    success: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                        jQuery(e).remove();
                    },
                    rules: {
                        'funcionario': {
                            required: true
                        },
                        'data': {
                            required: $('#nao_perturbe').val()
                        },
                        'hora_inicio': {
                            required: $('#nao_perturbe').val(),
                            time: $('#nao_perturbe').val()
                        },
                        'hora_termino': {
                            required: $('#nao_perturbe').val(),
                            time: $('#nao_perturbe').val()
                        }
                    },
                    messages: {
                        'funcionario': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'data': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'hora_inicio': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'hora_termino': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        }
                    }
                });
            };

            return {
                init: function () {
                    // Init Bootstrap Forms Validation
                    initValidationBootstrap();
                }
            };
    }();


    $("#btnNaoPerturbe").click(function () {

        var dataString = {
            "codigoApartamento": $("#codigo_apartamento").val(),
            "codigoUnidade": $("#codigo_unidade").val(),
            "codigoTipoGovernanca": $("#codigo_tipo_governanca").val()
        };

        $.post("NaoPerturbe", dataString,
            function (result) {
                if (result.success) {
                    location.reload();
                } else {
                    alert(result.message);
                }
        });

    });


    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        Codebase.helpers(['datepicker', 'maxlength', 'select2', 'masked-inputs']);
        $('#funcionario').val(@ViewBag.governanca.codigo_funcionario).trigger("change");
    });

</script>
}
