<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item">@PCM.WEB.Properties.Resources.governanca</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.planejamento</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("Planejamento", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="codigo" name="codigo" value="" />

            <!-- Toggle Tasks Navigation on mobile -->
            <div class="block block-rounded border">
                <div class="block-header block-header-default bg-gd-default">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.planejamento - @ViewBag.lastUpdate</h3>
                    <div class="block-options">
                        <button type="button" id="btnClearPlanejamento" name="btnClearPlanejamento" class="btn btn-square btn-secondary min-width-100 h-75">
                            <i class="fa fa-times mr-5"></i>Limpar planejamento
                        </button>
                        <button type="button" id="btnSetTipoGovernanca" name="btnSetTipoGovernanca" class="btn btn-square btn-secondary min-width-100 h-75">
                            <i class="fa fa-hotel mr-5"></i>@PCM.WEB.Properties.Resources.definirTipoArrumacao
                        </button>
                        <button type="button" id="btnSetCamareira" name="btnSetCamareira" class="btn btn-square btn-secondary min-width-100 h-75">
                            <i class="fa fa-users mr-5"></i>@PCM.WEB.Properties.Resources.definirCamareira
                        </button>
                    </div>
                </div>

                <div class="block-content block-content-full">
                    <input type="hidden" name="codigoApartamento" id="codigoApartamento" value="" />
                    <input type="hidden" name="usuario" id="usuario" value="@ViewBag.usuario" />
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.unidade</label>
                            @Html.DropDownList("unidade", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.data</label>
                            <input type="text" class="js-datepicker form-control" id="data" name="data" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.data">
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->

            <div class="block block-rounded border">

                <div class="block-content block-content-full">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.bloco</label>
                            @Html.DropDownList("bloco", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.andar</label>
                            @Html.DropDownList("andar", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Status Front Office</label>
                            @Html.DropDownList("frontOfficeStatus", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>Status Quarto</label>
                            @Html.DropDownList("roomStatus", null, "", new { @class = "js-select2 form-control" })
                        </div>
                        <div class="col-md-2">
                            <label>@PCM.WEB.Properties.Resources.tipoGovernanca</label>
                            @Html.DropDownList("tipoGovernanca", null, "", new { @class = "js-select2 form-control" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive table-sm push block block-content-full p-10">
                <table class="table table-bordered table-hover js-dataTable-list" name="tbList" id="tb_main">

                    <thead>
                        <tr class="table-secondary">
                            <th class="text-md-center" style="width: 20px;" data-sortable="false"></th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.apartamento</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.tipoGovernanca</th>
                            <th>Data Chegada</th>
                            <th>Data Saída</th>
                            <th class="text-center">Status Front Office</th>
                            <th class="text-center">Status Quarto</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.bloco</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.andar</th>
                            <th>@PCM.WEB.Properties.Resources.tipo_apartamento</th>
                            <th>@PCM.WEB.Properties.Resources.tipo_cama</th>
                            <th class="text-center">@PCM.WEB.Properties.Resources.quantidade_cama</th>
                            <th>@PCM.WEB.Properties.Resources.funcionario</th>
                        </tr>
                    </thead>

                </table>
            </div>

            <!-- END Page Content -->
        }

    </div>

</main>
<!-- END Main Container -->
<!-- From Right Modal -->
<div class="modal fade" id="modCamareira" tabindex="-1" role="dialog" aria-labelledby="modCamareira" aria-hidden="true">
    @using (Html.BeginForm("OrdemServicoIndex", "OrdemServico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @name = "formCamareira", @id = "formCamareira", enctype = "multipart/form-data" }))
    {
        <div class="modal-dialog modal-dialog-fromright" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent">
                    <div class="block-header bg-gd-primary">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.camareira</h3>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <div>
                            @Html.DropDownList("camareira", null, "", new { @class = "js-select2 form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" data-bs-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
                    <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="btnSalveCamareira" id="btnSalveCamareira"><i class="fa fa-check mr-5"></i>@PCM.WEB.Properties.Resources.confirmado</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- From Right Modal -->
<div class="modal fade" id="modTipoGovernaca" tabindex="-1" role="dialog" aria-labelledby="modCamareira" aria-hidden="true">
    @using (Html.BeginForm("OrdemServicoIndex", "OrdemServico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @name = "formTipoGovernanca", @id = "formTipoGovernanca", enctype = "multipart/form-data" }))
    {
        <div class="modal-dialog modal-dialog-fromright" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent">
                    <div class="block-header bg-gd-primary">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.tipoGovernanca </h3>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <div>
                            @Html.DropDownList("tipoGovernancaAssociar", null, "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" data-bs-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
                    <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="btnSaveTipoGovernanca" id="btnSaveTipoGovernanca"><i class="fa fa-check mr-5"></i>@PCM.WEB.Properties.Resources.confirmado</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- END From Right Modal -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script type="text/javascript">
    const currentDate = new Date().toLocaleDateString('pt-BR');

    $(function () {

        $.ajaxSetup({async: false});

        var unidade = $("#unidade");
        var tipoGovernanca = $("#tipoGovernanca");
        var data = $("#data");
        var camareira = $("#camareira");
        var bloco = $("#bloco");
        var andar = $("#andar");
        var roomStatus = $("#roomStatus");
        var frontOfficeStatus = $("#frontOfficeStatus");

        unidade.change(function () {

            if (unidade.val() == "") {
                bloco.empty();
                andar.empty();
                camareira.empty();
                frontOfficeStatus.empty();
                roomStatus.empty();
            }
            else {
                var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val() };

                $.post("LoadComboCamareira", request, function (obj) {
                    camareira.empty();
                    option = $("<option>", { "value": "" }).text("");
                    camareira.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        camareira.append(option);
                    });
                }, "json");

                $.post("LoadComboBloco", request, function (obj) {
                    bloco.empty();
                    option = $("<option>", { "value": "" }).text("");
                    bloco.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        bloco.append(option);
                    });
                }, "json");

                $.post("LoadComboAndar", request, function (obj) {
                    andar.empty();
                    option = $("<option>", { "value": "" }).text("");
                    andar.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        andar.append(option);
                    });
                }, "json");

                $.post("LoadComboStatusFrontOffice", request, function (obj) {
                    frontOfficeStatus.empty();
                    option = $("<option>", { "value": "" }).text("");
                    frontOfficeStatus.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        frontOfficeStatus.append(option);
                    });
                }, "json");

                $.post("LoadComboStatusRoom", request, function (obj) {
                    roomStatus.empty();
                    option = $("<option>", { "value": "" }).text("");
                    roomStatus.append(option);
                    $.each(obj, function (indice, result) {
                        option = $("<option>", { "value": result.codigo }).text(result.descricao);
                        roomStatus.append(option);
                    });
                }, "json");

            }

            table.ajax.reload(null, false);
        });

        bloco.change(function () {
            table.ajax.reload(null, false);
        });

        andar.change(function () {
            table.ajax.reload(null, false);
        });

        frontOfficeStatus.change(function () {
            table.ajax.reload(null, false);
        });

        roomStatus.change(function () {
            table.ajax.reload(null, false);
        });

        tipoGovernanca.change(function () {
            table.ajax.reload(null, false);
        });

        loadPlanejamento();

        $('#btnSetCamareira').click(function () {

            $("#camareira").val("");

            $("#modCamareira").modal("show");

        });

        $('#btnSetTipoGovernanca').click(function () {

            $("#tipoGovernancaAssociar").val("");

            $("#modTipoGovernaca").modal("show");

        });

        $('#btnClearPlanejamento').click(function () {

            clearPlanejamento();

        });

    });

    function clearPlanejamento() {

        let codigosSelecionados = [];

        $("#tb_main input[type='checkbox']:checked").each(function () {
            let codigo = $(this).val();
            if (codigo && codigo !== "on") {
                codigosSelecionados.push({
                    codigoApartamento: codigo.trim()
                });
            }
        });

        if (codigosSelecionados.length === 0) {
            Swal.fire("Nenhuma UH Selecionada!", "", "warning");
            return;
        }

        // Serializa o array em uma string JSON
        const jsonCodigos = JSON.stringify(codigosSelecionados);

        Swal.fire({
            title: "PCM",
            html: "Deseja limpar o planejamento efetuado?",
            icon: "question",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
            denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {

                jQuery.ajax({
                    type: "POST",
                    url: "ClearPlanejamento",
                    async: false,
                    data: {
                        unidade: $("#unidade").val(),
                        usuario: $("#usuario").val(),
                        data: $("#data").val(),
                        json: jsonCodigos
                    },
                    dataType: "json",
                    success: function (response) {
                        Swal.fire({
                            title: "@PCM.WEB.Properties.Resources.pcm",
                            html: response,
                            icon: "info",
                            showDenyButton: false,
                            showCancelButton: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                table.ajax.reload(null, false);
                            }
                        });
                    }
                });
            }
        });

    }

    function loadPlanejamento() {

        // Init simple DataTable, for more examples you can check out https://www.datatables.net/
        table = $("#tb_main").DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            order: [[1, 'desc']],
            info: false,
            scrollCollapse: false,
            scrollY: '50vh',
            paging: false,
            fixedHeader: true,
            destroy: true,
            searching: false,
            paging: false,
            lengthChange: false,
            autoWidth: false,
            ajax: {
                url: "LoadPlanejamento",
                type: "POST",
                datatype: "json",
                data: function (d) {
                    d.unidade = $("#unidade").val() == "" ? "-1" : $("#unidade").val(),
                    d.tipoGovernanca = $("#tipoGovernanca").val() == "" ? "-1" : $("#tipoGovernanca").val(),
                    d.data = $("#data").val() == "" ? "" : $("#data").val(),
                    d.funcionario = $("#funcionario").val() == "" ? "-1" : $("#funcionario").val(),
                        d.uhAssociada = $("#uhAssociada").val() == "" ? "0" : $("#uhAssociada").val(),
                    d.bloco = $("#bloco").val() == "" ? "" : $("#bloco").val(),
                    d.andar = $("#andar").val() == "" ? "" : $("#andar").val(),
                    d.frontOfficeStatus = $("#frontOfficeStatus").val() == "" ? "" : $("#frontOfficeStatus").val(),
                    d.roomStatus = $("#roomStatus").val() == "" ? "" : $("#roomStatus").val()
                },
                dataSrc: ""
            },
            columns: [
                {
                    orderable: false,
                    data: "codigoApartamento",
                    defaultContent: "<td class='d-none d-sm-table-cell text-center' style='width: 50px;'>" +
                        "<label class='css-control-sm css-control-success css-checkbox py-0 px-0'>" +
                        "<input type='checkbox' id='checkbox' class='css-control-input' name='x'>" +
                        "<span class='css-control-indicator'></span>" +
                        "</label>" +
                        "</td >"
                },
                { data: "apartamento" },
                { data: "tipoGovernanca" },
                { data: "dataChegada" },
                { data: "dataSaida" },
                { data: "statusFrontOffice" },
                { data: "statusRoom" },
                { data: "bloco" },
                { data: "andar" },
                { data: "tipoApartamento" },
                { data: "tipoCama" },
                { data: "quantidadeCama" },
                { data: "funcionario" }
            ],
            columnDefs: [
                { className: 'text-center', targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] },
                { width: '140px', targets: [1, 4, 5, 8, 9, 10, 11] },
                { width: '200px', targets: [2, 3, 6, 7] },
                {
                    targets: 0, // Index of the column starting from 0
                    type: 'html',
                    width: '20px',
                    orderable: false,
                    render: function (data, type, row) {
                        return "<label class='css-control-sm css-control-success css-checkbox py-0 px-0'> " +
                            "<input type='checkbox' class='css-control-input' value='" + row.codigoApartamento + "' " + row.selecionado + " name='x'>" +
                            "<span class='css-control-indicator'></span>" +
                            "</label>"
                    }
                },
                {
                    createdCell: function (td, cellData, rowData, row, col) {

                        if (col === 1 && rowData.funcionario !== "") {
                            $(td).addClass("bg-warning-light");
                        }

                        if (col === 2) {
                            $(td).addClass(rowData.cssClassTipoGovernaca);
                        }

                        if (col === 3 && rowData.dataChegada === currentDate) {
                            $(td).addClass("bg-danger-light");
                        }

                        if (col === 4 && rowData.dataSaida === currentDate) {
                            $(td).addClass("bg-danger-light");
                        }

                        if ((col === 3 || col === 4) &&
                            rowData.dataChegada === currentDate &&
                            rowData.dataSaida === currentDate)
                        {
                            td.style.fontWeight = 'bold';
                        }

                        if ((col === 6) &&
                            rowData.statusRoom === 'RES. P/ HOJE') {
                            $(td).addClass("bg-danger-light");
                            td.style.fontWeight = 'bold';
                        }

                    },
                    targets: [1, 2, 3, 4, 6]
                }
            ],
            language: {
                "search": "@Html.Raw(PCM.WEB.Properties.Resources.search):",
                "lengthMenu": "@Html.Raw(PCM.WEB.Properties.Resources.display) _MENU_ ",
                "zeroRecords": "@Html.Raw(PCM.WEB.Properties.Resources.zero_records)",
                "info": "_MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)",
                "infoEmpty": "",
                "infoFiltered": "@Html.Raw(PCM.WEB.Properties.Resources.filtered_from) _MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)"
            }
        });

    }

    // Add "Select All" checkbox in the header
    var table = $('#tb_main').DataTable();
    var selectAllCheckbox = $("<input type='checkbox' class='css-control-sm css-control-success css-checkbox py-0 px-0' value='-1'>").on('change', function () {
        var checkboxes = table.column(0).nodes().to$().find('input[type="checkbox"]');
        checkboxes.prop('checked', $(this).is(':checked'));
    });

    $('#tb_main thead th:eq(0)').append(selectAllCheckbox);

    $('#formTipoGovernanca').validate({
        ignore: [],
        errorClass: 'invalid-feedback animated fadeInDown',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            jQuery(e).parents('.form-group > div').append(error);
        },
        highlight: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
        },
        success: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid');
            jQuery(e).remove();
        },
        rules: {
            'tipoGovernancaAssociar': {
                required: true
            }
        },
        messages: {
            'tipoGovernancaAssociar': {
                required: '@PCM.WEB.Properties.Resources.campo_requerido'
            }
        },
        submitHandler: function (form) {

            let codigosSelecionados = [];

            $("#tb_main input[type='checkbox']:checked").each(function () {
                let codigo = $(this).val();
                if (codigo && codigo !== "on") {
                    codigosSelecionados.push({
                        codigoApartamento: codigo.trim()
                    });
                }
            });

            if (codigosSelecionados.length === 0) {
                Swal.fire("Nenhuma UH Selecionada!", "", "warning");
                return;
            }

            // Serializa o array em uma string JSON
            const jsonCodigos = JSON.stringify(codigosSelecionados);

            // Envia via Ajax como parâmetros
            $.ajax({
                url: "/Governanca/UpdateTipoGovernanca",
                type: "POST",
                data: {
                    unidade: $("#unidade").val(),
                    data: $("#data").val(),
                    tipoGovernanca: $("#tipoGovernancaAssociar").val(),
                    usuario: $("#usuario").val(),
                    json: jsonCodigos
                },
                success: function (response) {
                    Swal.fire("Sucesso!", response, "success");
                },
                error: function (xhr, status, error) {
                    Swal.fire("Erro!", "Erro ao salvar.", "error");
                    console.error(error);
                }
            });

            table.ajax.reload(null, false);
            $('#modTipoGovernaca').modal('hide');

            return false;

        }
    });

    $('#formCamareira').validate({
        ignore: [],
        errorClass: 'invalid-feedback animated fadeInDown',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            jQuery(e).parents('.form-group > div').append(error);
        },
        highlight: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
        },
        success: function (e) {
            jQuery(e).closest('.form-group > div').removeClass('is-invalid');
            jQuery(e).remove();
        },
        rules: {
            'camareira': {
                required: true
            }
        },
        messages: {
            'camareira': {
                required: '@PCM.WEB.Properties.Resources.campo_requerido'
            }
        },
        submitHandler: function (form) {

            let codigosSelecionados = [];

            $("#tb_main input[type='checkbox']:checked").each(function () {
                let codigo = $(this).val();
                if (codigo && codigo !== "on") {
                    codigosSelecionados.push({
                        codigoApartamento: codigo.trim()
                    });
                }
            });

            if (codigosSelecionados.length === 0) {
                Swal.fire("Nenhuma UH selecionada!", "", "warning");
                return;
            }

            // Serializa o array em uma string JSON
            const jsonCodigos = JSON.stringify(codigosSelecionados);

            // Envia via Ajax como parâmetros
            $.ajax({
                url: "/Governanca/UpdateCamareira",
                type: "POST",
                data: {
                    unidade: $("#unidade").val(),
                    data: $("#data").val(),
                    camareira: $("#camareira").val(),
                    usuario: $("#usuario").val(),
                    json: jsonCodigos
                },
                success: function (response) {
                    Swal.fire("Sucesso!", response, "success");
                },
                error: function (xhr, status, error) {
                    Swal.fire("Erro!", "Erro ao salvar.", "error");
                    console.error(error);
                }
            });

            table.ajax.reload(null, false);
            $('#modCamareira').modal('hide');

            return false;

        }
    });

</script>
}
