@using PCM.WEB.Properties;
@using Newtonsoft.Json;

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@Resources.sistema</a>
                <span class="breadcrumb-item">@Resources.governanca</span>
                <a class="breadcrumb-item" href="@Url.Action("TipoPerda", "Governanca")">@Resources.tipoPerdaEnxoval</a>
                <span class="breadcrumb-item active">@Resources.inserir</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("TipoPerdaInsert", "Governanca", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", name = "form", id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="button" id="btnSave" name="btnSave" class="btn btn-square btn-secondary min-width-100 h-75"><i class="fa fa-save mr-5"></i>@Resources.salvar</button>
                                <a href="@Url.Action("TipoPerda", "Governanca")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@Resources.unidade</label>
                                    @Html.DropDownList("unidade", null, "", new { @class = "js-select2 form-control" })
                                </div>
                                <div class="col-md-6">
                                    <label>@Resources.descricao</label>
                                    <div><input type="text" class="form-control" id="descricao" name="descricao" value="" maxlength="100"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@Resources.ativo</label>
                                    @Html.DropDownList("ativo", null, "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable = Resources.emptyTable,
        msgQuestionDelete = Resources.msgQuestionDelete,
        msgNotPossibleReverse = Resources.msgNotPossibleReverse,
        msgQuestionApprovalInventory = Resources.msgQuestionApprovalInventory,
        msgQuestionReprovalInventory = Resources.msgQuestionReprovalInventory,
        yes = Resources.yes,
        no = Resources.no,
        clickToEdit = Resources.clickToEdit,
        clickToDelete = Resources.clickToDelete,
        clickToCopy = Resources.clickToCopy,
        clickToExcel = Resources.clickToExcel,
        clickToPdf = Resources.clickToPdf,
        clickToConfig = Resources.clickToConfig,
        clickToApproval = Resources.clickToApproval,
        clickToReproval = Resources.clickToReproval,
        enxoval = Resources.enxoval,
        quantidade = Resources.quantidade,
        quantidadeInventario = Resources.quantidadeInventario,
        quantidadeRouparia = Resources.quantidadeRouparia,
        quantidadeUso = Resources.quantidadeUso,
        quantidadeLavanderia = Resources.quantidadeLavanderia,
        divergencia = Resources.divergencia,
        validaBancoDados = Resources.valida_bd
    }))'>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {

    <script src="~/Content/js/pages/Governanca/jquery.tipoPerdaInsert.init.js"></script>

    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
}
