@model List<PCM.WEB.MODELS.ChecklistItem>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("ChecklistIndex", "CadastroBasico")">@PCM.WEB.Properties.Resources.checklist</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.editar</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("ChecklistInsert", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @name = "form", @id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input name="validation_type" type="hidden" value="2" id="validation_type" />

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="button" id="btnSave" onclick="$('#validation_type').val(1); $('#form').submit();" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("ChecklistIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.unidade</label>
                                    <div>@Html.DropDownList("unidade_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.tipo_checklist</label>
                                    <div>@Html.DropDownList("tipo_checklist_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.descricao</label>
                                    <div><input type="text" class="form-control" id="descricao_header_input" name="descricao_header_input" value="" maxlength="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block block-rounded border" id="checklist_input" style="display:none">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                            <div class="block-options">
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" onclick="adicionarChecklist();">
                                    <i class="fa fa-upload mr-5"></i>@PCM.WEB.Properties.Resources.arquivo
                                </button>
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" onclick="DownloadExcel()">
                                    <i class="fa fa-download mr-5"></i>@PCM.WEB.Properties.Resources.download
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">

                            <div class="form-group row">

                                <!-- Dynamic Table Full Pagination -->
                                <div class="col-12  ">
                                    <table class="table table-bordered table-sm table-striped table-vcenter" id="table" name="table">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th>@PCM.WEB.Properties.Resources.tipo_checklist</th>
                                                <th>@PCM.WEB.Properties.Resources.grupo_checklist</th>
                                                <th>@PCM.WEB.Properties.Resources.subgrupo_checklist</th>
                                                <th>@PCM.WEB.Properties.Resources.codigo</th>
                                                <th>@PCM.WEB.Properties.Resources.checklist</th>
                                                <th>@PCM.WEB.Properties.Resources.valor_minimo</th>
                                                <th>@PCM.WEB.Properties.Resources.valor_maximo</th>
                                                <th>@PCM.WEB.Properties.Resources.numero_digitos_leitor</th>
                                                <th>@PCM.WEB.Properties.Resources.permite_foto</th>
                                                <th>@PCM.WEB.Properties.Resources.auditado</th>
                                                <th>@PCM.WEB.Properties.Resources.equipamento</th>
                                                <th>@PCM.WEB.Properties.Resources.periodicidade</th>
                                                <th>@PCM.WEB.Properties.Resources.intervalo</th>
                                                <th>@PCM.WEB.Properties.Resources.unidade_medida</th>
                                                <th>@PCM.WEB.Properties.Resources.peso</th>
                                                <th>@PCM.WEB.Properties.Resources.peso - @PCM.WEB.Properties.Resources.grupo_checklist</th>
                                                <th>@PCM.WEB.Properties.Resources.peso - @PCM.WEB.Properties.Resources.subgrupo_checklist</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>

                }
            </div>
            <!-- END Basic Info -->
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
<!-- From Right Modal -->
<div class="modal fade" id="modalChecklist" tabindex="-1" role="dialog" aria-labelledby="modal-large" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromright modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-15">
                <div class="block-header block-header-default bg-gd-default">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close font-w600"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full">

                    <div class="form-group row">
                        <label class="col-12">@PCM.WEB.Properties.Resources.arquivo</label>
                        <div class="col-12">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileInput" name="fileInput" accept=".xlsx, .xls">
                                <span class="custom-file-label">@PCM.WEB.Properties.Resources.selecione_arquivo</span>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="salvar_arquivo" id="salvar_arquivo" onclick="Arquivo(); $('fileInput').val('');"><i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" onclick="$('fileInput').val('');;" data-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
            </div>

        </div>
    </div>
</div>
<!-- END From Right Modal -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {d
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script>

        var codigo = 1;

        function DownloadExcel() {
            location.href = '@Url.Action("DownloadExcel", "CadastroBasico")?codigo_tipo_checklist=' + $("#tipo_checklist_input").val() + '&codigo=' + $("#codigo").val() + '&unidade=' + $("#unidade_input").val();
        }

        function Arquivo() {

            var formdata = new FormData();
            var oFile = document.getElementById("fileInput");
            var tipo_checklist = document.getElementById("tipo_checklist_input").value;

            for (i = 0; i < oFile.files.length; i++) {
                formdata.append(oFile.files[i].name, fileInput.files[i]);
            }

            Codebase.layout('header_loader_on');

            //Creating an XMLHttpRequest and sending
            var oXMLHttpRequest = new XMLHttpRequest();
            oXMLHttpRequest.open('POST', 'UploadChecklist?tipo_checklist=' + tipo_checklist);
            oXMLHttpRequest.send(formdata);
            oXMLHttpRequest.onreadystatechange = function () {

                if (oXMLHttpRequest.readyState == 4 && oXMLHttpRequest.status == 200) {

                    var result = JSON.parse(oXMLHttpRequest.response);
                    $("#table_linha tr").remove();

                    if (result == "false") {

                        swal({
                            title: "Checklist",
                            text: 'Erro no formato / preenchimento da planilha. Favor verificar!',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'OK',
                            html: false,
                            preConfirm: function () {
                                return new Promise(function (resolve) {
                                    setTimeout(function () {
                                        resolve();
                                    }, 50);
                                });
                            }
                        });

                        oFile.innerText = "";
                        Codebase.layout('header_loader_off');
                        $("#close").click();

                    } else {

                        for (var i = 0; i < result.length; i++) {

                            //Adiciona linha a Grid
                            var newRowItem = $("<tr id='linha'>");
                            var colsItem = "";

                            //Adiciona Controles - Hidden
                            colsItem = '<input name="[' + i + '].codigo_tipo_item_checklist" type="hidden" value="' + result[i].codigo_tipo_item_checklist + '" />';
                            colsItem += '<input name="[' + i + '].codigo_periodicidade" type="hidden" value="' + result[i].codigo_periodicidade + '" />';
                            colsItem += '<input name="[' + i + '].intervalo" type="hidden" value="' + result[i].intervalo + '" />';
                            colsItem += '<input name="[' + i + '].tempo_estimado" type="hidden" value="' + result[i].tempo_estimado + '" />';
                            colsItem += '<input name="[' + i + '].allow_picture" type="hidden" value="' + result[i].allow_picture + '" />';
                            colsItem += '<input name="[' + i + '].grupo" type="hidden" value="' + result[i].grupo + '" />';
                            colsItem += '<input name="[' + i + '].peso_grupo" type="hidden" value="' + result[i].peso_grupo + '" />';
                            colsItem += '<input name="[' + i + '].subgrupo" type="hidden" value="' + result[i].subgrupo + '" />';
                            colsItem += '<input name="[' + i + '].peso_subgrupo" type="hidden" value="' + result[i].peso_subgrupo + '" />';
                            colsItem += '<input name="[' + i + '].checklist" type="hidden" value="' + result[i].checklist + '" />';
                            colsItem += '<input name="[' + i + '].descricao" type="hidden" value="' + result[i].descricao + '" />';
                            colsItem += '<input name="[' + i + '].valor_minimo" type="hidden" value="' + result[i].valor_minimo + '" />';
                            colsItem += '<input name="[' + i + '].valor_maximo" type="hidden" value="' + result[i].valor_maximo + '" />';
                            colsItem += '<input name="[' + i + '].unidade_medida" type="hidden" value="' + result[i].unidade_medida + '" />';
                            colsItem += '<input name="[' + i + '].auditado" type="hidden" value="' + result[i].auditado + '" />';
                            colsItem += '<input name="[' + i + '].codigo_departamento" type="hidden" value="' + result[i].codigo_departamento + '" />';
                            colsItem += '<input name="[' + i + '].ordem_servico" type="hidden" value="' + result[i].ordem_servico + '" />';
                            colsItem += '<input name="[' + i + '].excluido" type="hidden" value="0" />';
                            colsItem += '<input name="[' + i + '].peso" type="hidden" value="' + result[i].peso + '" />';
                            newRowItem.append(colsItem);

                            //Adiciona Linhas - Table
                            colsItem = '<td class="text-md-center" style="width: 150px;">' + result[i].tipo_item_checklist + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell">' + result[i].grupo + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 150px;">' + result[i].checklist + '</td>';
                            colsItem += '<td>' + result[i].descricao + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + result[i].periodicidade + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + result[i].intervalo + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 150px;">' + result[i].tempo_estimado + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 80px;"><a href="#" onclick="remove(this);" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></a></td>';
                            newRowItem.append(colsItem);

                            $("#table").append(newRowItem);

                            codigo = i;
                        }

                        oFile.innerText = "";
                        Codebase.layout('header_loader_off');
                        $("#close").click();
                    }
                }
            }

            return false;
        }

        function adicionarChecklist() {
            //Abre Formulário
            jQuery('#modalChecklist').modal('show');
        }

        $(function () {

            var tipo_checklist = $("#tipo_checklist_input");
            var periodicidade = $("#periodicidade_input");
            var tipo_checklist_item = $("#tipo_checklist_item_input");
            var auditado = $("#auditado_input");
            var unidade = $("#unidade");

            $('.custom-file-input').on('change',function(){
                var fileName = document.getElementById("fileInput").files[0].name;
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            })

            tipo_checklist.change(function () {

                if (tipo_checklist.val() == 1 || tipo_checklist.val() == 2 || tipo_checklist.val() == 8) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 3) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", false);
                    $("#intervalo_input").prop("disabled", false);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 4) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 5) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", true);
                    $("#subgrupo_input").prop("disabled", false);
                    $("#peso_checklist_input").prop("disabled", false);
                    $("#auditado_input").prop("disabled", true);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 6) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", true);
                    $("#subgrupo_input").prop("disabled", false);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", true);
                    $("#departamento").prop("disabled", false);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 10) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", false);
                } else {
                    $("#checklist_input").hide();
                }

            });

            unidade.change(function () {
                if (periodicidade.val() == -1) {
                    $("#intervalo_input").prop("disabled", true);
                } else {
                    $("#intervalo_input").prop("disabled", false);
                    $("#intervalo_input").val("");
                }
            });

        });

        // Initialize when page loads
        jQuery(function () {
            Codebase.helpers(['datepicker', 'maxlength', 'select2']);
        });

</script>

}
