@model List<PCM.WEB.MODELS.ChecklistItem>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("ChecklistIndex", "CadastroBasico")">@PCM.WEB.Properties.Resources.checklist</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.editar</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("ChecklistEdit", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", @name = "form", @id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input name="validation_type" type="hidden" value="2" id="validation_type" />
                    <input name="codigo" type="hidden" value="@ViewBag.checklist.codigo" id="codigo" />

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="button" id="btnSave" onclick="$('#validation_type').val(1); $('#form').submit();" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("ChecklistIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.unidade</label>
                                    <div>@Html.DropDownList("unidade_input", null, "", new { @class = "form-control", @disabled = "disabled" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.tipo_checklist</label>
                                    <div>@Html.DropDownList("tipo_checklist_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.descricao</label>
                                    <div><input type="text" class="form-control" id="descricao_header_input" name="descricao_header_input" value="@ViewBag.checklist.descricao" maxlength="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block block-rounded border" id="checklist_input" style="display:none">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                            <div class="block-options">
                                <button type="button" id="btnSaveChecklist" onclick="$('#validation_type').val(2); $('#form').submit();" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.incluir
                                </button>
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" onclick="adicionarChecklist();">
                                    <i class="fa fa-upload mr-5"></i>@PCM.WEB.Properties.Resources.arquivo
                                </button>
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" onclick="DownloadExcel()">
                                    <i class="fa fa-download mr-5"></i>@PCM.WEB.Properties.Resources.download
                                </button>
                            </div>
                        </div>
                        <div class="block-content block-content-full">

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.tipo_checklist</label>
                                    <div>@Html.DropDownList("tipo_checklist_item_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.periodicidade</label>
                                    <div>@Html.DropDownList("periodicidade_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.intervalo</label>
                                    <div><input type="text" class="form-control" id="intervalo_input" name="intervalo_input" value="" maxlength="5"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.tempo_estimado</label>
                                    <div><input type="text" id="tempo_estimado_input" name="tempo_estimado_input" value="0" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.permite_foto</label>
                                    <div>@Html.DropDownList("foto_input", null, "", new { @class = "form-control" })</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.grupo_checklist</label>
                                    <div><input type="text" id="grupo_checklist_input" name="grupo_checklist_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.peso</label>
                                    <div><input type="text" id="peso_grupo_checklist_input" name="peso_grupo_checklist_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.subgrupo_checklist</label>
                                    <div><input type="text" id="subgrupo_checklist_input" name="subgrupo_checklist_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.peso</label>
                                    <div><input type="text" id="peso_subgrupo_checklist_input" name="peso_subgrupo_checklist_input" value="" class="form-control"></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.codigo_checklist</label>
                                    <div><input type="text" id="checklist_input" name="checklist_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.descricao</label>
                                    <div><input type="text" id="descricao_input" name="descricao_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.ordem_servico</label>
                                    <div>@Html.DropDownList("ordem_servico", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.peso</label>
                                    <div><input type="text" id="peso_checklist_input" name="peso_checklist_input" value="" class="form-control"></div>
                                </div>
                            </div>

                            <div class="form-group row mb-20">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.valor_minimo</label>
                                    <div><input type="text" id="valor_minimo_input" name="valor_minimo_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.valor_maximo</label>
                                    <div><input type="text" id="valor_maximo_input" name="valor_maximo_input" value="" class="form-control"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.unidade_medida</label>
                                    <div><input type="text" id="unidade_medida_input" name="unidade_medida_input" value="" class="form-control" maxlength="10"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.auditado</label>
                                    <div>@Html.DropDownList("auditado_input", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.departamento</label>
                                    <div>@Html.DropDownList("departamento", null, "", new { @class = "form-control" })</div>
                                </div>
                            </div>

                            <div class="form-group row border-b"></div>

                            <div class="form-group row">

                                <!-- Dynamic Table Full Pagination -->
                                <div class="col-12  ">
                                    <table class="table table-bordered table-sm table-striped table-vcenter" id="table" name="table">
                                        <thead>
                                            <tr class="table-secondary">
                                                <th class="text-md-center" style="width: 150px;">@PCM.WEB.Properties.Resources.tipo_checklist</th>
                                                <th class="d-none d-md-table-cell">@PCM.WEB.Properties.Resources.grupo_checklist</th>
                                                <th class="text-md-center" style="width: 150px;">@PCM.WEB.Properties.Resources.codigo</th>
                                                <th>@PCM.WEB.Properties.Resources.checklist</th>
                                                <th class="d-none d-md-table-cell text-md-center" style="width: 100px;">@PCM.WEB.Properties.Resources.periodicidade</th>
                                                <th class="d-none d-md-table-cell text-md-center" style="width: 100px;">@PCM.WEB.Properties.Resources.intervalo</th>
                                                <th class="d-none d-md-table-cell text-md-center" style="width: 150px;">@PCM.WEB.Properties.Resources.tempo_estimado</th>
                                                <th class="text-md-center" style="width: 80px;" data-sortable="false"></th>
                                            </tr>
                                        </thead>

                                        <tbody id="table_linha" name="table_linha">

                                            @for (int i = 0; i < Model.Count; i++)
                                            {
                                            <tr id='linha'>
                                                @Html.HiddenFor(m => m[i].codigo_tipo_item_checklist)
                                                @Html.HiddenFor(m => m[i].codigo_periodicidade)
                                                @Html.HiddenFor(m => m[i].intervalo)
                                                @Html.HiddenFor(m => m[i].tempo_estimado)
                                                @Html.HiddenFor(m => m[i].allow_picture)
                                                @Html.HiddenFor(m => m[i].grupo)
                                                @Html.HiddenFor(m => m[i].peso_grupo)
                                                @Html.HiddenFor(m => m[i].subgrupo)
                                                @Html.HiddenFor(m => m[i].peso_subgrupo)
                                                @Html.HiddenFor(m => m[i].checklist)
                                                @Html.HiddenFor(m => m[i].descricao)
                                                @Html.HiddenFor(m => m[i].valor_minimo)
                                                @Html.HiddenFor(m => m[i].valor_maximo)
                                                @Html.HiddenFor(m => m[i].unidade_medida)
                                                @Html.HiddenFor(m => m[i].auditado)
                                                @Html.HiddenFor(m => m[i].excluido)
                                                @Html.HiddenFor(m => m[i].codigo_departamento)
                                                @Html.HiddenFor(m => m[i].ordem_servico)

                                                <td class="text-md-center" style="width: 150px;">@Html.DisplayFor(m => m[i].tipo_item_checklist)</td>
                                                <td class="d-none d-md-table-cell">@Html.DisplayFor(m => m[i].grupo)</td>
                                                <td class="text-md-center" style="width: 150px;">@Html.DisplayFor(m => m[i].checklist)</td>
                                                <td>@Html.DisplayFor(m => m[i].descricao)</td>
                                                <td class="d-none d-md-table-cell text-md-center" style="width: 100px;">@Html.DisplayFor(m => m[i].periodicidade)</td>
                                                <td class="d-none d-md-table-cell text-md-center" style="width: 100px;">@Html.DisplayFor(m => m[i].intervalo)</td>
                                                <td class="d-none d-md-table-cell text-md-center" style="width: 150px;">@Html.DisplayFor(m => m[i].tempo_estimado)</td>
                                                <td class="text-md-center" style="width: 80px;"><a href="#" onclick="remove(this);" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></a></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>

                }
            </div>
            <!-- END Basic Info -->
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
<!-- From Right Modal -->
<div class="modal fade" id="modalChecklist" tabindex="-1" role="dialog" aria-labelledby="modal-large" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fromright modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-15">
                <div class="block-header block-header-default bg-gd-default">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close font-w600"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content block-content-full">

                    <div class="form-group row">
                        <label class="col-12">@PCM.WEB.Properties.Resources.arquivo</label>
                        <div class="col-12">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fileInput" name="fileInput" accept=".xlsx, .xls">
                                <span class="custom-file-label">@PCM.WEB.Properties.Resources.selecione_arquivo</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="salvar_arquivo" id="salvar_arquivo" onclick="Arquivo(); $('fileInput').val('');"><i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar</button>
                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" onclick="$('fileInput').val('');;" data-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
            </div>

        </div>
    </div>
</div>
<!-- END From Right Modal -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {d
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script>

        var codigo = 1;

        $(document).ready(function () {
            $("#intervalo_input").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' });
            $("#tempo_estimado_input").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' });
            $("#peso_checklist_input").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' });
            $("#valor_minimo_input").maskMoney({ decimal: ",", thousands: "." });
            $("#valor_maximo_input").maskMoney({ decimal: ",", thousands: "." });
        });

        function DownloadExcel() {
            location.href = '@Url.Action("DownloadExcel", "CadastroBasico")?codigo_tipo_checklist=' + $("#tipo_checklist_input").val() + '&codigo=' + $("#codigo").val() + '&unidade=' + $("#unidade_input").val();
        }

        var change_equipamento = false;

        function Arquivo() {

            var formdata = new FormData();
            var oFile = document.getElementById("fileInput");
            var tipo_checklist = document.getElementById("tipo_checklist_input").value;

            for (i = 0; i < oFile.files.length; i++) {
                formdata.append(oFile.files[i].name, fileInput.files[i]);
            }

            Codebase.layout('header_loader_on');

            //Creating an XMLHttpRequest and sending
            var oXMLHttpRequest = new XMLHttpRequest();
            oXMLHttpRequest.open('POST', 'UploadChecklist?tipo_checklist=' + tipo_checklist);
            oXMLHttpRequest.send(formdata);
            oXMLHttpRequest.onreadystatechange = function () {

                if (oXMLHttpRequest.readyState == 4 && oXMLHttpRequest.status == 200) {

                    var result = JSON.parse(oXMLHttpRequest.response);
                    $("#table_linha tr").remove();

                    if (result == "false") {

                        swal({
                            title: "Checklist",
                            text: 'Erro no formato / preenchimento da planilha. Favor verificar.!',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'OK',
                            html: false,
                            preConfirm: function () {
                                return new Promise(function (resolve) {
                                    setTimeout(function () {
                                        resolve();
                                    }, 50);
                                });
                            }
                        });

                        oFile.innerText = "";
                        Codebase.layout('header_loader_off');
                        $("#close").click();

                    } else {

                        for (var i = 0; i < result.length; i++) {

                            //Adiciona linha a Grid
                            var newRowItem = $("<tr id='linha'>");
                            var colsItem = "";

                            //Adiciona Controles - Hidden
                            colsItem = '<input name="[' + i + '].codigo_tipo_item_checklist" type="hidden" value="' + result[i].codigo_tipo_item_checklist + '" />';
                            colsItem += '<input name="[' + i + '].codigo_periodicidade" type="hidden" value="' + result[i].codigo_periodicidade + '" />';
                            colsItem += '<input name="[' + i + '].intervalo" type="hidden" value="' + result[i].intervalo + '" />';
                            colsItem += '<input name="[' + i + '].tempo_estimado" type="hidden" value="' + result[i].tempo_estimado + '" />';
                            colsItem += '<input name="[' + i + '].allow_picture" type="hidden" value="' + result[i].allow_picture + '" />';
                            colsItem += '<input name="[' + i + '].grupo" type="hidden" value="' + result[i].grupo + '" />';
                            colsItem += '<input name="[' + i + '].peso_grupo" type="hidden" value="' + result[i].peso_grupo + '" />';
                            colsItem += '<input name="[' + i + '].subgrupo" type="hidden" value="' + result[i].subgrupo + '" />';
                            colsItem += '<input name="[' + i + '].peso_subgrupo" type="hidden" value="' + result[i].peso_subgrupo + '" />';
                            colsItem += '<input name="[' + i + '].checklist" type="hidden" value="' + result[i].checklist + '" />';
                            colsItem += '<input name="[' + i + '].descricao" type="hidden" value="' + result[i].descricao + '" />';
                            colsItem += '<input name="[' + i + '].valor_minimo" type="hidden" value="' + result[i].valor_minimo + '" />';
                            colsItem += '<input name="[' + i + '].valor_maximo" type="hidden" value="' + result[i].valor_maximo + '" />';
                            colsItem += '<input name="[' + i + '].unidade_medida" type="hidden" value="' + result[i].unidade_medida + '" />';
                            colsItem += '<input name="[' + i + '].auditado" type="hidden" value="' + result[i].auditado + '" />';
                            colsItem += '<input name="[' + i + '].excluido" type="hidden" value="0" />';
                            colsItem += '<input name="[' + i + '].peso" type="hidden" value="' + result[i].peso + '" />';
                            colsItem += '<input name="[' + i + '].codigo_departamento" type="hidden" value="' + result[i].codigo_departamento + '" />';
                            colsItem += '<input name="[' + i + '].ordem_servico" type="hidden" value="' + result[i].ordem_servico + '" />';
                            newRowItem.append(colsItem);

                            //Adiciona Linhas - Table
                            colsItem = '<td class="text-md-center" style="width: 150px;">' + result[i].tipo_item_checklist.toUpperCase() + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell">' + result[i].grupo.toUpperCase() + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 150px;">' + result[i].checklist.toUpperCase() + '</td>';
                            colsItem += '<td>' + result[i].descricao.toUpperCase() + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + result[i].periodicidade + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + result[i].intervalo + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 150px;">' + result[i].tempo_estimado + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 80px;"><a href="#" onclick="remove(this);" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></a></td>';
                            newRowItem.append(colsItem);

                            $("#table").append(newRowItem);

                            codigo = i;
                        }

                        oFile.innerText = "";
                        Codebase.layout('header_loader_off');
                        $("#close").click();
                    }
                }
            }

            return false;
        }

        function adicionarChecklist() {
            //Abre Formulário
            jQuery('#modalChecklist').modal('show');
        }

        function remove(item, id) {
            var tr = $(item).closest('tr');
            tr.fadeOut(400, function () {
                tr.hide();
                $("input[name$='[" + id + "].excluido']").val("1");
            });
            return false;
        };

        $(function () {

            var tipo_checklist = $("#tipo_checklist_input");
            var periodicidade = $("#periodicidade_input");
            var tipo_checklist_item = $("#tipo_checklist_item_input");
            var auditado = $("#auditado_input");

            $('.custom-file-input').on('change',function(){
                var fileName = document.getElementById("fileInput").files[0].name;
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            })

            tipo_checklist.change(function () {

                if (tipo_checklist.val() == 1 || tipo_checklist.val() == 2 || tipo_checklist.val() == 8) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 3) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", false);
                    $("#intervalo_input").prop("disabled", false);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 4) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 5) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", true);
                    $("#subgrupo_input").prop("disabled", false);
                    $("#peso_checklist_input").prop("disabled", false);
                    $("#auditado_input").prop("disabled", true);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 6) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", true);
                    $("#subgrupo_input").prop("disabled", false);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", true);
                    $("#departamento").prop("disabled", false);
                    $("#ordem_servico").prop("disabled", true);
                } else if (tipo_checklist.val() == 10) {
                    $("#checklist_input").show();
                    $("#periodicidade_input").prop("disabled", true);
                    $("#intervalo_input").prop("disabled", true);
                    $("#tempo_estimado_input").prop("disabled", false);
                    $("#subgrupo_input").prop("disabled", true);
                    $("#peso_checklist_input").prop("disabled", true);
                    $("#auditado_input").prop("disabled", false);
                    $("#departamento").prop("disabled", true);
                    $("#ordem_servico").prop("disabled", false);
                } else {
                    $("#checklist_input").hide();
                }

            });

            periodicidade.change(function () {
                if (periodicidade.val() == -1) {
                    $("#intervalo_input").prop("disabled", true);
                } else {
                    $("#intervalo_input").prop("disabled", false);
                    $("#intervalo_input").val("");
                }
            });

            tipo_checklist_item.change(function () {
                if (tipo_checklist_item.val() == 2) {
                    $("#valor_minimo_input").prop("disabled", false);
                    $("#valor_maximo_input").prop("disabled", false);
                    $("#unidade_medida_input").prop("disabled", false);
                } else {
                    $("#valor_minimo_input").prop("disabled", true);
                    $("#valor_minimo_input").val("");
                    $("#valor_maximo_input").prop("disabled", true);
                    $("#valor_maximo_input").val("");
                    $("#unidade_medida_input").prop("disabled", true);
                    $("#unidade_medida_input").val("");
                }
            });

        });

        jQuery.validator.addMethod("campo", function (value, element) {

            if (element.disabled == true)
                return true;
            else if (value != "")
                return true;
            else
                return false;

        }, "");

        jQuery.validator.addMethod("required1", function (value, element) {

            if (element.disabled == true || $("#validation_type").val() == 2)
                return true;
            else if (value != "" || $("#validation_type").val() == 2)
                return true;
            else
                return false;

        }, "");

        jQuery.validator.addMethod("descricao_bd", function (value, element) {

            var dataString = {
                "descricao": value,
                "codigo": @ViewBag.checklist.codigo
            };

            var result = false;

            jQuery.ajax({
                type: "POST",
                url: "ValidaChecklist",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    if (return_data == false) {
                        result = false;
                    } else if (return_data == true) {
                        result = true;
                    }
                }
            });

            return result;

        }, "");

        jQuery.validator.addMethod("required2", function (value, element) {

            if (element.disabled == true || $("#validation_type").val() == 1)
                return true;
            else if (value != "" || $("#validation_type").val() == 1)
                return true;
            else
                return false;

        }, "");

        jQuery.validator.addMethod("greaterThan", function (value, element, params) {

            if ($("#validation_type").val() == 1) {
                return true;
            } else {
                if ($("#valor_minimo").val() == "" && $("#validation_type").val() == 2)
                    return false;
                else if (value >= $("#valor_minimo").val() && $("#validation_type").val() == 2)
                    return true;
                else
                    return false;
            };

        }, "");

        jQuery.validator.addMethod("lessThan", function (value, element, params) {

            if ($("#validation_type").val() == 1) {
                return true;
            } else {
                if ($("#valor_maximo").val() == "" && $("#validation_type").val() == 2)
                    return false;
                else if (value <= $("#valor_maximo").val() && $("#validation_type").val() == 2)
                    return true;
                else
                    return false;
            };

        }, "");


        var FormValidation = function () {
            // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
            var initValidationBootstrap = function () {
                jQuery('.js-validation-bootstrap').validate({
                    ignore: [],
                    errorClass: 'invalid-feedback animated fadeInDown',
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        jQuery(e).parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                    },
                    success: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                        jQuery(e).remove();
                    },
                    rules: {
                        'unidade_input': {
                            required1: true
                        },
                        'tipo_checklist_input': {
                            required1: true
                        },
                        'descricao_header_input': {
                            required1: true,
                            descricao_bd: true
                        },
                        'tipo_checklist_item_input': {
                            required2: true
                        },
                        'periodicidade_input': {
                            required2: true
                        },
                        'intervalo_input': {
                            required2: true
                        },
                        'tempo_estimado_input': {
                            required2: true
                        },
                        'grupo_checklist_input': {
                            required2: true
                        },
                        'checklist_input': {
                            required2: true
                        },
                        'descricao_input': {
                            required2: true
                        },
                        'valor_minimo_input': {
                            required2: true,
                            lessThan: true
                        },
                        'valor_maximo_input': {
                            required2: true,
                            greaterThan: true
                        },
                        'unidade_medida_input': {
                            required2: true
                        },
                        'auditado_input': {
                            required2: true
                        }
                    },
                    messages: {
                        'unidade_input': {
                            required1: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'tipo_checklist_input': {
                            required1: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'descricao_header_input': {
                            required1: '@PCM.WEB.Properties.Resources.campo_requerido',
                            descricao_bd: '@PCM.WEB.Properties.Resources.valida_descricao_bd'
                        },
                        'tipo_checklist_item_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'periodicidade_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'intervalo_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'tempo_estimado_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'grupo_checklist_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'checklist_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'descricao_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'valor_minimo_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido',
                            lessThan: '@PCM.WEB.Properties.Resources.valor_minimo_menor'
                        },
                        'valor_maximo_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido',
                            greaterThan: '@PCM.WEB.Properties.Resources.valor_maximo_maior'
                        },
                        'unidade_medida_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'auditado_input': {
                            required2: '@PCM.WEB.Properties.Resources.campo_requerido'
                        }
                    },
                    submitHandler: function (form) {

                        if ($("#validation_type").val() == 1) {

                            form.submit();

                        } else if ($("#validation_type").val() == 2) {
                            //Adiciona linha a Grid
                            var newRowItem = $("<tr id='linha'>");
                            var colsItem = "";

                            //Adiciona Controles - Hidden
                            colsItem = '<input name="[' + codigo + '].codigo_tipo_item_checklist" type="hidden" value="' + $("#tipo_checklist_item_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].codigo_periodicidade" type="hidden" value="' + $("#periodicidade_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].intervalo" type="hidden" value="' + $("#intervalo_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].tempo_estimado" type="hidden" value="' + $("#tempo_estimado_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].allow_picture" type="hidden" value="' + $("#foto_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].grupo" type="hidden" value="' + $("#grupo_checklist_input").val().toUpperCase() + '" />';
                            colsItem += '<input name="[' + codigo + '].grupo" type="hidden" value="' + $("#grupo_checklist_input").val().toUpperCase() + '" />';
                            colsItem += '<input name="[' + codigo + '].subgrupo" type="hidden" value="' + $("#subgrupo_checklist_input").val().toUpperCase() + '" />';
                            colsItem += '<input name="[' + codigo + '].peso_grupo" type="hidden" value="' + $("#peso_grupo_checklist_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].peso_subgrupo" type="hidden" value="' + $("#peso_subgrupo_checklist_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].checklist" type="hidden" value="' + $("#checklist_input").val().toUpperCase() + '" />';
                            colsItem += '<input name="[' + codigo + '].descricao" type="hidden" value="' + $("#descricao_input").val().toUpperCase() + '" />';
                            colsItem += '<input name="[' + codigo + '].valor_minimo" type="hidden" value="' + $("#valor_minimo_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].valor_maximo" type="hidden" value="' + $("#valor_maximo_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].unidade_medida" type="hidden" value="' + $("#unidade_medida_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].auditado" type="hidden" value="' + $("#auditorio_input").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].codigo_departamento" type="hidden" value="' + $("#departamento").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].ordem_servico" type="hidden" value="' + $("#ordem_servico").val() + '" />';
                            colsItem += '<input name="[' + codigo + '].excluido" type="hidden" value="0" />';
                            newRowItem.append(colsItem);

                            //Adiciona Linhas - Table
                            colsItem = '<td class="text-md-center" style="width: 150px;">' + $("#tipo_checklist_item_input option:selected").text() + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell">' + $("#grupo_checklist_input").val().toUpperCase() + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 150px;">' + $("#checklist_input").val().toUpperCase() + '</td>';
                            colsItem += '<td>' + $("#descricao_input").val().toUpperCase() + '</td>';
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + $("#periodicidade_input option:selected").text().toUpperCase() + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 100px;">' + $("#intervalo_input").val().toUpperCase() + '</td>'
                            colsItem += '<td class="d-none d-md-table-cell text-md-center" style="width: 150px;">' + $("#tempo_estimado_input").val().toUpperCase() + '</td>';
                            colsItem += '<td class="text-md-center" style="width: 80px;"><a href="#" onclick="remove(this);" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></a></td>';
                            newRowItem.append(colsItem);

                            $("#table").append(newRowItem);

                            $("#tipo_checklist_item_input").val("");
                            $("#periodicidade_input").val("");
                            $("#intervalo_input").val("");
                            $("#intervalo_input").prop("disabled", true);
                            $("#tempo_estimado_input").val("0");
                            $("#foto_input").val("");
                            $("#grupo_checklist_input").val("");
                            $("#checklist_input").val("");
                            $("#descricao_input").val("");
                            $("#valor_minimo_input").val("");
                            $("#valor_minimo_input").prop("disabled", true);
                            $("#valor_maximo_input").val("");
                            $("#valor_maximo_input").prop("disabled", true);
                            $("#unidade_medida_input").val("");
                            $("#unidade_medida_input").prop("disabled", true);
                            $("#ordem_servico").prop("disabled", true);
                            $("#auditado_input").val(false);
                            $("#departamento").val("");
                        }
                    }
                });
            };

            return {
                init: function () {
                    // Init Bootstrap Forms Validation
                    initValidationBootstrap();
                }
            };
        }();

        // Initialize when page loads
        jQuery(function () {
            FormValidation.init();
            Codebase.helpers(['datepicker', 'maxlength', 'select2']);
            $( "#tipo_checklist_input" ).trigger( "change" );
        });

</script>

}
