@using PCM.WEB.Properties
@using Newtonsoft.Json

<base href="@Url.Content("~/")">

<!-- Main Container -->
<main id="main-container">


    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.cadastro_basico</span>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.checklist</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("ChecklistIndex", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!-- Listagem -->
            <div class="block block-rounded border">


                <div class="js-tasks-nav d-none d-md-block">
                    <div>
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                            @if (ViewBag.inserir)
                            {
                                <div class="block-options">
                                    <a href="@Url.Action("ChecklistInsert2", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                        <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.novo
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="block-content">
                            <ul class="list-group push">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-label mb-2" for="unidade">@Resources.unidade</label>
                                            @Html.DropDownList("unidade", null, "", new { @class = "js-select2 form-control" })
                                        </div>
                                        <div class="col-md-5">
                                            <label class="form-label mb-2" for="descricao">@Resources.descricao</label>
                                            <input type="text" id="descricao" name="descricao" value="" placeholder="" class="form-control">
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label mb-2" for="tipoChecklist">@Resources.tipo_checklist</label>
                                            @Html.DropDownList("tipoChecklist", null, "", new { @class = "js-select2 form-control" })
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-right">
                                    <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="btnSearch" id="btnSearch"><i class="si si-magnifier mr-5"></i>@Resources.filtrar</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="block block-content mt-5">
                <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                <table class="table table-sm table-vcenter table-striped" id="tableMain" name="tableMain">
                    <thead>
                        <tr class="table-secondary">
                            <th>@Resources.unidade</th>
                            <th>@Resources.tipo_checklist</th>
                            <th>@Resources.descricao</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

        }
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable = Resources.emptyTable,
        msgQuestionDelete = Resources.msgQuestionDelete,
        msgNotPossibleReverse = Resources.msgNotPossibleReverse,
        yes = Resources.yes,
        no = Resources.no,
        clickToEdit = Resources.clickToEdit,
        clickToDelete = Resources.clickToDelete,
        clickToCopy = Resources.clickToCopy,
        clickToExcel = Resources.clickToExcel,
        clickToPdf = Resources.clickToPdf,
        clickToConfig = Resources.clickToConfig,
        loadChecklist = @Url.Action("LoadChecklist", "CadastroBasico"),
        checklistEdit = @Url.Action("ChecklistEdit2", "CadastroBasico"),
        deleteChecklist = @Url.Action("ChecklistDelete", "CadastroBasico"),
    }))'>
</div>

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {

    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
    <script src="~/Content/js/pcm.js"></script>

    <script src="~/Content/js/pages/CadastroBasico/jquery.checklist.init.js"></script>

}
