@model PCM.WEB.MODELS.Equipamento

<!-- Main Container -->
<main id="main-container">
   
    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item" href="@Url.Action("EquipamentoIndex", "CadastroBasico")">@PCM.WEB.Properties.Resources.equipamento</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.editar</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("EquipamentoEdit", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.codigo)
                    @Html.HiddenFor(model => model.codigo_unidade)
                    <input type="hidden" name="change_arquivo" id="change_arquivo" value="">

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.editar</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("EquipamentoIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.unidade</label>
                                    <div>@Html.DisplayFor(model => model.unidade)</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.familia_equipamento </label>
                                    <div>@Html.DropDownList("familia", null, "", new { @class = "form-control" })</div>
                                </div>
                            </div>
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label>@PCM.WEB.Properties.Resources.tag</label>
                                        <div>@Html.TextBoxFor(model => model.tag, new { @class = "form-control", @maxlenght = "20" })</div>
                                    </div>
                                    <div class="col-md-10">
                                        <label>@PCM.WEB.Properties.Resources.descricao</label>
                                        <div>@Html.TextBoxFor(model => model.descricao, new { @class = "form-control", @maxlenght = "200" })</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.departamento_responsavel</label>
                                        <div>@Html.DropDownList("departamento", null, "", new { @class = "form-control" })</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.setor</label>
                                        <div>@Html.DropDownList("setor", null, "", new { @class = "form-control" })</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>@PCM.WEB.Properties.Resources.apartamento</label>
                                        <div>@Html.DropDownList("apartamento", null, "", new { @class = "form-control" })</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.fabricante</label>
                                    <div class="col-12">@Html.TextBoxFor(model => model.fabricante, new { @class = "form-control", @maxlenght = "100" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.endereco_fabricante</label>
                                    <div class="col-12">@Html.TextBoxFor(model => model.endereco_fabricante, new { @class = "form-control", @maxlenght = "200" })</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.contato_fabricante</label>
                                        <div>@Html.TextBoxFor(model => model.contato_fabricante, new { @class = "form-control", @maxlenght = "100" })</div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.modelo</label>
                                        <div>@Html.TextBoxFor(model => model.modelo, new { @class = "form-control", @maxlenght = "100" })</div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.numero_fabricacao</label>
                                        <div>@Html.TextBoxFor(model => model.numero_fabricacao, new { @class = "form-control", @maxlenght = "50" })</div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.ano_fabricacao</label>
                                        <div>@Html.TextBoxFor(model => model.ano_fabricacao, new { @class = "form-control" })</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.caracteristicas</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.caracteristicas, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.laudo</label>
                                    <div class="col-12">@Html.DropDownList("laudo", null, "", new { @class = "form-control js-select2", @multiple = "multiple" })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.descricao_operacao</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.descricao_operacao, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.instrucao_utilizacao</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.instrucao_utilizacao, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.procedimento_emergencia</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.procedimento_emergencia, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.treinamento_operador</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.treinamento_operador, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.condicao_seguranca</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.condicao_seguranca, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.indicacao_conclusiva</label>
                                    <div class="col-12">@Html.TextAreaFor(model => model.indicacao_conclusiva, new { @class = "form-control", @maxlenght = "500", @rows = 6 })</div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.arquivo</label>
                                    <div class="col-12">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="arquivo" name="arquivo" onchange="Arquivo();" accept="image/*,application/pdf">
                                            <label id="lblArquivo" class="custom-file-label" for="imagem">@Model.arquivo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.ativo</label>
                                    <div class="col-12">
                                        <label class="css-control css-control-success css-switch">
                                            @Html.CheckBoxFor(model => model.ativo, new { @class = "css-control-input" })
                                            <span class="css-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script>

        function Arquivo() {
            document.getElementById("lblArquivo").textContent = document.getElementById("arquivo").files[0].name;
            document.getElementById("change_arquivo").value = "change";
        }

        $(function () {

            var unidade = $("#codigo_unidade")
            var familia = $("#familia")
            var departamento = $("#departamento");
            var setor = $("#setor");
            var apartamento = $("#apartamento");
            var laudo = $("#laudo");

            departamento.select2({ placeholder: '@Html.Raw(PCM.WEB.Properties.Resources.departamento)', allowClear: true });
            setor.select2({ placeholder: '@Html.Raw(PCM.WEB.Properties.Resources.setor)', allowClear: true });
            apartamento.select2({ placeholder: '@Html.Raw(PCM.WEB.Properties.Resources.apartamento)', allowClear: true });
            laudo.select2({ placeholder: '@Html.Raw(PCM.WEB.Properties.Resources.laudo)', allowClear: true });

            if (setor.val() == "") {
                apartamento.prop("disabled", true);
                apartamento.select2({ placeholder: '@PCM.WEB.Properties.Resources.apartamento', allowClear: true });
            }

            setor.change(function () {

                if (setor.val() == "") {
                    apartamento.empty();
                    apartamento.prop("disabled", true);
                    apartamento.select2({ placeholder: '@PCM.WEB.Properties.Resources.apartamento', allowClear: true });
                }
                else {

                    var request = { "unidade": unidade.val(), "setor": setor.val() };

                    $.post("LoadApartamento", request, function (obj) {
                        apartamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        apartamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            apartamento.append(option);
                        });
                    }, "json");

                    apartamento.prop("disabled", false);
                    apartamento.select2({ placeholder: '@PCM.WEB.Properties.Resources.apartamento', allowClear: true });
                }

            });

        });

        jQuery.validator.addMethod("tag_bd", function (value, element) {

            var unidade = $("#codigo_unidade").val();
            var codigo = $("#codigo").val();

            var dataString = {
                "unidade": unidade,
                "tag": value,
                "codigo": codigo
            };

            var result = false;

            jQuery.ajax({
                type: "POST",
                url: "ValidaEquipamento",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    if (return_data == false) {
                        result = false;
                    } else if (return_data == true) {
                        result = true;
                    }
                }
            });

            return result;

        }, "");

        var FormValidation = function () {
            // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
            var initValidationBootstrap = function () {
                jQuery('.js-validation-bootstrap').validate({
                    ignore: [],
                    errorClass: 'invalid-feedback animated fadeInDown',
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        jQuery(e).parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                    },
                    success: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                        jQuery(e).remove();
                    },
                    rules: {
                        'unidade': {
                            required: true
                        },
                        'departamento': {
                            required: true
                        },
                        'tag': {
                            tag_bd: true
                        },
                        'descricao': {
                            required: true
                        },
                        'setor': {
                            required: true
                        },
                        'ano_fabricacao': {
                            number: true
                        }
                    },
                    messages: {
                        'unidade': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'departamento': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'tag': {
                            tag_bd: '@PCM.WEB.Properties.Resources.validacao'
                        },
                        'descricao': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'setor': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'ano_fabricacao': {
                            number: '@PCM.WEB.Properties.Resources.campo_numerico'
                        }
                    }
                });
            };

            return {
                init: function () {
                    // Init Bootstrap Forms Validation
                    initValidationBootstrap();
                }
            };
        }();

        // Initialize when page loads
        jQuery(function () {
            FormValidation.init();
            Codebase.helpers(['datepicker', 'maxlength', 'select2']);
        });

</script>
}
