<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("LaudoIndex", "CadastroBasico")">@PCM.WEB.Properties.Resources.laudo</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.inserir</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">

                @using (Html.BeginForm("LaudoInsert", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data", name = "form", id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="tipo_ordem_servico" name="tipo_ordem_servico" value="6" />
                    <input type="hidden" id="emailLaudo" name="emailLaudo" value="" />

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" id="btnSave" name="btnSave">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("LaudoIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.unidade</label>
                                <div class="col-12">@Html.DropDownList("unidade", null, "", new { @class = "js-select2 form-control" })</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.categoria</label>
                                    <div>@Html.DropDownList("categoria", null, "", new { @class = "js-select2 form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.modulo</label>
                                    <div>@Html.DropDownList("modulo", null, "", new { @class = "js-select2 form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.setor</label>
                                    <div>@Html.DropDownList("setor", null, "", new { @class = "js-select2 form-control" })</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.equipamento</label>
                                <div class="col-12">@Html.DropDownList("equipamento", null, "", new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.descricao</label>
                                <div class="col-12"><textarea class="form-control" id="descricao" name="descricao" maxlength="500" rows="6"></textarea></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.valor_previsto</label>
                                    <div><input type="text" class="form-control" id="valor_previsto" name="valor_previsto" value="" maxlength="9"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.quantidade_equipamento</label>
                                    <div><input type="text" class="form-control" id="quantidade_equipamento" name="quantidade_equipamento" value="" maxlength="5"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.periodicidade</label>
                                    <div>@Html.DropDownList("periodicidade", null, "", new { @class = "form-control js-select2" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.intervalo</label>
                                    <div><input type="text" class="form-control" id="intervalo" name="intervalo" maxlength="3"></div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.tipo_servico</label>
                                    <div>@Html.DropDownList("tipo_servico", null, "", new { @class = "js-select2 form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.ativo</label>
                                    <div>
                                        <label class="css-control css-control-success css-switch">
                                            <input type="checkbox" class="css-control-input" id="ativo" name="ativo" checked value="true">
                                            <span class="css-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label>Gera alerta</label>
                                    <div>
                                        <label class="css-control css-control-success css-switch">
                                            <input type="checkbox" class="css-control-input" id="envia_email" name="envia_email" checked value="true">
                                            <span class="css-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2" id="div_dias_alerta">
                                    <label>Receber alerta com quantos dias</label>
                                    <div><input type="text" class="form-control" id="dias_alerta" name="dias_alerta" value=""></div>
                                </div>

                            </div>

                        </div>

                    </div>

                }

                @using (Html.BeginForm("LaudoInsert", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data", name = "formEmail", id = "formEmail" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="block block-rounded border mt-10">
                        <div class="block block-rounded" id="registros" style="display:block">
                            <div class="block-header block-header-default bg-gd-default">
                                <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.email</h3>
                            </div>
                            <div class="block-content block-content-full">
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label>@PCM.WEB.Properties.Resources.email</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" style="text-transform: lowercase;" id="email" name="email" autocomplete="off" placeholder="" value="">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-square btn-secondary min-width-40 fa fa-plus mr-5" id="btnEmail" name="btnEmail"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-bordered table-sm table-striped table-vcenter" id="table" name="table">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>@PCM.WEB.Properties.Resources.email</th>
                                        <th class="text-center" style="width:80px" data-sortable="false"></th>
                                    </tr>
                                </thead>
                                <tbody id="table_linha" name="table_linha">
                                </tbody>
                            </table>

                        </div>


                    </div>
                }
                <!-- END Basic Info -->
            </div>
            <!-- END Update Product -->
        </div>
        <!-- END Page Content -->

    </div>

</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")  
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/ckeditor")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script>

    var jsonData = [];
    var jsonDataAdd = [];
    var jsonDataDelete = [];
    var table;
    var change_equipamento = false;

    jQuery(function () {

        Codebase.helpers(['datepicker', 'maxlength', 'select2', 'ckeditor']);

        $("#valor_previsto").maskMoney({ decimal: ",", thousands: "." });
        $("#quantidade_equipamento").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' });
        $("#intervalo").maskMoney({ thousands: ".", precision: 0, allowNegative: false });


        // Reload DataTable
        $('#btnEmail').click(function () {
            $("#formEmail").submit();
        });

        // Reload DataTable
        $('#btnSave').click(function () {
            $("#form").submit();
        });

        table = $('#table').DataTable({
            fixedColumns: {
                start: 0,
                end: 1
            },
            autoWidth: false,          // <- IMPORTANTE
            lengthChange: false,
            pageLength: 15,
            processing: true,
            scrollX: true,
            scrollCollapse: true,
            serverSide: false,
            data: jsonData,
            searching: false,
            columns: [
                { data: "email" },
                {
                    orderable: false,
                    data: null,
                    defaultContent: "<div class='btn-group'> " +
                        "<button type='button' class='btn btn-sm btn-secondary' title='Clique para excluir o registro' id='btnDelete' name='btnDelete'><i class='fa fa-times'></i></button>" +
                        "</div> "
                }
            ],
            language: {
                emptyTable: "Nenhum registro encontrado",
                info: "",
                infoEmpty: "",
                infoFiltered: "",
            },
            order: [[1, 'asc']],
            columnDefs: [
                { className: 'text-center', targets: [1] },
                { width: '40px', targets: [1] }
            ]
        });

        $('#formEmail').validate({
            ignore: [],
            errorClass: 'invalid-feedback animated fadeInDown',
            errorElement: 'div',
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
            },
            success: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                jQuery(e).remove();
            },
            rules: {
                'email': {
                    required: true,
                    email: true
                }
            },
            messages: {
                'email': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido',
                    email: '@PCM.WEB.Properties.Resources.valida_email'
                }
            },
            submitHandler: function (form) {

                $("#btnEmail").prop('disabled', true);

                var newRecord = {
                    "email": document.querySelector("#email").value
                };

                jsonData.push(newRecord);
                jsonDataAdd.push(newRecord);

                table.clear().rows.add(jsonData).draw();

                $("#email").val("");
                $("#email").focus();
                $("#btnEmail").prop('disabled', false);
            },
            invalidHandler: function (e, validation) {
                $("#btnEmail").prop('disabled', false);
            }
        });

        $('#table tbody').on('click', 'button', function () {

            var data = table.row($(this).closest('tr')).data();

            if (this.id == "btnDelete") {
                deleteRegister(data);
            }

        });

        function deleteRegister(data) {

            swal.fire({
                title: "Gostaria de excluir o registro?",
                text: "Esta operação não poderá ser desfeita",
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: "Sim",
                cancelButtonText: "Não",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {

                    var jsonAux = [];

                    jsonAux = jsonData.filter(function (item) {
                        return item.email === data.email
                    });

                    jsonData = jsonData.filter(function (item) {
                        return item.email !== data.email
                    });

                    jsonDataDelete = jsonDataDelete.concat(jsonAux);

                    table.clear().rows.add(jsonData).draw();
                }
            });
        }


        var unidade = $("#unidade");
        var categoria = $("#categoria");
        var setor = $("#setor");

        unidade.change(function () {
            var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val() };

            $.post("LoadCategoria", request, function (obj) {
                categoria.empty();
                option = $("<option>", { "value": "" }).text("");
                categoria.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    categoria.append(option);
                });
            }, "json");

            $.post("LoadSetor", request, function (obj) {
                setor.empty();
                option = $("<option>", { "value": "" }).text("");
                setor.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    setor.append(option);
                });
            }, "json");

        });

        $('#form').validate({
            ignore: [],
            errorClass: 'invalid-feedback animated fadeInDown',
            errorElement: 'div',
            onkeyup: false,
            onclick: false,
            onfocusout: false,
            errorPlacement: function (error, e) {
                jQuery(e).parents('.form-group > div').append(error);
            },
            highlight: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
            },
            success: function (e) {
                jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                jQuery(e).remove();
            },
            rules: {
                'unidade': {
                    required: true
                },
                'modulo': {
                    required: true
                },
                'categoria': {
                    required: true
                },
                'setor': {
                    required: true
                },
                'descricao': {
                    required: true
                },
                'valor_previsto': {
                    required: false
                },
                'quantidade_equipamento': {
                    required: false
                },
                'periodicidade': {
                    required: true
                },
                'intervalo': {
                    required: true
                },
                'tipo_servico': {
                    required: true
                }
            },
            messages: {
                'unidade': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'modulo': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'categoria': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'setor': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'descricao': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'valor_previsto': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'quantidade_equipamento': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'periodicidade': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'intervalo': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                },
                'tipo_servico': {
                    required: '@PCM.WEB.Properties.Resources.campo_requerido'
                }
            },
            submitHandler: function (form) {

                var emailList = jsonDataAdd.map(x => x.email).join(";");
                $("#emailLaudo").val(emailList);

                return true;
            },
            invalidHandler: function (e, validation) {
                $("#btnSave").prop('disabled', false);
            }
        });

    });

    </script>

}
