
<!-- Main Container -->
<main id="main-container">
   
    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("TipoApartamentoIndex", "CadastroBasico")">@PCM.WEB.Properties.Resources.tipo_apartamento</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.inserir</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("TipoApartamentoInsert", "CadastroBasico", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("TipoApartamentoIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.unidade</label>
                                    <div>@Html.DropDownList("unidade", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-8">
                                    <label>@PCM.WEB.Properties.Resources.descricao</label>
                                    <div><input type="text" class="form-control" id="descricao" name="descricao" value="" maxlength="50"></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist_uh_dia</label>
                                    <div>@Html.DropDownList("checklist_uh", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.periodicidade</label>
                                    <div>@Html.DropDownList("periodicidade_uh", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-2">
                                    <label>@PCM.WEB.Properties.Resources.intervalo </label>
                                    <div><input type="text" class="form-control" id="intervalo_uh" name="intervalo_uh" value="" maxlength="3"></div>
                                </div>
                                <div class="col-md-2">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.ativo</label>
                                    <div class="col-12">
                                        <label class="css-control css-control-success css-switch">
                                            <input type="checkbox" class="css-control-input" id="ativo" name="ativo" checked value="true">
                                            <span class="css-control-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.governanca</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist - Permanência</label>
                                    <div>@Html.DropDownList("checklist_governanca_permanencia", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist - Saída</label>
                                    <div>@Html.DropDownList("checklist_governanca_saida", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist - Manutenção</label>
                                    <div>@Html.DropDownList("checklist_governanca_manutencao", null, "", new { @class = "form-control" })</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist - Vistoria Permanência</label>
                                    <div>@Html.DropDownList("checklist_governanca_permanencia_vistoria", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist  - Vistoria Saída</label>
                                    <div>@Html.DropDownList("checklist_governanca_saida_vistoria", null, "", new { @class = "form-control" })</div>
                                </div>
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.checklist - Vistoria Manutenção</label>
                                    <div>@Html.DropDownList("checklist_governanca_manutencao_vistoria", null, "", new { @class = "form-control" })</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    
    <script>

        $(document).ready(function () { $("#intervalo_uh").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' }); });
        $(document).ready(function () { $("#intervalo_governanca").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' }); });

        jQuery.validator.addMethod("descricao_bd", function (value, element) {

            var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val() };

            var dataString = {
                "descricao": value,
                "codigo": -1,
                "unidade": unidade
            };

            var result = false;

            jQuery.ajax({
                type: "POST",
                url: "ValidaTipoApartamento",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    if (return_data == false) {
                        result = false;
                    } else if (return_data == true) {
                        result = true;
                    }
                }
            });

            return result;

        }, "");

        var FormValidation = function () {
            // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
            var initValidationBootstrap = function () {
                jQuery('.js-validation-bootstrap').validate({
                    ignore: [],
                    errorClass: 'invalid-feedback animated fadeInDown',
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        jQuery(e).parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                    },
                    success: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                        jQuery(e).remove();
                    },
                    rules: {
                        'unidade': {
                            required: true
                        },
                        'descricao': {
                            required: true,
                            descricao_bd: true
                        },
                        'periodicidade_uh': {
                            required:  function(element) {
                                return !($('#checklist_uh').val()=="");
                            }
                        },
                        'intervalo_uh': {
                            required:  function(element) {
                                return !($('#checklist_uh').val()=="");
                            }
                        }
                        //,
                        //'periodicidade_governanca': {
                        //    required:  function(element) {
                        //        return !($('#checklist_governanca').val()=="");
                        //    }
                        //},
                        //'intervalo_governanca': {
                        //    required:  function(element) {
                        //        return !($('#checklist_governanca').val()=="");
                        //    }
                        //}
                    },
                    messages: {
                        'unidade': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'descricao': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido',
                            descricao_bd: '@PCM.WEB.Properties.Resources.valida_descricao_bd'
                        },
                        'periodicidade_uh': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'intervalo_uh': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        }
                        @*,
                        'periodicidade_governanca': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'intervalo_governanca': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        }*@
                    }
                });
            };

            return {
                init: function () {
                    // Init Bootstrap Forms Validation
                    initValidationBootstrap();
                }
            };
        }();

        // Initialize when page loads
        jQuery(function () {
            FormValidation.init();
            Codebase.helpers(['maxlength']);
        });

    </script>
}
