@model IEnumerable<PCM.WEB.MODELS.Checklist>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.checklist</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">        

        <!-- Listagem -->
        <div class="block block-rounded border">

            <div class="block-header block-header-default bg-gd-default">
                <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                @if(ViewBag.inserir)
                {
                    <div class="block-options">
                        <a href="@Url.Action("UHChecklistInsert", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                            <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.novo
                        </a>
                    </div>
                }
            </div>
            

            <div class="block-content block-content-full">
                <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                <table class="table table-sm table-vcenter table-striped js-dataTable-list">
                    <thead>
                        <tr class="table-secondary">
                            @if(Session["unidade"] == "")
                            {
                                <th class="d-none d-sm-table-cell">@PCM.WEB.Properties.Resources.unidade </th>
                            }   
                            <th class="d-none d-sm-table-cell text-center">@PCM.WEB.Properties.Resources.codigo_grupo</th>                                        
                            <th class="d-none d-sm-table-cell text-center">@PCM.WEB.Properties.Resources.codigo_checklist</th>                                        
                            <th>@PCM.WEB.Properties.Resources.descricao</th>
                            <th class="d-none d-sm-table-cell text-center" style="width: 80px;">@PCM.WEB.Properties.Resources.ativo</th>
                            @if(ViewBag.editar || ViewBag.excluir)
                            {
                                <th class="text-center" style="width: 80px;" data-sortable="false"></th>
                            }
                        </tr>
                    </thead>

                    <tbody>                       
                        @foreach (var item in Model)
                        {
                            <tr>                                                                         
                                @if(Session["unidade"] == "")
                                {
                                    <td class="d-none d-sm-table-cell">@Html.DisplayFor(modelItem => item.unidade)</td>
                                }                                    
                                <td class="d-none d-sm-table-cell text-center">@Html.DisplayFor(modelItem => item.grupo_checklist)</td>
                                <td class="d-none d-sm-table-cell text-center">@Html.DisplayFor(modelItem => item.codigo_checklist)</td>
                                <td>@Html.DisplayFor(modelItem => item.descricao)</td><td class="d-none d-sm-table-cell text-center" style="width: 80px;">
                                    <label class="css-control-sm css-control-secondary css-checkbox">
                                        @Html.CheckBoxFor(modelItem => item.ativo, new { @class = "css-control-input", @disabled="disabled"})
                                        <span class="css-control-indicator"></span>
                                    </label>
                                </td>             
                                @if(ViewBag.editar || ViewBag.excluir)
                                {
                                    <td class="text-center" style="width: 80px;" >
                                        <div class="btn-group">    
                                            @if(ViewBag.editar) { <a href="@Url.Action("UHChecklistEdit", "CadastroBasico", new { codigo = item.codigo })" class="btn btn-sm btn-secondary"><i class="fa fa-pencil"></i></a>}
                                            @if(ViewBag.excluir) { <a href="@Url.Action("UHChecklistDelete", "CadastroBasico", new { codigo = item.codigo })" class="btn btn-sm btn-secondary"><i class="fa fa-times"></i></a>}
                                        </div>
                                    </td>
                                }            
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        var BeTableDatatables = function () {
            // Override a few DataTable defaults, for more examples you can check out https://www.datatables.net/
            var exDataTable = function () {
                jQuery.extend(jQuery.fn.dataTable.ext.classes, {
                    sWrapper: "dataTables_wrapper dt-bootstrap4"
                });
            };

            // Init simple DataTable, for more examples you can check out https://www.datatables.net/
            var initDataTableSimple = function () {
                jQuery('.js-dataTable-list').dataTable({
                    fixedHeader: true,
                    searching: true,
                    lengthChange: false,
                    pageLength: 15,
                    autoWidth: false,
                    scrollX: false,
                    scrollColapse: true,
                    dom: 'Bfrtip',
                    buttons: [
                        { extend: 'copy', text: 'Copiar' },
                        {
                            extend: 'print',
                            text: 'Imprimir'
                        },
                        { extend: 'excel' },
                        { extend: 'pdf', orientation: 'portrait' },
                    ],
                    language: {
                        "search": "Procurar:",
                        "lengthMenu": "Exibir _MENU_ ",
                        "zeroRecords": "Nenhum Registro Encontrado",
                        "info": "_MAX_ registro(s)",
                        "infoEmpty": "Nenhum Registro encontrado",
                        "infoFiltered": "(filtrado de _MAX_ registro(s))"
                    }
                });
            };

            return {
                init: function () {
                    // Override a few DataTable defaults
                    exDataTable();

                    // Init Datatables
                    initDataTableSimple();
                }
            };
        }();


        // Initialize when page loads
        jQuery(function () { $.fn.dataTable.moment('DD/MM/YYYY HH:mm'); BeTableDatatables.init(); });

    </script>
}
