<!-- Main Container -->
<main id="main-container">
   
    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item" href="@Url.Action("OrdemServicoProgramada", "PCM", new {codigo_unidade = @ViewBag.apontamento.codigo_unidade, codigo_pcm_programada_ordem_servico = @ViewBag.apontamento.codigo_pcm_programada_ordem_servico, formulario = @ViewBag.formulario})">@ViewBag.resource_name</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.apontamento</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">                
                @using (Html.BeginForm("ApontamentoProgramadaExcluir", "PCM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data"  }))        
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="codigo_apontamento" id="codigo_apontamento" value="@ViewBag.apontamento.codigo_apontamento">
                    <input type="hidden" name="codigo_pcm_programada_ordem_servico" id="codigo_pcm_programada_ordem_servico" value="@ViewBag.apontamento.codigo_pcm_programada_ordem_servico">
                    <input type="hidden" name="codigo_pcm_programada" id="codigo_pcm_programada" value="@ViewBag.apontamento.codigo_pcm_programada">
                    <input type="hidden" name="codigo_unidade" id="codigo_unidade" value="@ViewBag.apontamento.codigo_unidade">
                    <input type="hidden" name="codigo_tipo_servico" id="codigo_tipo_servico" value="@ViewBag.apontamento.codigo_tipo_servico">
                    <input type="hidden" name="formulario" id="formulario" value="@ViewBag.formulario">
                    <input type="hidden" name="tipo" id="tipo" value="@ViewBag.tipo">

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@ViewBag.resource_apontamento</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("OrdemServicoProgramada", "PCM", new {codigo_unidade = @ViewBag.apontamento.codigo_unidade, codigo_pcm_programada_ordem_servico = @ViewBag.apontamento.codigo_pcm_programada_ordem_servico, formulario = @ViewBag.formulario})" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">                                                         
                            @if(Session["unidade"] == "")
                            {
                                <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.unidade: <span class="text-primary">@ViewBag.apontamento.unidade</span></div></div>
                            }
                            @if(@ViewBag.apontamento.setor != "")
                            {
                                <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.setor: <span class="text-primary">@ViewBag.apontamento.setor</span></div></div>
                            }              
                            @if(@ViewBag.apontamento.equipamento != "")
                            {
                                <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.equipamento: <span class="text-primary">@ViewBag.apontamento.equipamento</span></div></div>
                            }         
                            <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.servico: <span class="text-primary">@ViewBag.apontamento.servico</span></div></div>
                            <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.categoria: <span class="text-primary">@ViewBag.apontamento.categoria</span></div></div>
                            <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.tipo_servico: <span class="text-primary">@ViewBag.apontamento.tipo_servico</span></div></div>
                            <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.tipo_ordem_servico: <span class="text-primary">@ViewBag.apontamento.tipo_ordem_servico</span></div></div>
                            <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.solucao: <span class="text-primary">@ViewBag.apontamento.descricao_solucao</span></div></div>
                            <div class="border-b mb-15"></div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.funcionario</label>
                                <div class="col-12">@Html.DropDownList("funcionario", null, "", new { @class = "js-select2 form-control", @multiple="multiple" })</div>      
                            </div>       
                            @if(ViewBag.apontamento.codigo_tipo_servico == 2)
                            {
                                <div class="form-group row">
                                    <label class="col-12">@PCM.WEB.Properties.Resources.fornecedor</label>
                                    <div class="col-12">@Html.DropDownList("fornecedor", null, "", new { @class = "js-select2 form-control" })</div>
                                </div>      
                            } 
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.data_inicio</label>
                                    <div><input type="text" class="js-datepicker form-control" id="data_inicio" name="data_inicio" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.apontamento.data_inicio"></div>
                                </div>
                                @if(ViewBag.apontamento.aponta_horas)
                                {
                                    <div class="col-md-4 hora_inicio" data-autoclose="true">
                                        <label>@PCM.WEB.Properties.Resources.hora_inicio</label>
                                        <div><input type="text" class="form-control" id="hora_inicio" name="hora_inicio" value="@ViewBag.apontamento.hora_inicio" ></div>
                                    </div>                                        
                                }
                            </div>  
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label>@PCM.WEB.Properties.Resources.data_termino</label>
                                    <div><input type="text" class="js-datepicker form-control" id="data_termino" name="data_termino" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="" value="@ViewBag.apontamento.data_termino"></div>
                                </div>
                                @if(ViewBag.apontamento.aponta_horas)
                                {
                                    <div class="col-md-4 hora_termino" data-autoclose="true">
                                        <label>@PCM.WEB.Properties.Resources.hora_termino</label>
                                        <div><input type="text" class="form-control" id="hora_termino" name="hora_termino" value="@ViewBag.apontamento.hora_termino"></div>
                                    </div>                                        
                                }
                            </div>   
                        </div>                        
                    </div>
                }
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select")

<script>

    $(document).ready(function () { $("#data_inicio").mask("99/99/9999"); });
    $(document).ready(function () { $("#data_termino").mask("99/99/9999"); });
    $(document).ready(function () { $("#hora_inicio").mask("99:99"); });
    $(document).ready(function () { $("#hora_termino").mask("99:99"); });

    jQuery.validator.addMethod("funcionario", function (funcionario, element) {

        var tipo = $("#codigo_tipo_servico").val();
        var funcionario = $("#funcionario").val();
        if (tipo == 1) {
            if (funcionario != "")
                return true;
            else
                return false;
        }
        else if (tipo == 2) {
            return true;
        }
    }, '@PCM.WEB.Properties.Resources.campo_requerido');

    jQuery.validator.addMethod("fornecedor", function (fornecedor, element) {

        var tipo = $("#codigo_tipo_servico").val();
        var fornecedor = $("#fornecedor").val();
        if (tipo == 2) {
            if (fornecedor != "")
                return true;
            else
                return false;
        }
        else if (tipo == 1) {
            return true;
        }
    }, '@PCM.WEB.Properties.Resources.campo_requerido');

    jQuery.validator.addMethod("maxDate", function (value, element) {

        var curDate = new Date();
        curDate.setHours(0, 0, 0, 0);
        var from = value.split("/");
        var inputDate = new Date(from[2], from[1] - 1, from[0]);
        if (inputDate > curDate) {
            return this.optional(element) || false;
        }
        else {
            return this.optional(element) || true;
        }

    }, '');

    jQuery.validator.addMethod("lessThan", function (value, element, params) {

        var fromCurDate = $(params).val().split("/");
        var curDate = new Date(fromCurDate[2], fromCurDate[1] - 1, fromCurDate[0]);
        var fromMinDate = value.split("/");
        var minDate = new Date(fromMinDate[2], fromMinDate[1] - 1, fromMinDate[0]);
        if (curDate < minDate) {
            return this.optional(element) || false;
        }
        else {
            return this.optional(element) || true;
        }
    }, '');

    jQuery.validator.addMethod("greaterThan", function (value, element, params) {

        var fromCurDate = $(params).val().split("/");
        var curDate = new Date(fromCurDate[2], fromCurDate[1] - 1, fromCurDate[0]);
        var fromMaxDate = value.split("/");
        var maxDate = new Date(fromMaxDate[2], fromMaxDate[1] - 1, fromMaxDate[0]);
        if (curDate > maxDate) {
            return this.optional(element) || false;
        }
        else {
            return this.optional(element) || true;
        }
    }, '');

    jQuery.validator.addMethod("greaterThanTime", function (value, element, params) {

        //Data e Hora - Início
        var fromDataInicio = $(params[0]).val().split("/");
        var fromHoraInicio = $(params[1]).val().split(":");
        var dataInicio = new Date(fromDataInicio[2], fromDataInicio[1] - 1, fromDataInicio[0], fromHoraInicio[0], fromHoraInicio[1], 0, 0);

        //Data e Hora - Término
        var fromDataTermino = $(params[2]).val().split("/");
        var fromHoraTermino = value.split(":");
        var dataTermino = new Date(fromDataTermino[2], fromDataTermino[1] - 1, fromDataTermino[0], fromHoraTermino[0], fromHoraTermino[1], 0, 0);

        if (dataInicio > dataTermino) {
            return this.optional(element) || false;
        }
        else {
            return this.optional(element) || true;
        }
    }, '');

    jQuery.validator.addMethod("apontamentoHoras", function (value, element, params) {

        //Data e Hora - Início
        var fromDataInicio = $(params[0]).val().split("/");
        var fromHoraInicio = $(params[1]).val().split(":");
        var dataInicio = new Date(fromDataInicio[2], fromDataInicio[1] - 1, fromDataInicio[0], fromHoraInicio[0], fromHoraInicio[1], 0, 0);

        //Data e Hora - Término
        var fromDataTermino = $(params[2]).val().split("/");
        var fromHoraTermino = value.split(":");
        var dataTermino = new Date(fromDataTermino[2], fromDataTermino[1] - 1, fromDataTermino[0], fromHoraTermino[0], fromHoraTermino[1], 0, 0);
        var difference = dataTermino - dataInicio;

        if (((difference) / 3600000) > 10) {
            return this.optional(element) || false;
        }
        else {
            return this.optional(element) || true;
        }
    }, '');

    $.validator.addMethod('time', function (value, element, param) {
        return value == '' || value.match(/^([01][0-9]|2[0-3]):[0-5][0-9]$/);
    }, '@PCM.WEB.Properties.Resources.valida_hora');

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.form-group > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'funcionario': {
                        funcionario: true
                    },
                    'fornecedor': {
                        fornecedor: true
                    },
                    'data_inicio': {
                        required: true,
                        maxDate: { maxDate: true },
                        lessThan: "#data_termino"
                    },
                    'hora_inicio': {
                        required: true,
                        time: true
                    },
                    'data_termino': {
                        required: true,
                        maxDate: { maxDate: true },
                        greaterThan: "#data_inicio"
                    },
                    'hora_termino': {
                        required: true,
                        time: true,
                        apontamentoHoras: ["#data_inicio", "#hora_inicio", "#data_termino"],
                        greaterThanTime: ["#data_inicio", "#hora_inicio", "#data_termino"]
                    }                    
                },
                messages: {
                    'funcionario': {
                        funcionario: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'fornecedor': {
                        fornecedor: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'data_inicio': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido',
                        maxDate: '@PCM.WEB.Properties.Resources.data_maior_corrente',
                        lessDate: '@PCM.WEB.Properties.Resources.data_maior_termino'
                    },
                    'data_termino': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido',
                        maxDate: '@PCM.WEB.Properties.Resources.data_maior_corrente',
                        greaterThan: '@PCM.WEB.Properties.Resources.data_menor_inicio'
                    },
                    'hora_inicio': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'hora_termino': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido',
                        apontamentoHoras: '@PCM.WEB.Properties.Resources.diferenca_maior_10',
                        greaterThanTime: '@PCM.WEB.Properties.Resources.data_menor_inicio'
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        Codebase.helpers(['datepicker', 'maxlength', 'select2', 'masked-inputs']);
    });

</script>
}
