@model IEnumerable<PCM.WEB.MODELS.ManutencaoRotina>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.pcm</span>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.rotina</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("ManutencaoRotina2", "PCM", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", @name = "form", @id = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <!-- Toggle Tasks Navigation on mobile -->
            <button type="button" class="btn btn-block btn-square btn-primary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.filtros</button>

            <!-- Collapsible Tasks Navigation -->
            <div class="js-tasks-nav d-none d-md-block">
                <div class="block block-rounded border">
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.filtro</h3>
                        <div class="block-options">
                            <a href="@Url.Action("ManutencaoRotina", "PCM")" class="btn btn-square btn-secondary min-width-200 h-75">
                                <i class="si si-calendar mr-5"></i>Visualizar por Dia
                            </a>
                        </div>
                    </div>
                    <div class="block-content">
                        <ul class="list-group push">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="data">@PCM.WEB.Properties.Resources.unidade</label>
                                        <div>@Html.DropDownList("unidade", null, null, new { @class = "js-select2 form-control" })</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="data">@PCM.WEB.Properties.Resources.modulo</label>
                                        <div>@Html.DropDownList("modulo", null, null, new { @class = "js-select2 form-control" })</div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="data">@PCM.WEB.Properties.Resources.data</label>
                                        <div><input type="text" class="js-datepicker form-control" id="data" name="data" data-date="02/2012" data-date-format="mm/yyyy" value="@ViewBag.data_filtro"></div>
                                    </div>
                                </div>
                            <li class="list-group-item text-right">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar"><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.filtrar</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->

            <div class="block block-rounded border">
                <div class="block-content block-content-full row col-md-12">
                    <div class="col-md-2 font-w600 text-md-center"><span class="badge badge-danger">N/E</span> Rotina em Atraso</div>
                    <div class="col-md-3 font-w600 text-md-center"><span class="badge badge-warning">R</span> Rotina a Realizar na data Corrente</div>
                    <div class="col-md-3 font-w600 text-md-center"><span class="badge badge-primary">F</span> Rotina a Realizar no Futuro</div>
                    <div class="col-md-3 font-w600 text-md-center"><span class="badge badge-success">OK</span> Rotina Realizada</div>
                </div>
            </div>

            <div class="block block-rounded border">
                <div class="block-content block-content-full border block-content-sm" style="overflow-x:scroll; overflow-y:hidden;">

                    <table class="table table-vcenter table-hover table-bordered js-dataTable-list side-scroll">
                        <thead>
                            <tr class="table-secondary">
                                <th>@PCM.WEB.Properties.Resources.descricao</th>
                                <th class="text-md-center" style="width:100px;">@PCM.WEB.Properties.Resources.data_ultima_manutencao</th>
                                <th class="text-md-center" style="width:30px;">1</th>
                                <th class="text-md-center" style="width:30px;">2</th>
                                <th class="text-md-center" style="width:30px;">3</th>
                                <th class="text-md-center" style="width:30px;">4</th>
                                <th class="text-md-center" style="width:30px;">5</th>
                                <th class="text-md-center" style="width:30px;">6</th>
                                <th class="text-md-center" style="width:30px;">7</th>
                                <th class="text-md-center" style="width:30px;">8</th>
                                <th class="text-md-center" style="width:30px;">9</th>
                                <th class="text-md-center" style="width:30px;">10</th>
                                <th class="text-md-center" style="width:30px;">11</th>
                                <th class="text-md-center" style="width:30px;">12</th>
                                <th class="text-md-center" style="width:30px;">13</th>
                                <th class="text-md-center" style="width:30px;">14</th>
                                <th class="text-md-center" style="width:30px;">15</th>
                                <th class="text-md-center" style="width:30px;">16</th>
                                <th class="text-md-center" style="width:30px;">17</th>
                                <th class="text-md-center" style="width:30px;">18</th>
                                <th class="text-md-center" style="width:30px;">19</th>
                                <th class="text-md-center" style="width:30px;">20</th>
                                <th class="text-md-center" style="width:30px;">21</th>
                                <th class="text-md-center" style="width:30px;">22</th>
                                <th class="text-md-center" style="width:30px;">23</th>
                                <th class="text-md-center" style="width:30px;">24</th>
                                <th class="text-md-center" style="width:30px;">25</th>
                                <th class="text-md-center" style="width:30px;">26</th>
                                <th class="text-md-center" style="width:30px;">27</th>
                                <th class="text-md-center" style="width:30px;">28</th>
                                @if (ViewBag.maior_dia >= 29)
                                {
                                    <th class="text-md-center" style="width:30px;">29</th>
                                }
                                @if (ViewBag.maior_dia >= 30)
                                {
                                    <th class="text-md-center" style="width:30px;">30</th>
                                }
                                @if (ViewBag.maior_dia >= 31)
                                {
                                    <th class="text-md-center" style="width:30px;">31</th>
                                }
                                <th class="text-md-center" style="width:85px;">@PCM.WEB.Properties.Resources.total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-middle">
                                    <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                                    <td class="font-w600 text-md-center">@Html.DisplayFor(modelItem => item.data_ultima_os)</td>

                                    @if (item.dia_1 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_1 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_1 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_1 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_2 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_2 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_2 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_2 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_3 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_3 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_3 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_3 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_4 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_4 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_4 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_4 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_5 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_5 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_5 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_5 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_6 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_6 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_6 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_6 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_7 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_7 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_7 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_7 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_8 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_8 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_8 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_8 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_9 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_9 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_9 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_9 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_10 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_10 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_10 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_10 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_11 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_11 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_11 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_11 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_12 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_12 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_12 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_12 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_13 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_13 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_13 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_13 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_14 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_14 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_14 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_14 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_15 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_15 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_15 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_15 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_16 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_16 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_16 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_16 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_17 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_17 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_17 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_17 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_18 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_18 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_18 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_18 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_19 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_19 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_19 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_19 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_20 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_20 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_20 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_20 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_21 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_21 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_21 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_21 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_22 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_22 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_22 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_22 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_23 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_23 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_23 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_23 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_24 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_24 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_24 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_24 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_25 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_25 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_25 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_25 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_26 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_26 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_26 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_26 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_27 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_27 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_27 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_27 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (item.dia_28 > 0)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                    }
                                    else if (item.dia_28 == -2)
                                    {
                                        <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                    }
                                    else if (item.dia_28 == -1)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                    }
                                    else if (item.dia_28 == -3)
                                    {
                                        <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                    }
                                    else
                                    {
                                        <td class="text-md-center" style="width:30px;"></td>
                                    }

                                    @if (ViewBag.maior_dia >= 29)
                                    {
                                        if (item.dia_29 > 0)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                        }
                                        else if (item.dia_29 == -2)
                                        {
                                            <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                        }
                                        else if (item.dia_29 == -1)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                        }
                                        else if (item.dia_29 == -3)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-md-center" style="width:30px;"></td>
                                        }
                                    }

                                    @if (ViewBag.maior_dia >= 30)
                                    {
                                        if (item.dia_30 > 0)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                        }
                                        else if (item.dia_30 == -2)
                                        {
                                            <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                        }
                                        else if (item.dia_30 == -1)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                        }
                                        else if (item.dia_30 == -3)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-md-center" style="width:30px;"></td>
                                        }
                                    }

                                    @if (ViewBag.maior_dia >= 31)
                                    {
                                        if (item.dia_31 > 0)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-success">OK</span></td>
                                        }
                                        else if (item.dia_31 == -2)
                                        {
                                            <td class="text-md-center" style="width:30px;">@Html.ActionLink("R", "ApontamentoProgramada", new { codigo_pcm_programada = item.codigo_pcm_programada, codigo_unidade = item.codigo_unidade, formulario = "pcm_apontamento_preventiva" }, new { @class = "badge badge-warning" })</td>
                                        }
                                        else if (item.dia_31 == -1)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-danger">N/E</span></td>
                                        }
                                        else if (item.dia_31 == -3)
                                        {
                                            <td class="text-md-center" style="width:30px;"><span class="badge badge-primary">F</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-md-center" style="width:30px;"></td>
                                        }
                                    }

                                    <td class="text-md-center font-w600" style="width:85px;">@Html.DisplayFor(modelItem => item.total_realizado)/@Html.DisplayFor(modelItem => item.total)   @Html.DisplayFor(modelItem => item.percentual)%</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        }

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

    <script>

    $("#data").datepicker({
        format: "mm/yyyy",
        viewMode: "months",
        minViewMode: "months"
    });

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.list-group-item > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'data': {
                        required: true
                    }
                },
                messages: {
                    'data': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

    var BeTableDatatables = function () {
        // Override a few DataTable defaults, for more examples you can check out https://www.datatables.net/
        var exDataTable = function () {
            jQuery.extend(jQuery.fn.dataTable.ext.classes, {
                sWrapper: "dataTables_wrapper dt-bootstrap4"
            });
        };

        // Init simple DataTable, for more examples you can check out https://www.datatables.net/
        var initDataTableSimple = function () {
            jQuery('.js-dataTable-list').dataTable({
                fixedHeader: true,
                searching: false,
                lengthChange: false,
                paging: false,
                autoWidth: false,
                ordering: false,
                dom: 'Bfrtip',
                buttons: [
                    { extend: 'copy', text: 'Copiar' },
                    {
                        extend: 'print',
                        text: 'Imprimir'
                    },
                    { extend: 'excel' },
                    { extend: 'pdf', orientation: 'landscape' },
                ],
                language: {
                    "search": "Procurar:",
                    "lengthMenu": "Exibir _MENU_ ",
                    "zeroRecords": "Nenhum Registro Encontrado",
                    "info": "_MAX_ registro(s)",
                    "infoEmpty": "Nenhum Registro encontrado",
                    "infoFiltered": "(filtrado de _MAX_ registro(s))"
                }
            });
        };

        return {
            init: function () {
                // Override a few DataTable defaults
                exDataTable();

                // Init Datatables
                initDataTableSimple();
            }
        };
    }();


    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm'); BeTableDatatables.init();
        Codebase.helpers(['datepicker', 'select']);
    });

    </script>
}
