@model PCM.WEB.MODELS.Empresa

<!-- Main Container -->
<main id="main-container">
   
    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@PCM.ADM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.ADM.WEB.Properties.Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("EmpresaIndex", "CadastroBasico")">@PCM.ADM.WEB.Properties.Resources.empresa</a>
                <span class="breadcrumb-item active">@PCM.ADM.WEB.Properties.Resources.excluir</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">                
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.codigo)
                    @Html.HiddenFor(model => model.url)

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.ADM.WEB.Properties.Resources.deseja_excluir</h3>
                            <div class="block-options">
                                @if(ViewBag.erro == "")
                                {
                                    <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                        <i class="si si-trash mr-5"></i>@PCM.ADM.WEB.Properties.Resources.excluir
                                    </button>
                                }
                                <a href="@Url.Action("EmpresaIndex", "CadastroBasico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.ADM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">   
                            @if(ViewBag.erro != "")
                            {
                                <div class="form-group row">
                                    <i><label class="col-12 font-w600 text-danger">** @ViewBag.erro</label></i>
                                </div>
                            }                  
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.cnpj: <span class="font-w400">@Html.DisplayFor(model => model.cnpj)</span></label> 
                            </div>              
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.nome_fantasia: <span class="font-w400">@Html.DisplayFor(model => model.nome_fantasia)</span></label> 
                            </div>                
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.inscricao_estadual: <span class="font-w400">@Html.DisplayFor(model => model.inscricao_estadual)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.inscricao_municipal: <span class="font-w400">@Html.DisplayFor(model => model.inscricao_municipal)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.cep: <span class="font-w400">@Html.DisplayFor(model => model.cep)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.uf: <span class="font-w400">@Html.DisplayFor(model => model.uf)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.municipio: <span class="font-w400">@Html.DisplayFor(model => model.municipio)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.logradouro: <span class="font-w400">@Html.DisplayFor(model => model.logradouro)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.numero: <span class="font-w400">@Html.DisplayFor(model => model.numero)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.bairro: <span class="font-w400">@Html.DisplayFor(model => model.bairro)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.complemento: <span class="font-w400">@Html.DisplayFor(model => model.complemento)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.telefone: <span class="font-w400">@Html.DisplayFor(model => model.telefone)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.valor: <span class="font-w400">@Html.DisplayFor(model => model.valor)</span></label> 
                            </div> 
                            <div class="form-group row">
                                <label class="col-12" for="ecom-product-name">@PCM.ADM.WEB.Properties.Resources.data_inicio: <span class="font-w400">@Html.DisplayFor(model => model.data_inicio)</span></label> 
                            </div> 
                        </div>                        
                    </div>
                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
