@model IEnumerable<PCM.WEB.MODELS.GreenPlanetLancamento>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.green_planet</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">   

        <div class="block block-rounded border">
    
            <div class="block">
                
                <div class="block-header block-header-default bg-gd-default">
                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.green_planet</h3>
                    <div class="block-options">                        
                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" onClick="history.go(-1);"><i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar</button>    
                    </div>
                </div>            

                <div class="block-content">
                
                    <!-- Table -->
                    <div class="table-responsive table-sm push">
                        <table class="table table-sm table-vcenter table-striped js-dataTable-list">
                            <thead>
                                <tr class="table-secondary">
                                    <th>@PCM.WEB.Properties.Resources.item_medicao</th>
                                    <th class="text-center" style="width: 100px;">@PCM.WEB.Properties.Resources.data</th>
                                    <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.quantidade_hospede</th>
                                    <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.ocupacao_quartos</th>
                                    <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.medicao_anterior</th>
                                    <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.medicao</th>
                                    <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.consumo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>     
                                        <td>@Html.DisplayFor(modelItem => item.item_medicao)</td>
                                        <td class="text-center" style="width: 100px;">@Html.DisplayFor(modelItem => item.data)</td>
                                        @if(System.Convert.ToDouble(item.quantidade_hospedes) <= 0)
                                        {                                        
                                            <td class="text-center" style="width: 150px;"><span class="text-danger font-w600">@Html.DisplayFor(modelItem => item.quantidade_hospedes)</span></td>
                                        } else {
                                            <td class="text-center" style="width: 150px;">@Html.DisplayFor(modelItem => item.quantidade_hospedes)</td>
                                        }
                                        @if(System.Convert.ToDouble(item.quartos_ocupados) <= 0)
                                        {                                        
                                            <td class="text-center" style="width: 150px;"><span class="text-danger font-w600">@Html.DisplayFor(modelItem => item.quartos_ocupados)</span></td>
                                        } else {
                                            <td class="text-center" style="width: 150px;">@Html.DisplayFor(modelItem => item.quartos_ocupados)</td>
                                        }
                                        <td class="text-center" style="width: 150px;">@Html.DisplayFor(modelItem => item.valor_anterior) @Html.DisplayFor(modelItem => item.unidade_medida)</td>
                                        <td class="text-center" style="width: 150px;">@Html.DisplayFor(modelItem => item.valor) @Html.DisplayFor(modelItem => item.unidade_medida)</td>
                                        @if(System.Convert.ToDouble(item.consumo) <= 0)
                                        {                                        
                                            <td class="text-center" style="width: 150px;"><span class="text-danger font-w600">@Html.DisplayFor(modelItem => item.consumo) @Html.DisplayFor(modelItem => item.unidade_medida)</span></td>
                                        } else {
                                            <td class="text-center" style="width: 150px;">@Html.DisplayFor(modelItem => item.consumo) @Html.DisplayFor(modelItem => item.unidade_medida)</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- END Table -->

                    <div>
                        <i><span class="font-w600 text-danger h6">** Erro de Lançamento</span></i>
                    </div>    

                </div>

            </div>

        </div>
   
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        var BeTableDatatables = function () {
            // Override a few DataTable defaults, for more examples you can check out https://www.datatables.net/
            var exDataTable = function () {
                jQuery.extend(jQuery.fn.dataTable.ext.classes, {
                    sWrapper: "dataTables_wrapper dt-bootstrap4"
                });
            };

            // Init simple DataTable, for more examples you can check out https://www.datatables.net/
            var initDataTableSimple = function () {
                jQuery('.js-dataTable-list').dataTable({
                    fixedHeader: true,
                    searching: true,
                    lengthChange: false,
                    paging: false,
                    ordering: false,
                    searching: false,
                    autoWidth: false,
                    scrollX: false,
                    scrollColapse: true,
                    dom: 'Bfrtip',
                    buttons: [
                        { extend: 'copy', text: 'Copiar' },
                        {
                            extend: 'print',
                            text: 'Imprimir'
                        },
                        { extend: 'excel' },
                        { extend: 'pdf', orientation: 'portrait' },
                    ],
                    language: {
                        "search": "Procurar:",
                        "lengthMenu": "Exibir _MENU_ ",
                        "zeroRecords": "Nenhum Registro Encontrado",
                        "info": "_MAX_ registro(s)",
                        "infoEmpty": "Nenhum Registro encontrado",
                        "infoFiltered": "(filtrado de _MAX_ registro(s))"
                    }
                });
            };

            return {
                init: function () {
                    // Override a few DataTable defaults
                    exDataTable();

                    // Init Datatables
                    initDataTableSimple();
                }
            };
        }();


        // Initialize when page loads
        jQuery(function () { $.fn.dataTable.moment('DD/MM/YYYY HH:mm'); BeTableDatatables.init(); });

    </script>
}
