@model IEnumerable<PCM.WEB.MODELS.ManutencaoCategoria>

<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("ManutencaoCategoria", "Relatorio", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", @name = "form", @id = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" name="chart" id="chart" value="">

            <div class="col-md-12 col-xl-12">
                <!-- Toggle Tasks Navigation on mobile -->
                <button type="button" class="btn btn-block btn-primary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.filtros</button>

                <!-- Collapsible Tasks Navigation -->
                <div class="js-tasks-nav d-none d-md-block">
                    <!-- Tasks Info -->
                    <div class="block">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.filtro</h3>
                        </div>
                        <div class="block-content">
                            <ul class="list-group push">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-8">@Html.DropDownList("unidade", null, PCM.WEB.Properties.Resources.unidade, new { @class = "form-control" })</div>
                                        <div class="col-md-4">
                                            <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                                <input type="text" class="form-control" id="data_inicio" name="data_inicio" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_inicio">
                                                <div class="input-group-prepend input-group-append">
                                                    <span class="input-group-text font-w600">-</span>
                                                </div>
                                                <input type="text" class="form-control" id="data_termino" name="data_termino" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_termino">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-right">
                                    <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar"><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.filtrar</button>
                                    @if (ViewBag.imprimir)
                                    {
                                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="imprimir" id="imprimir" onclick="ImprimirRelatorio();"><i class="si si-printer mr-5"></i>@PCM.WEB.Properties.Resources.imprimir</button>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Tasks Info -->
                </div>
                <!-- END Collapsible Tasks Navigation -->
                <!-- CHART -->
                <div class="d-md-block d-none">
                    <div class="block block-rounded block-mode-loading-refresh">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">Gráfico - @PCM.WEB.Properties.Resources.manutencao_categoria</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="pull-all pt-50">
                                <canvas id="canvas" height="70px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CHART -->

                <div class="block">

                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.manutencao_categoria</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option text-dark font-w600" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </div>
                    </div>

                    <div class="block-content">

                        <!-- Table -->
                        <div class="table-responsive table-sm push">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>@PCM.WEB.Properties.Resources.categoria</th>
                                        @foreach (var item in ViewBag.meses)
                                        {
                                            <th class="text-center" style="width: 80px;">@item</th>
                                        }
                                        <th class="text-center" style="width: 100px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        if (item.item <= 10)
                                        {
                                            <tr class="font-w600 table-danger">
                                                <td>@Html.DisplayFor(modelItem => item.categoria)</td>
                                                @foreach (var valor in item.valores)
                                                {
                                                    <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => valor.valor)</td>
                                                }
                                                <td class="text-center table-warning" style="width: 100px;"><b>@Html.DisplayFor(modelItem => item.total)</b></td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.categoria)</td>
                                                @foreach (var valor in item.valores)
                                                {
                                                    <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => valor.valor)</td>
                                                }
                                                <td class="text-center table-warning" style="width: 100px;"><b>@Html.DisplayFor(modelItem => item.total)</b></td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- END Table -->

                    </div>

                </div>

            </div>

        }

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
}

@section Scripts {
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/chart")

    <script>

    $(document).ready(function () { $("#data_inicio").mask("99/99/9999"); });
    $(document).ready(function () { $("#data_termino").mask("99/99/9999"); });

    function ImprimirRelatorio() {

        var unidade = $("#unidade").val();
        var data_inicio = $("#data_inicio").val();
        var data_termino = $("#data_termino").val();

        console.log(document.getElementById('canvas').toDataURL('image / jpg'));
        //window.open('PrintManutencaoCategoria' + '?unidade=' + unidade + '&data_inicio=' + data_inicio + '&data_termino=' + data_termino + '&nome_fantasia=' + $("#unidade option:selected").text() + '&chart=' + document.getElementById('canvas').toDataURL('image/jpg'), '_blank');
    }

    var config = {
        type: 'bar',
        data: {
            labels: []
        },
        options: {
            responsive: true,
            elements: {
                line: {
                    tension: 0.2
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                        min: 0,

                        // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                        suggestedMax: 5
                    }
                }]
            },
            legend: { position: 'right' }
        }
    };

    var colorNames = Object.keys(window.chartColors);


    function LoadChart() {

        unidade = $("#unidade");
        data_inicio = $("#data_inicio");
        data_termino = $("#data_termino");

        $.post("Meses", { "data_inicio": data_inicio.val(), "data_termino": data_termino.val() }, function (obj) {

            $.each(obj, function (indice, result) {
                config.data.labels.push(result);
            });

        }, "json");

        var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val(), "data_inicio": data_inicio.val(), "data_termino": data_termino.val() };

        $.post("ChartManutencaoCategoria", request, function (obj) {

            $.each(obj, function (indice, result) {

                var colorName = colorNames[config.data.datasets.length % colorNames.length];
                var newColor = window.chartColors[colorName];
                var borderColor = window.chartBorderColors[colorName];

                var newDataset = {
                    label: result.categoria,
                    backgroundColor: newColor,
                    borderColor: borderColor,
                    data: [],
                    fill: false
                };

                for (var index = 0; index < result.valor.length; ++index) {
                    newDataset.data.push(result.valor[index]);
                }

                config.data.datasets.push(newDataset);
                window.myLine.update();
            });
        }, "json");

    }

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);

        Chart.plugins.register({
            beforeDraw: function (chartInstance) {
                var ctx = chartInstance.chart.ctx;
                ctx.fillStyle = "white";
                ctx.fillRect(0, 0, chartInstance.chart.width, chartInstance.chart.height);
            }
        });
        
    };

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.list-group-item > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'data_inicio': {
                        required: true
                    },
                    'data_termino': {
                        required: true
                    }
                },
                messages: {
                    'data_inicio': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'data_termino': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        LoadChart();
        Codebase.helpers(['datepicker', 'maxlength', 'select2']);
    });

    </script>
}
