@model IEnumerable<PCM.WEB.MODELS.ManutencaoExecutor>

<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">   

        @using (Html.BeginForm("ManutencaoExecutor", "Relatorio", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { @class = "js-validation-bootstrap", @name="form", @id="form", role = "form" }))
        {
            @Html.AntiForgeryToken()
                    
            <div class="col-md-12 col-xl-12">
                <!-- Toggle Tasks Navigation on mobile -->
                <button type="button" class="btn btn-block btn-primary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.filtros</button>

                <!-- Collapsible Tasks Navigation -->
                <div class="js-tasks-nav d-none d-md-block">
                    <!-- Tasks Info -->
                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.filtro</h3>
                        </div>
                        <div class="block-content">
                            <ul class="list-group push">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-8">@Html.DropDownList("unidade", null, PCM.WEB.Properties.Resources.unidade, new { @class = "form-control" })</div>                                    
                                        <div class="col-md-4">@Html.DropDownList("ano", null, PCM.WEB.Properties.Resources.ano, new { @class = "form-control" })</div>                                    
                                    </div>
                                </li>
                                <li class="list-group-item text-right">                                                    
                                    <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar" ><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.filtrar</button>
                                    @if(ViewBag.imprimir)
                                    {
                                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="imprimir" id="imprimir" onclick="ImprimirRelatorio();"><i class="si si-printer mr-5"></i>@PCM.WEB.Properties.Resources.imprimir</button>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Tasks Info -->
                </div>
                <!-- END Collapsible Tasks Navigation -->
           
                <!-- CHART -->
                <div class="d-md-block d-none">                
                    <div class="block block-rounded block-mode-loading-refresh">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">Gráfico - @PCM.WEB.Properties.Resources.manutencao_executor</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="pull-all pt-50">
                                <canvas id="canvas" height="70px"></canvas>                            
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CHART -->
                             
                <div class="block">
                
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.manutencao_executor</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option text-dark font-w600" data-toggle="block-option" data-action="fullscreen_toggle"></button>                      
                        </div>
                    </div>            

                    <div class="block-content">
                
                        <!-- Table -->
                        <div class="table-responsive table-sm push">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>@PCM.WEB.Properties.Resources.executor</th>
                                        <th class="text-center" style="width: 80px;">Jan.</th>
                                        <th class="text-center" style="width: 80px;">Fev.</th>
                                        <th class="text-center" style="width: 80px;">Mar.</th>
                                        <th class="text-center" style="width: 80px;">Abr.</th>
                                        <th class="text-center" style="width: 80px;">Mai.</th>
                                        <th class="text-center" style="width: 80px;">Jun.</th>
                                        <th class="text-center" style="width: 80px;">Jul.</th>
                                        <th class="text-center" style="width: 80px;">Ago.</th>
                                        <th class="text-center" style="width: 80px;">Set.</th>
                                        <th class="text-center" style="width: 80px;">Out.</th>
                                        <th class="text-center" style="width: 80px;">Nov.</th>
                                        <th class="text-center" style="width: 80px;">Dez.</th>
                                        <th class="text-center" style="width: 100px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>     
                                            <td>@Html.DisplayFor(modelItem => item.executor)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.janeiro)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.fevereiro)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.marco)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.abril)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.maio)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.junho)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.julho)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.agosto)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.setembro)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.outubro)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.novembro)</td>
                                            <td class="text-center" style="width: 80px;">@Html.DisplayFor(modelItem => item.dezembro)</td>
                                            <td class="text-center" style="width: 100px;"><b>@Html.DisplayFor(modelItem => item.total)</b></td>
                                        </tr>
                                    }
                                    <tr class="table-warning">     
                                        <td>TOTAL</td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.janeiro</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.fevereiro</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.marco</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.abril</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.maio</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.junho</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.julho</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.agosto</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.setembro</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.outubro</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.novembro</b></td>
                                        <td class="text-center" style="width: 80px;"><b>@ViewBag.relatorio.dezembro</b></td>
                                        <td class="text-center" style="width: 100px;"><b>@ViewBag.relatorio.total</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Table -->

                    </div>

                </div>

         </div>
   
        }

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->


@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/chart")

<script>

    function ImprimirRelatorio() {

        var unidade = $("#unidade").val();
        var ano = $("#ano").val();

        window.open('PrintManutencaoExecutor' + '?unidade=' + unidade + '&ano=' + ano + '&nome_fantasia=' + $("#unidade option:selected").text(), '_blank');
    }

    var MONTHS = ['Jan.', 'Fev.', 'Mar.', 'Abr.', 'Mai.', 'Jun.', 'Jul.', 'Ago.', 'Set.', 'Out.', 'Nov.', 'Dez.'];
    var config = {
        type: 'bar',
        data: {
            labels: ['Jan.', 'Fev.', 'Mar.', 'Abr.', 'Mai.', 'Jun.', 'Jul.', 'Ago.', 'Set.', 'Out.', 'Nov.', 'Dez.']
        },
        options: {
            responsive: true,
            elements: {
                line: {
                    tension: 0.000001
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                        min: 0,

                        // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                        suggestedMax: 20
                    }
                }]
            },
            legend: { position: 'right' }
        }
    };

    var colorNames = Object.keys(window.chartColors);


    function LoadChart() {

        unidade = $("#unidade");
        ano = $("#ano");

        var request = { "unidade": unidade.val(), "ano": ano.val() };

        $.post("ChartManutencaoExecutor", request, function (obj) {

            $.each(obj, function (indice, result) {

                var colorName = colorNames[config.data.datasets.length % colorNames.length];
                var newColor = window.chartColors[colorName];

                var newDataset = {
                    label: result.executor,
                    backgroundColor: newColor,
                    borderColor: newColor,
                    data: [],
                    fill: false
                };

                for (var index = 0; index < result.valor.length; ++index) {
                    newDataset.data.push(result.valor[index]);
                }

                config.data.datasets.push(newDataset);
                window.myLine.update();
            });
        }, "json");
    }

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = new Chart(ctx, config);
    };

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.list-group-item > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'ano': {
                        required: true
                    }
                },
                messages: {
                    'ano': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        LoadChart();
    });

</script>
}
