<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("PrintRelatorioDinamicoDia", "Relatorio", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", @name = "form", @id = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="page landscape-parent">

                <div class="block d-print-normal p-10 m-10" style="display:none">
                    <div class="form-row">
                        <div class="col-3">
                            <img class="img-avatar" src="@Session["imagem_sidebar"]" alt="">
                        </div>
                        <div class="col-6 text-center">
                            <label class="h2">Relatório de Itens Auditáveis</label>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-md-12 col-xl-12">
                    <!-- Toggle Tasks Navigation on mobile -->
                    <button type="button" class="btn btn-block btn-primary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.filtros</button>

                    <!-- Collapsible Tasks Navigation -->
                    <div class="js-tasks-nav d-none d-md-block">
                        <!-- Tasks Info -->
                        <div class="block">
                            <div class="block-header block-header-default bg-gd-default">
                                <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.filtro</h3>
                            </div>
                            <div class="block-content">
                                <ul class="list-group push">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">@Html.DropDownList("unidade", null, PCM.WEB.Properties.Resources.unidade, new { @class = "form-control" })</div>
                                            <div class="col-md-6 col-lg-4">@Html.DropDownList("data", null, PCM.WEB.Properties.Resources.data, new { @class = "form-control" })</div>
                                            <div class="col-md-12 col-lg-4">@Html.DropDownList("relatorio_itens_auditaveis", null, PCM.WEB.Properties.Resources.relatorio, new { @class = "form-control js-select2" })</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item text-right d-print-none">
                                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar" onclick="loadGrid();"><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.filtrar</button>
                                        <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75"><i class="si si-printer mr-5"></i>@PCM.WEB.Properties.Resources.imprimir</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Tasks Info -->
                    </div>
                    <!-- END Collapsible Tasks Navigation -->

                    <div class="block">

                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">Itens Auditáveis</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option text-dark font-w600" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            </div>
                        </div>

                        <div class="block-content">

                            <!-- Table -->
                            <div class="table-responsive table-sm push">
                                <table class="table table-bordered table-vcenter table-sm table-striped js-dataTable-full" id="tb_main">
                                    <thead>
                                        <tr class="table-secondary">
                                            <th>@PCM.WEB.Properties.Resources.descricao</th>
                                            <th class="text-center">1</th>
                                            <th class="text-center">2</th>
                                            <th class="text-center">3</th>
                                            <th class="text-center">4</th>
                                            <th class="text-center">5</th>
                                            <th class="text-center">6</th>
                                            <th class="text-center">7</th>
                                            <th class="text-center">8</th>
                                            <th class="text-center">9</th>
                                            <th class="text-center">10</th>
                                            <th class="text-center">11</th>
                                            <th class="text-center">12</th>
                                            <th class="text-center">13</th>
                                            <th class="text-center">14</th>
                                            <th class="text-center">15</th>
                                            <th class="text-center">16</th>
                                            <th class="text-center">17</th>
                                            <th class="text-center">18</th>
                                            <th class="text-center">19</th>
                                            <th class="text-center">20</th>
                                            <th class="text-center">21</th>
                                            <th class="text-center">22</th>
                                            <th class="text-center">23</th>
                                            <th class="text-center">24</th>
                                            <th class="text-center">25</th>
                                            <th class="text-center">26</th>
                                            <th class="text-center">27</th>
                                            <th class="text-center">28</th>
                                            <th class="text-center">29</th>
                                            <th class="text-center">30</th>
                                            <th class="text-center">31</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- END Table -->

                        </div>

                    </div>

                </div>
            </div>

        }

    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/chart")
    @Scripts.Render("~/plugins/select")

<script>

    function printRelatorio() {

            window.open("PrintRelatorioDinamicoDia?data=" + $("#data").val() + "&unidade=" + ($("#unidade").val() == "") ? "-1" : $("#unidade").val() + "&relatorio_itens_auditaveis=" + $("#relatorio_itens_auditaveis").val(), "_self");

    }

    $(function () {

        $.ajaxSetup({ async: false });

        var unidade = $("#unidade")
        var relatorio_itens_auditaveis = $("#relatorio_itens_auditaveis");
        relatorio_itens_auditaveis.select2({ allowClear: true, placeholder: '@PCM.WEB.Properties.Resources.relatorio' });

        unidade.change(function () {

            var request = { "unidade": (unidade.val() == "") ? "-1" : unidade.val() };

            $.post("LoadRelatorioItensAuditaveis", request, function (obj) {
                relatorio_itens_auditaveis.empty();
                option = $("<option>", { "value": "" }).text("");
                relatorio_itens_auditaveis.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    relatorio_itens_auditaveis.append(option);
                });
            }, "json");

        });

    });

    // Initialize when page loads
    jQuery(function () {
        FormValidation.init();
        loadGrid();
        Codebase.helpers(['datepicker', 'maxlength', 'select2']);
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
    });

    function loadGrid() {

        if ($("#relatorio_itens_auditaveis").val() != "" && $("#data").val() != "") {

            // Init simple DataTable, for more examples you can check out https://www.datatables.net/
            $("#tb_main").DataTable({
                destroy: true,
                fixedHeader: true,
                searching: false,
                ordering: false,
                lengthChange: false,
                paging: false,
                autoWidth: false,
                scrollX: true,
                scrollColapse: true,
            ajax: {
                url: "LoadRelatorioDinamicoDia",
                type: "POST",
                datatype: "json",
                data: {
                    "data": $("#data").val(),
                    "unidade": $("#unidade").val() == "" ? "-1" : $("#unidade").val(),
                    "relatorio_itens_auditaveis": $("#relatorio_itens_auditaveis").val() == "" ? "-1" : $("#relatorio_itens_auditaveis").val()
                },
                dataSrc: ""
            },
            columns: [
                { data: "descricao", className: "bg-light-secondary"},
                { data: "dia1" },
                { data: "dia2" },
                { data: "dia3" },
                { data: "dia4" },
                { data: "dia5" },
                { data: "dia6" },
                { data: "dia7" },
                { data: "dia8" },
                { data: "dia9" },
                { data: "dia10" },
                { data: "dia11" },
                { data: "dia12" },
                { data: "dia13" },
                { data: "dia14" },
                { data: "dia15" },
                { data: "dia16" },
                { data: "dia17" },
                { data: "dia18" },
                { data: "dia19" },
                { data: "dia20" },
                { data: "dia21" },
                { data: "dia22" },
                { data: "dia23" },
                { data: "dia24" },
                { data: "dia25" },
                { data: "dia26" },
                { data: "dia27" },
                { data: "dia28" },
                { data: "dia29" },
                { data: "dia30" },
                { data: "dia31" }
            ],
            columnDefs: [
                { className: 'text-center', targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31] },
                { width: '350px', targets: 0 },
                { width: '50px', targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31] },

                {
                    createdCell: function (td, cellData, rowData, row, col) {

                        if ((rowData.codigoTipoItemChecklist == 1 && col == 1 && rowData.dia1 == "NÃO")) {
                            $(td).addClass("bg-danger text-white");
                        } else if ((rowData.codigoTipoItemChecklist == 1 && col == 2 && rowData.dia2 == "NÃO")) {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 3 && rowData.dia3 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 4 && rowData.dia4 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 5 && rowData.dia5 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 6 && rowData.dia6 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 7 && rowData.dia7 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 8 && rowData.dia8 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 9 && rowData.dia9 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 10 && rowData.dia10 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 11 && rowData.dia11 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 12 && rowData.dia12 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 13 && rowData.dia13 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 14 && rowData.dia14 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 15 && rowData.dia15 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 16 && rowData.dia16 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 17 && rowData.dia17 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 18 && rowData.dia18 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 19 && rowData.dia19 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 20 && rowData.dia20 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 21 && rowData.dia21 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 22 && rowData.dia22 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 23 && rowData.dia23 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 24 && rowData.dia24 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 25 && rowData.dia25 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 26 && rowData.dia26 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 27 && rowData.dia27 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 28 && rowData.dia28 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 28 && rowData.dia29 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 30 && rowData.dia30 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        } else if (rowData.codigoTipoItemChecklist == 1 && col == 31 && rowData.dia31 == "NÃO") {
                            $(td).addClass("bg-danger text-white");
                        }
                    }, targets: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', text: 'Copiar' },
                {extend: 'print',text: 'Imprimir'},
                {extend: 'excel', text: 'Excel'},
                { extend: 'pdf', orientation: 'portrait' },
            ],
                language: {
                "search": "Procurar:",
                "lengthMenu": "Exibir _MENU_ ",
                "info": "_MAX_ registro(s)",
                "infoFiltered": "(filtrado de _MAX_ registro(s))"
            }
            });

        }

    }

    var FormValidation = function () {
        // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
        var initValidationBootstrap = function () {
            jQuery('.js-validation-bootstrap').validate({
                ignore: [],
                errorClass: 'invalid-feedback animated fadeInDown',
                errorElement: 'div',
                errorPlacement: function (error, e) {
                    jQuery(e).parents('.list-group-item > .row > div').append(error);
                },
                highlight: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid').addClass('is-invalid');
                },
                success: function (e) {
                    jQuery(e).closest('.list-group-item').removeClass('is-invalid');
                    jQuery(e).remove();
                },
                rules: {
                    'data': {
                        required: true
                    },
                    'relatorio_itens_auditaveis': {
                        required: true
                    }
                },
                messages: {
                    'data': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    },
                    'relatorio_itens_auditaveis': {
                        required: '@PCM.WEB.Properties.Resources.campo_requerido'
                    }
                }
            });
        };

        return {
            init: function () {
                // Init Bootstrap Forms Validation
                initValidationBootstrap();
            }
        };
    }();

</script>
}
