<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span>@PCM.WEB.Properties.Resources.administracao</span>
                <a class="breadcrumb-item" href="@Url.Action("ClienteIndex", "Administracao")">@PCM.WEB.Properties.Resources.cliente</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.inserir</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">
                @using (Html.BeginForm("ClienteInsert", "Administracao", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" id="quantidade_bloco" name="quantidade_bloco" value="1" />
                    <input type="hidden" id="quantidade_andar" name="quantidade_andar" value="1" />
                    <input type="hidden" id="tipo_unidade" name="tipo_unidade" value="2" />

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.cadastrar</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-save mr-5"></i>@PCM.WEB.Properties.Resources.salvar
                                </button>
                                <a href="@Url.Action("ClienteIndex", "Administracao")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.cnpj</label>
                                <div class="col-md-4"><input type="text" class="form-control" id="cnpj" name="cnpj" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.nome_fantasia</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="nome_fantasia" name="nome_fantasia" maxlength="120" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.razao_social</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="razao_social" name="razao_social" maxlength="120" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.inscricao_estadual</label>
                                <div class="col-md-4"><input type="text" class="js-maxlength form-control" id="inscricao_estadual" name="inscricao_estadual" maxlength="20" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.inscricao_municipal</label>
                                <div class="col-md-4"><input type="text" class="js-maxlength form-control" id="inscricao_municipal" name="inscricao_municipal" maxlength="20" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.cep</label>
                                <div class="col-md-3"><input type="text" class="form-control" id="cep" name="cep" value="" onblur="LoadCEP();"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.uf</label>
                                <div class="col-md-3">@Html.DropDownList("uf", null, "", new { @class = "form-control" })</div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.municipio</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="municipio" name="municipio" maxlength="100" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.logradouro</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="logradouro" name="logradouro" maxlength="100" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.numero</label>
                                <div class="col-md-4"><input type="text" class="js-maxlength form-control" id="numero" name="numero" maxlength="60" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.bairro</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="bairro" name="bairro" maxlength="100" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.complemento</label>
                                <div class="col-12"><input type="text" class="js-maxlength form-control" id="complemento" name="complemento" maxlength="100" value=""></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.telefone</label>
                                <div class="col-md-4"><input type="text" class="form-control" id="telefone" name="telefone" value=""></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-4">
                                    <label>@PCM.WEB.Properties.Resources.area_total</label>
                                    <div><input type="text" class="form-control" id="area_total" name="area_total" value=""></div>
                                </div>
                                <div class="col-4">
                                    <label>@PCM.WEB.Properties.Resources.area_total_construida</label>
                                    <div><input type="text" class="form-control" id="area_total_construida" name="area_total_construida" value=""></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.aponta_horas</label>
                                <div class="col-12">
                                    <label class="css-control css-control-success css-switch">
                                        <input type="checkbox" class="css-control-input" id="aponta_horas" name="aponta_horas" checked value="true">
                                        <span class="css-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.ativo</label>
                                <div class="col-12">
                                    <label class="css-control css-control-success css-switch">
                                        <input type="checkbox" class="css-control-input" id="ativo" name="ativo" checked value="true">
                                        <span class="css-control-indicator"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.logo</label>
                                <div class="col-12">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="imagem" name="imagem" onchange="Arquivo();" accept="image/x-png,image/gif,image/jpeg">
                                        <label id="lblArquivo" class="custom-file-label" for="imagem">@PCM.WEB.Properties.Resources.selecione_arquivo</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Image Cropper -->
                    <!--<div class="container">
            <div class="upload-demo-wrap">
                <div id="uploadImage"></div>
            </div>
            <div class="actions">
                <a class="btn file-actions">
                    <span>Upload</span>
                    <input type="file" id="upload" accept="image/*" value="Escolha uma Imagem" />
                </a>
                <button class="upload-result">Result</button>
            </div>
        </div>-->

                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/imagecropper")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/imagecropper")

<script>

        //window.addEventListener('DOMContentLoaded', function () {
        //    var avatar = document.getElementById('avatar');
        //    var image = document.getElementById('image');
        //    var input = document.getElementById('input');
        //    var $progress = $('.progress');
        //    var $progressBar = $('.progress-bar');
        //    var $alert = $('.alert');
        //    var $modal = $('#modal');
        //    var cropper;

        //    $('[data-toggle="tooltip"]').tooltip();

        //    input.addEventListener('change', function (e) {
        //        var files = e.target.files;
        //        var done = function (url) {
        //            input.value = '';
        //            image.src = url;
        //            $alert.hide();
        //            $modal.modal('show');
        //        };
        //        var reader;
        //        var file;
        //        var url;

        //        if (files && files.length > 0) {
        //            file = files[0];

        //        if (URL) {
        //            done(URL.createObjectURL(file));
        //        } else if (FileReader) {
        //            reader = new FileReader();
        //            reader.onload = function (e) {
        //                done(reader.result);
        //            };
        //            reader.readAsDataURL(file);
        //        }
        //    }
        //});

        //$modal.on('shown.bs.modal', function () {
        //    cropper = new Cropper(image, {
        //            aspectRatio: 1,
        //            viewMode: 4,
        //        });
        //    }).on('hidden.bs.modal', function () {
        //        cropper.destroy();
        //        cropper = null;
        //    });

        //    document.getElementById('crop').addEventListener('click', function () {
        //        var initialAvatarURL;
        //        var canvas;

        //        $modal.modal('hide');

        //        if (cropper) {
        //            canvas = cropper.getCroppedCanvas({
        //                width: 400,
        //                height: 160,
        //            });
        //            initialAvatarURL = avatar.src;
        //            avatar.src = canvas.toDataURL();
        //            $progress.show();
        //            $alert.removeClass('alert-success alert-warning');
        //            canvas.toBlob(function (blob) {
        //            var formData = new FormData();

        //            formData.append('avatar', blob, 'avatar.jpg');
        //            $.ajax('https://jsonplaceholder.typicode.com/posts', {
        //                method: 'POST',
        //                data: formData,
        //                processData: false,
        //                contentType: false,

        //                xhr: function () {
        //                    var xhr = new XMLHttpRequest();

        //                    xhr.upload.onprogress = function (e) {
        //                        var percent = '0';
        //                        var percentage = '0%';

        //                        if (e.lengthComputable) {
        //                        percent = Math.round((e.loaded / e.total) * 100);
        //                        percentage = percent + '%';
        //                        $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
        //                        }
        //                    };

        //                    return xhr;
        //                },

        //                success: function () {
        //                    $alert.show().addClass('alert-success').text('Upload success');
        //            },
        //            error: function () {
        //                avatar.src = initialAvatarURL;
        //                $alert.show().addClass('alert-warning').text('Upload error');
        //            },
        //            complete: function () {
        //                $progress.hide();
        //            },});
        //        });
        //    }
        //    });
        //});

        function Arquivo() {
            document.getElementById("lblArquivo").textContent = document.getElementById("imagem").files[0].name;
        }

        $(document).ready(function () { $("#cnpj").mask("99.999.999/9999-99"); });
        $(document).ready(function () { $("#cep").mask("99.999-999"); });
        $(document).ready(function () { $("#telefone").mask("(99) 9999-9999"); });
        $(document).ready(function () { $("#quantidade_bloco").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' }); });
        $(document).ready(function () { $("#quantidade_andar").maskMoney({ prefix: '', thousands: '.', precision: 0, allowNegative: false, 'placeholder': '' }); });
        $(document).ready(function () { $("#area_total").maskMoney({ prefix: '', thousands: '.', precision: 2, allowNegative: false, 'placeholder': '' }); });
        $(document).ready(function () { $("#area_total_construida").maskMoney({ prefix: '', thousands: '.', precision: 2, allowNegative: false, 'placeholder': '' }); });

        jQuery.validator.addMethod("cnpj", function (cnpj, element) {

            cnpj = cnpj.replace(".", "");
            cnpj = cnpj.replace(".", "");
            cnpj = cnpj.replace("/", "");
            cnpj = cnpj.replace("-", "");

            var numeros, digitos, soma, resultado, pos, tamanho,
                digitos_iguais = true;

            if (cnpj.length < 14 && cnpj.length > 15)
                return false;

            for (var i = 0; i < cnpj.length - 1; i++)
                if (cnpj.charAt(i) != cnpj.charAt(i + 1)) {
                    digitos_iguais = false;
                    break;
                }

            if (!digitos_iguais) {
                tamanho = cnpj.length - 2
                numeros = cnpj.substring(0, tamanho);
                digitos = cnpj.substring(tamanho);
                soma = 0;
                pos = tamanho - 7;

                for (i = tamanho; i >= 1; i--) {
                    soma += numeros.charAt(tamanho - i) * pos--;
                    if (pos < 2)
                        pos = 9;
                }

                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;

                if (resultado != digitos.charAt(0))
                    return false;

                tamanho = tamanho + 1;
                numeros = cnpj.substring(0, tamanho);
                soma = 0;
                pos = tamanho - 7;

                for (i = tamanho; i >= 1; i--) {
                    soma += numeros.charAt(tamanho - i) * pos--;
                    if (pos < 2)
                        pos = 9;
                }

                resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;

                if (resultado != digitos.charAt(1))
                    return false;

                return true;
            }

            return false;
        }, "Informe um CNPJ v&aacute;lido.");

        jQuery.validator.addMethod("cnpj_bd", function (value, element) {

            var dataString = {
                "cnpj": value,
                "codigo": -1
            };

            var result = false;

            jQuery.ajax({
                type: "POST",
                url: "ValidaCliente",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    if (return_data == false) {
                        result = false;
                    } else if (return_data == true) {
                        result = true;
                    }
                }
            });

            return result;

        }, "Informe um CNPJ v&aacute;lido.");

        function LoadCEP() {

            var cep = $('#cep').val();

            if (cep != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/CadastroBasico/CEPInfo")',
                    data: { "cep": cep },
                    success: function (dados) {
                        if (dados.length > 0) {
                            $.each(dados, function (i, obj) {
                                document.getElementById("uf").value = obj.uf;
                                document.getElementById("uf").readonly = true;
                                document.getElementById("municipio").value = obj.municipio;
                                document.getElementById("municipio").readonly = true;
                                document.getElementById("logradouro").value = obj.logradouro;
                                document.getElementById("logradouro").readonly = true;
                                document.getElementById("bairro").value = obj.bairro;
                                document.getElementById("bairro").readonly = true;
                            })
                        }
                        else {
                            cep.value = "";
                            document.getElementById("uf").value = "";
                            document.getElementById("uf").readonly = false;
                            document.getElementById("municipio").value = "";
                            document.getElementById("municipio").readonly = false;
                            document.getElementById("logradouro").value = "";
                            document.getElementById("logradouro").readonly = false;
                            document.getElementById("bairro").value = "";
                            document.getElementById("bairro").readonly = false;
                        };
                    }
                });
            }
            else {
                document.getElementById("uf").value = "";
                document.getElementById("uf").readonly = false;
                document.getElementById("municipio").value = "";
                document.getElementById("municipio").readonly = false;
                document.getElementById("logradouro").value = "";
                document.getElementById("logradouro").readonly = false;
                document.getElementById("bairro").value = "";
                document.getElementById("bairro").readonly = false;
            }
        }

        var FormValidation = function () {
            // Init Bootstrap Forms Validation, for more examples you can check out https://github.com/jzaefferer/jquery-validation
            var initValidationBootstrap = function () {
                jQuery('.js-validation-bootstrap').validate({
                    ignore: [],
                    errorClass: 'invalid-feedback animated fadeInDown',
                    errorElement: 'div',
                    errorPlacement: function (error, e) {
                        jQuery(e).parents('.form-group > div').append(error);
                    },
                    highlight: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid').addClass('is-invalid');
                    },
                    success: function (e) {
                        jQuery(e).closest('.form-group > div').removeClass('is-invalid');
                        jQuery(e).remove();
                    },
                    rules: {
                        'tipo_unidade': {
                            required: true
                        },
                        'cnpj': {
                            required: true,
                            cnpj: true,
                            cnpj_bd: true,
                        },
                        'nome_fantasia': {
                            required: true
                        },
                        'razao_social': {
                            required: true
                        },
                        'cep': {
                            required: true
                        },
                        'uf': {
                            required: true
                        },
                        'municipio': {
                            required: true
                        },
                        'quantidade_bloco': {
                            required: true,
                            number: true
                        },
                        'quantidade_andar': {
                            required: true,
                            number: true
                        }
                    },
                    messages: {
                        'tipo_unidade': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'cnpj': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido',
                            cnpj: '@PCM.WEB.Properties.Resources.valida_cnpj_invalido',
                            cnpj_bd: '@PCM.WEB.Properties.Resources.valida_cnpj_bd',
                        },
                        'nome_fantasia': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'razao_social': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'cep': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'uf': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'municipio': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido'
                        },
                        'quantidade_bloco': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido',
                            number: '@PCM.WEB.Properties.Resources.campo_numerico'
                        },
                        'quantidade_andar': {
                            required: '@PCM.WEB.Properties.Resources.campo_requerido',
                            number: '@PCM.WEB.Properties.Resources.campo_numerico'
                        }
                    }
                });
            };

            return {
                init: function () {
                    // Init Bootstrap Forms Validation
                    initValidationBootstrap();
                }
            };
        }();

        // Initialize when page loads
        jQuery(function () {
            FormValidation.init();
            Codebase.helpers(['maxlength']);
        });

</script>

}