@model IEnumerable<PCM.WEB.MODELS.Perfil>

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.perfil_hierarquia</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">        
        <div class="block block-rounded border">
            <div class="block-header block-header-default bg-gd-default">
                <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.perfil_hierarquia</h3>                
            </div>
            
            <div class="block-content block-content-full">
                <table class="table table-sm table-vcenter table-striped js-dataTable-list">
                    <thead>
                        <tr class="table-secondary">
                            <th>@PCM.WEB.Properties.Resources.descricao </th>
                            <th class="d-none d-sm-table-cell text-md-center" style="width: 120px;">@PCM.WEB.Properties.Resources.hierarquia</th>
                            @if(ViewBag.editar || ViewBag.excluir)
                            {
                                <th class="text-md-center" style="width: 120px;"></th>
                            }
                        </tr>
                    </thead>

                    <tbody>                       
                        @foreach (var item in Model)
                        {
                            <tr>           
                                <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                                <td class="d-none d-sm-table-cell text-md-center">@item.hierarquia</td>   
                                <td class="text-md-center">
                                    <div class="btn-group">                                            
                                        @if(item.hierarquia != 1) {<button type="button" class="btn btn-success h-75" onclick="UP(@item.hierarquia);"><i class="fa fa-arrow-up"></i></button>}
                                        @if(item.hierarquia < Model.Count()) {<button type="button" class="btn btn-danger h-75" onclick="Down(@item.hierarquia);"><i class="fa fa-arrow-down"></i></button>}
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <!-- END Perfil -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        function UP(item) {

            var dataString = {
                "hierarquia": item,
                "opcao": 'U'
            };

            jQuery.ajax({
                type: "POST",
                url: "UpdatePerfil",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    location.reload();
                }
            });

        }

        function Down(item) {

            var dataString = {
                "hierarquia": item,
                "opcao": 'D'
            };

            jQuery.ajax({
                type: "POST",
                url: "UpdatePerfil",
                async: false,
                data: dataString,
                dataType: "json",
                success: function (return_data) {
                    location.reload();
                }
            });

        }

        var BeTableDatatables = function () {
            // Override a few DataTable defaults, for more examples you can check out https://www.datatables.net/
            var exDataTable = function () {
                jQuery.extend(jQuery.fn.dataTable.ext.classes, {
                    sWrapper: "dataTables_wrapper dt-bootstrap4"
                });
            };

            // Init simple DataTable, for more examples you can check out https://www.datatables.net/
            var initDataTableSimple = function () {
                jQuery('.js-dataTable-list').dataTable({
                    paging: false,
                    fixedHeader: true,
                    searching: false,
                    lengthChange: false,
                    targets: 'no-sort',
                    ordering: false,
                    autoWidth: true,
                    language: {
                        "search": "Procurar:",
                        "lengthMenu": "Exibir _MENU_ ",
                        "zeroRecords": "Nenhum Registro Encontrado",
                        "info": "_MAX_ registro(s)",
                        "infoEmpty": "Nenhum Registro encontrado",
                        "infoFiltered": "(filtrado de _MAX_ registro(s))"
                    }
                });
            };

            return {
                init: function () {
                    // Override a few DataTable defaults
                    exDataTable();

                    // Init Datatables
                    initDataTableSimple();
                }
            };
        }();


        // Initialize when page loads
        jQuery(function () { $.fn.dataTable.moment('DD/MM/YYYY HH:mm'); BeTableDatatables.init(); });

    </script>
}
