@model PCM.WEB.MODELS.OrdemServico

<!-- Main Container -->
<main id="main-container">
   
    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item" href="@Url.Action("OrdemServicoIndex2", "OrdemServico")">@PCM.WEB.Properties.Resources.ordem_servico</a>
                <span class="breadcrumb-item active">Cancelar</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->

    <!-- Page Content -->
    <div class="content">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">                
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.codigo)
                    @Html.HiddenFor(model => model.codigo_unidade)

                    <div class="block block-rounded border">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">Deseja cancelar a Ordem de Servico?</h3>
                            <h5 class="block-title text-white font-w600">Esta operação não pode ser desfeita</h5>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="fa fa-times mr-5"></i>Confirmar                                </button>
                                <a href="@Url.Action("OrdemServicoIndex2", "OrdemServico")" class="btn btn-square btn-secondary min-width-100 h-75">
                                    <i class="si si-action-undo mr-5"></i>@PCM.WEB.Properties.Resources.voltar
                                </a>
                            </div>
                        </div>
                        <div class="block-content block-content-full">        
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.unidade</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.unidade)
                                </div>
                            </div>                          
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.categoria</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.categoria)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.setor</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.setor)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.equipamento</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.equipamento)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.data</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.data)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.prioridade</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.prioridade)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12">@PCM.WEB.Properties.Resources.descricao</label>
                                <div class="col-12">
                                    @Html.DisplayFor(model => model.descricao)
                                </div>
                            </div>
                        </div>                        
                    </div>
                }
            </div>
            <!-- END Basic Info -->
        </div>
        <!-- END Update Product -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->
