@model IEnumerable<PCM.WEB.MODELS.OrdemServicoApontamento>

<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">

        <div class="block">
            <div class="block-header block-header-default">
                <h3 class="block-title">@PCM.WEB.Properties.Resources.ordem_servico: @ViewBag.ordem_servico.numero_documento</h3>
                <div class="block-options">
                    <!-- Print Page functionality is initialized in Codebase() -> uiHelperPrint() -->
                    <a href="@Url.Action("OrdemServicoPrintPDF", "OrdemServico", new {codigo_empresa = Session["empresa"].ToString(), codigo_unidade = ViewBag.ordem_servico.codigo_unidade, codigo_ordem_servico = ViewBag.ordem_servico.codigo })" target="_blank" type="button" class="btn-block-option">
                        <i class="si si-printer"></i> @PCM.WEB.Properties.Resources.imprimir
                    </a>
                    <button type="button" class="btn-block-option" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                </div>
            </div>
            <div class="block-content">
                <!-- Invoice Info -->
                <div class="row my-20 block-content border">

                    <div class="col-2 text-left">
                        <img class="img-avatar img-avatar72" src="@Session["imagem_sidebar"]" alt="">
                    </div>

                    <!-- Company Info -->
                    <div class="col-5">
                        <p class="h3">@ViewBag.ordem_servico.unidade</p>
                        <address>
                            <b>@PCM.WEB.Properties.Resources.solicitante.ToUpper():</b> @ViewBag.ordem_servico.solicitante<br>
                            <b>@PCM.WEB.Properties.Resources.setor.ToUpper():</b> @ViewBag.ordem_servico.setor<br>
                            @if (@ViewBag.ordem_servico.apartamento != "")
                            {
                                <b>@PCM.WEB.Properties.Resources.apartamento.ToUpper():</b> @ViewBag.ordem_servico.apartamento<br>
                            }
                            @if (@ViewBag.ordem_servico.equipamento != "-")
                            {<b>@PCM.WEB.Properties.Resources.equipamento.ToUpper():</b> @ViewBag.ordem_servico.equipamento<br>}
                        </address>
                    </div>
                    <!-- END Company Info -->
                    <!-- Client Info -->
                    <div class="col-5 text-right">
                        <p class="h3">@ViewBag.ordem_servico.numero_documento</p>
                        <address>
                            <b>DATA ABERTURA:</b> @ViewBag.ordem_servico.data<br>
                            @if (ViewBag.ordem_servico.data_necessidade_inicial != "")
                            {
                                <b>@PCM.WEB.Properties.Resources.prazo_execucao.ToUpper() INICIAL:</b> @ViewBag.ordem_servico.data_necessidade_inicial<br>
                            }
                            <b>@PCM.WEB.Properties.Resources.prazo_execucao.ToUpper():</b> @ViewBag.ordem_servico.data_necessidade<br>
                            <b>@PCM.WEB.Properties.Resources.categoria.ToUpper():</b> @ViewBag.ordem_servico.categoria<br>
                            <b>@PCM.WEB.Properties.Resources.prioridade.ToUpper():</b> @ViewBag.ordem_servico.prioridade
                        </address>
                    </div>
                    <!-- END Client Info -->
                </div>

                @if (ViewBag.ordem_servico.fotos.Count > 0)
                {
                    <div class="row my-20 block-content border">
                        <div class="col-md-9 h3 text-danger">@PCM.WEB.Properties.Resources.descricao.ToUpper(): <span class="h3" style="font-style:italic">@ViewBag.ordem_servico.descricao</span></div>

                        @if (ViewBag.ordem_servico.justificativa_cancelamento != "")
                        {
                            <div class="col-md-9 h3 text-danger">JUSTIFICATIVA: <span class="h3" style="font-style:italic">@ViewBag.ordem_servico.justificativa_cancelamento</span></div>

                        }

                        <div class="col-md-3 block">
                            <div class="block block-rounded border">
                                <div class="block-header block-header-default bg-gd-default">
                                    <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.foto</h3>
                                </div>
                                <div class="js-slider slick-nav-black slick-nav-hover" data-dots="true" data-arrows="true" data-slides-to-show="1" data-center-mode="true" data-autoplay="true" data-autoplay-speed="3000" id="os_imagem">
                                    @for (int i = 0; i < ViewBag.ordem_servico.fotos.Count; i++)
                                    {
                                        <div class="mt-15">
                                            <img class="img-galery" src="@Url.Content(ViewBag.ordem_servico.fotos[i].filename)" alt="">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="row my-20 block-content border">
                        <div class="col-md-12 h3 text-danger">@PCM.WEB.Properties.Resources.descricao.ToUpper(): <span class="h3" style="font-style:italic">@ViewBag.ordem_servico.descricao</span></div>

                        @if (ViewBag.ordem_servico.justificativa_cancelamento != "")
                        {
                            <div class="col-md-12 h3 text-danger">JUSTIFICATIVA: <span class="h3" style="font-style:italic">@ViewBag.ordem_servico.justificativa_cancelamento</span></div>

                        }


                    </div>
                }
                <!-- END Invoice Info -->
                <!-- Table -->
                <div class="table-responsive push">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center" style="width: 50px;"></th>
                                <th>@PCM.WEB.Properties.Resources.executor</th>
                                <th class="text-center" style="width: 250px;">@PCM.WEB.Properties.Resources.justificativa_apontamento</th>
                                <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.data_inicio</th>
                                <th class="text-center" style="width: 150px;">@PCM.WEB.Properties.Resources.data_termino</th>
                                <th class="text-center" style="width: 100px;">@PCM.WEB.Properties.Resources.tempo_gasto</th>
                                <th class="text-center" style="width: 300px;">Imagem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.item)</td>
                                    <td>
                                        <p class="font-w600 mb-5">@Html.DisplayFor(modelItem => item.executor)</p>
                                        <div class="text-muted">@Html.DisplayFor(modelItem => item.solucao)</div>
                                    </td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.justificativa)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.data_inicio)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.data_termino)</td>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.horas)</td>
                                    <td class="text-center">
                                        @if (item.fotos.Count > 0)
                                        {
                                            <div class="js-slider slick-nav-black slick-nav-hover" data-dots="true" data-arrows="true" data-slides-to-show="1" data-center-mode="true" data-autoplay="true" data-autoplay-speed="3000">
                                                @for (int i = 0; i < item.fotos.Count; i++)
                                                {
                                                    <div class="mt-15">

                                                        <img class="img-galery" src="@Url.Content(item.fotos[i].filename)" alt="">
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr class="table-primary">
                                <td colspan="5" class="font-w700 text-uppercase text-right">Total</td>
                                <td class="font-w700 text-center">@ViewBag.ordem_servico.horas</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END Table -->
                <!-- Invoice Info -->
                <div class="row my-20 block-content border">
                    <div class="col-9 text-left">
                        @*<address>
                                <b>Km Inicial:</b><br>
                                <b>Km Final:</b><br>
                                <b>Km Total:</b><br>
                            </address>*@
                    </div>
                    <div class="col-3 text-center"><br /><br /><br /><br /><div class="font-w700 border-t border-2x col-12">APROVADOR / DATA</div><br /></div>
                </div>
                <!-- END Invoice Info -->
            </div>
        </div>
        <!-- END Invoice -->
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/select")
    @Styles.Render("~/Content/slick")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")
    @Scripts.Render("~/plugins/slick")

    <script>

        // Initialize when page loads
        jQuery(function () {
            Codebase.helpers(['datepicker', 'maxlength', 'select2', 'slick']);
        });

    </script>
}
