<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.ADM.WEB.Properties.Resources.sistema</a>
                <span class="breadcrumb-item">@PCM.ADM.WEB.Properties.Resources.excel</span>
                <span class="breadcrumb-item active">@PCM.ADM.WEB.Properties.Resources.ordem_servico</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("OrdemServico", "Excel", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <!-- Toggle Tasks Navigation on mobile -->
            <button type="button" class="btn btn-block btn-square btn-primary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.ADM.WEB.Properties.Resources.filtros</button>

            <div class="js-tasks-nav d-none d-md-block">
                <div class="block block-rounded border">
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.ADM.WEB.Properties.Resources.ordem_servico</h3>                       
                    </div>
                    <div class="block-content">
                        <ul class="list-group push">
                            @if (Session["unidade"] == "")
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">@Html.DropDownList("unidade", null, PCM.ADM.WEB.Properties.Resources.unidade, new { @class = "js-select2 form-control" })</div>
                                    </div>
                                </li>
                            }
                            @if (Session["unidade"] != "")
                            {
                                <input type="hidden" name="unidade" id="unidade" value="@ViewBag.codigo_unidade">
                            }
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                            <input type="text" class="form-control" id="data_inicio" name="data_inicio" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_inicio">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text font-w600">-</span>
                                            </div>
                                            <input type="text" class="form-control" id="data_termino" name="data_termino" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_termino">
                                        </div>
                                    </div>
                                    @if ((bool)Session["fornecedor_pmoc"])
                                    {
                                        <div class="col-md-1"><div><input type="text" id="ordem_servico" name="ordem_servico" value="@ViewBag.ordem_servico" placeholder="@PCM.ADM.WEB.Properties.Resources.ordem_servico" class="form-control"></div></div>
                                        <div class="col-md-1"><div><input type="text" id="ordem_servico_cliente" name="ordem_servico_cliente" value="@ViewBag.ordem_servico_cliente" placeholder="@PCM.ADM.WEB.Properties.Resources.ordem_servico_cliente" class="form-control"></div></div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2"><div><input type="text" id="ordem_servico" name="ordem_servico" value="@ViewBag.ordem_servico" placeholder="@PCM.ADM.WEB.Properties.Resources.ordem_servico" class="form-control"></div></div>
                                    }
                                    <div class="col-md-2"><div>@Html.DropDownList("setor", null, PCM.ADM.WEB.Properties.Resources.setor, new { @class = "js-select2 form-control" })</div></div>
                                    <div class="col-md-2"><div>@Html.DropDownList("apartamento", null, PCM.ADM.WEB.Properties.Resources.apartamento, new { @class = "js-select2 form-control" })</div></div>
                                    <div class="col-md-2"><div>@Html.DropDownList("status", null, PCM.ADM.WEB.Properties.Resources.status, new { @class = "js-select2 form-control" })</div></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4"><div>@Html.DropDownList("equipamento", null, PCM.ADM.WEB.Properties.Resources.equipamento, new { @class = "js-select2 form-control" })</div></div>
                                    <div class="col-md-2"><div>@Html.DropDownList("prioridade", null, PCM.ADM.WEB.Properties.Resources.prioridade, new { @class = "js-select2 form-control" })</div></div>
                                    <div class="col-md-3"><div>@Html.DropDownList("solicitante", null, PCM.ADM.WEB.Properties.Resources.solicitante, new { @class = "js-select2 form-control" })</div></div>
                                    <div class="col-md-3"><div><input type="text" id="executor" name="executor" value="@ViewBag.executor" placeholder="@PCM.ADM.WEB.Properties.Resources.executor" class="form-control"></div></div>
                                </div>
                            </li>
                            <li class="list-group-item text-right">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar"><i class="fa fa-file-excel-o mr-5"></i>@PCM.ADM.WEB.Properties.Resources.excel</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->
        }
    </div>

</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

    <script type="text/javascript">

        $(function () {

            $.ajaxSetup({async: false});

            var unidade = $("#unidade");
            var setor = $("#setor");
            var equipamento = $("#equipamento");
            var prioridade = $("#prioridade");
            var apartamento = $("#apartamento");
            var solicitante = $("#solicitante");

            apartamento.select2();

            var status = $("#status");
            status.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.status', allowClear: true});

            if (unidade.val() == "" || unidade.val() == "-1") {
                setor.prop( "disabled", true );
                prioridade.prop( "disabled", true );
                apartamento.prop( "disabled", true );
                equipamento.prop( "disabled", true );
                solicitante.prop( "disabled", true );
                prioridade.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.prioridade', allowClear: true});
                setor.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.setor', allowClear: true});
                apartamento.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.apartamento', allowClear: true});
                solicitante.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.solicitante', allowClear: true});
                equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais", allowClear: true});
            }

            unidade.change(function () {

                if (unidade.val() == "") {

                    setor.empty();
                    prioridade.empty();
                    apartamento.empty();
                    equipamento.empty();
                    solicitante.empty();
                    setor.prop( "disabled", true );
                    prioridade.prop( "disabled", true );
                    apartamento.prop( "disabled", true );
                    equipamento.prop( "disabled", true );
                    solicitante.prop( "disabled", true );
                    prioridade.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.prioridade', allowClear: true});
                    setor.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.setor', allowClear: true});
                    apartamento.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.apartamento', allowClear: true});
                    solicitante.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.solicitante', allowClear: true});
                    equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais", allowClear: true});

                } else {

                    var request = { "unidade": unidade.val() };

                    $.post("LoadPrioridade", request, function (obj) {
                        prioridade.empty();
                        option = $("<option>", { "value": "" }).text("");
                        prioridade.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            prioridade.append(option);
                        });
                    }, "json");

                    $.post("LoadSetor", request, function (obj) {
                        setor.empty();
                        option = $("<option>", { "value": "" }).text("");
                        setor.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            setor.append(option);
                        });
                    }, "json");

                    $.post("LoadApartamento", request, function (obj) {
                        apartamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        apartamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            apartamento.append(option);
                        });
                    }, "json");

                    $.post("LoadSolicitante", request, function (obj) {
                        solicitante.empty();
                        option = $("<option>", { "value": "" }).text("");
                        solicitante.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            solicitante.append(option);
                        });
                    }, "json");

                    setor.prop( "disabled", false );
                    prioridade.prop( "disabled", false );
                    apartamento.prop( "disabled", false );
                    solicitante.prop( "disabled", false );
                    prioridade.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.prioridade',allowClear: true});
                    setor.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.setor',allowClear: true});
                    apartamento.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.apartamento',allowClear: true});
                    solicitante.select2({placeholder: '@PCM.ADM.WEB.Properties.Resources.solicitante',allowClear: true});
                }

            });

            setor.change(function () {

                if (setor.val() == "") {
                    equipamento.empty();
                    equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais" ,allowClear: true});
                    equipamento.prop( "disabled", true );

                    var request = { "unidade": unidade.val(), "setor": "-1" };

                    $.post("LoadApartamento", request, function (obj) {
                        apartamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        apartamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            apartamento.append(option);
                        });
                    }, "json");

                }

                else {

                    var request = { "unidade": unidade.val(), "setor": setor.val() };

                    $.post("LoadApartamento", request, function (obj) {
                        apartamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        apartamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            apartamento.append(option);
                        });
                    }, "json");

                    $.post("LoadEquipamentoSetor", request, function (obj) {
                        equipamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        equipamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            equipamento.append(option);
                        });
                    }, "json");

                    equipamento.prop( "disabled", false );
                    equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais" ,allowClear: true});
                }

            });

            apartamento.change(function () {

                if (apartamento.val() == "") {
                    equipamento.empty();
                    equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais" ,allowClear: true});
                    equipamento.prop( "disabled", true );
                    if(setor.val() != ""){
                        setor.trigger('change');
                    }
                }

                else{

                    var request = { "unidade": unidade.val(), "apartamento": apartamento.val() };

                    $.post("LoadEquipamentoApartamento", request, function (obj) {
                        equipamento.empty();
                        option = $("<option>", { "value": "" }).text("");
                        equipamento.append(option);
                        $.each(obj, function (indice, result) {
                            option = $("<option>", { "value": result.codigo }).text(result.descricao);
                            equipamento.append(option);
                        });
                    }, "json");

                    equipamento.prop( "disabled", false );
                    equipamento.select2({placeholder: "Máquina / Equipamento / Itens Gerais" ,allowClear: true});
                }

            });

        });

        // Initialize when page loads
        jQuery(function () {
            Codebase.helpers(['datepicker', 'maxlength', 'select2']);
        });

    </script>
}
