@using PCM.WEB.Properties;
@using Newtonsoft.Json;

@section styles {
    <!-- Table css -->
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
}

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@Resources.sistema</a>
                <span class="breadcrumb-item">@Resources.cadastro_basico</span>
                <a class="breadcrumb-item" href="@Url.Action("AssetIndex", "Asset")">@Resources.asset</a>
                <span class="breadcrumb-item active">@Resources.inserir</span>
            </nav>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">

        <div class="row gutters-tiny">

            <div class="col-md-12">

                @using (Html.BeginForm("AssetInsert", "AtivoFixo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", name = "form", id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="usuario" id="usuario" value="@ViewBag.usuario">

                    <div class="block block-rounded border">

                        <!-- HEADER -->
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@Resources.inserir</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75"><i class="fa fa-save mr-5"></i>@Resources.salvar</button>
                                <a href="@Url.Action("AssetIndex", "AtivoFixo")" class="btn btn-square btn-secondary min-width-100 h-75"><i class="si si-action-undo mr-5"></i>@Resources.voltar</a>
                            </div>
                        </div>

                        <!-- BODY -->
                        <div class="block-content block-content-full">

                            <!-- LINHA 1 -->
                            <div class="form-group row">

                                <div class="col-md-3">
                                    <label>@Resources.unidade</label>
                                    @Html.DropDownList("codigoUnidade", null, "", new { @class = "js-select2 form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.codigo</label>
                                    <input type="text" class="form-control" id="assetCode" name="assetCode" maxlength="50">
                                </div>

                                <div class="col-md-5">
                                    <label>@Resources.descricao</label>
                                    <input type="text" class="form-control" id="descricao" name="descricao" maxlength="255">
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.numeroSerie</label>
                                    <input type="text" class="form-control" id="numeroSerie" name="numeroSerie">
                                </div>

                            </div>

                            <!-- LINHA 2 -->
                            <div class="form-group row">

                                <div class="col-md-3">
                                    <label>@Resources.tag</label>
                                    <input type="text" class="form-control" id="tag" name="tag">
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.status</label>
                                    @Html.DropDownList("codigoStatus", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.dataCompra</label>
                                    <div>
                                        <input type="text" class="js-datepicker form-control" id="dataCompra" name="dataCompra" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.valorCompra</label>
                                    <input type="text" class="form-control" id="valorCompra" name="valorCompra">
                                </div>

                                <div class="col-md-3">
                                    <label>@Resources.responsavel</label>
                                    @Html.DropDownList("codigoUsuarioResponsavel", null, "", new { @class = "form-control" })
                                </div>

                            </div>

                            <!-- LINHA 3 -->
                            <div class="form-group row">

                                <div class="col-md-3">
                                    <label>@Resources.setor</label>
                                    @Html.DropDownList("codigoSetor", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-3">
                                    <label>@Resources.apartamento</label>
                                    @Html.DropDownList("codigoApartamento", null, "", new { @class = "form-control" })
                                </div>

                            </div>

                        </div>

                    </div>

                }

            </div>

        </div>

    </div>

</main>

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable = Resources.emptyTable,
        msgQuestionDelete = Resources.msgQuestionDelete,
        msgNotPossibleReverse = Resources.msgNotPossibleReverse,
        msgQuestionApprovalInventory = Resources.msgQuestionApprovalInventory,
        msgQuestionReprovalInventory = Resources.msgQuestionReprovalInventory,
        yes = Resources.yes,
        no = Resources.no,
        clickToEdit = Resources.clickToEdit,
        clickToDelete = Resources.clickToDelete,
        clickToCopy = Resources.clickToCopy,
        clickToExcel = Resources.clickToExcel,
        clickToPdf = Resources.clickToPdf,
        clickToConfig = Resources.clickToConfig,
        clickToApproval = Resources.clickToApproval,
        clickToReproval = Resources.clickToReproval,
        enxoval = Resources.enxoval,
        quantidade = Resources.quantidade,
        quantidadeInventario = Resources.quantidadeInventario,
        quantidadeRouparia = Resources.quantidadeRouparia,
        quantidadeUso = Resources.quantidadeUso,
        quantidadeLavanderia = Resources.quantidadeLavanderia,
        divergencia = Resources.divergencia,
        validaBancoDados = Resources.valida_bd,
        requiredField = Resources.campo_requerido,
        urlValidaAsset = Url.Action("ValidaAsset", "AtivoFixo"),
        urlLoadListSetor = Url.Action("LoadListSetor", "AtivoFixo"),
        urlLoadListApartamento = Url.Action("LoadListApartamento", "AtivoFixo")
    }))'>
</div>

@section Scripts {


    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Content/js/pcm.js"></script>

    <script src="~/Content/js/pages/AtivoFixo/jquery.assetInsert.init.js"></script>
}
