@using PCM.WEB.Properties;
@using Newtonsoft.Json;

@section styles {
    <!-- Table css -->
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
}

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-md-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@Resources.sistema</a>
                <span class="breadcrumb-item">@Resources.asset</span>
                <a class="breadcrumb-item" href="@Url.Action("AssetIndex", "Asset")">@Resources.assetMovement</a>
                <span class="breadcrumb-item active">@Resources.inserir</span>
            </nav>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">

        <div class="row gutters-tiny">

            <div class="col-md-12">

                @using (Html.BeginForm("assetMovementInsert", "AtivoFixo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", name = "form", id = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" name="codigoUsuarioInput" id="codigoUsuarioInput" value="@ViewBag.usuario">
                    <input type="hidden" name="codigoEmpresa" id="codigoEmpresa" value="@ViewBag.codigoEmpresa">

                    <div class="block block-rounded border">

                        <!-- HEADER -->
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@Resources.inserir</h3>
                            <div class="block-options">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75"><i class="fa fa-save mr-5"></i>@Resources.salvar</button>
                                <a href="@Url.Action("assetMovement", "AtivoFixo")" class="btn btn-square btn-secondary min-width-100 h-75"><i class="si si-action-undo mr-5"></i>@Resources.voltar</a>
                            </div>
                        </div>

                        <!-- BODY -->
                        <div class="block-content block-content-full">

                            <!-- LINHA 1 -->
                            <div class="form-group row">

                                <div class="col-md-3">
                                    <label>@Resources.unidade</label>
                                    @Html.DropDownList("unidade", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.tipoMovimentacao</label>
                                    @Html.DropDownList("tipoMovimentacao", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.dataMovimentacao</label>
                                    <div>
                                        <input type="text" class="js-datepicker form-control" id="dataMovimentacao" name="dataMovimentacao" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.numero_documento</label>
                                    <input type="text" class="form-control" id="documento" name="documento" maxlength="20">
                                </div>

                                <div class="col-md-3">
                                    <label>@Resources.asset</label>
                                    @Html.DropDownList("asset", null, "", new { @class = "form-control" })
                                </div>

                            </div>

                            <!-- LINHA 2 -->
                            <div class="form-group row">

                                <div class="col-md-3">
                                    <label>@Resources.setor</label>
                                    @Html.DropDownList("setor", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.apartamento</label>
                                    @Html.DropDownList("apartamento", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-5">
                                    <label>@Resources.fornecedor</label>
                                    @Html.DropDownList("fornecedor", null, "", new { @class = "form-control" })
                                </div>

                                <div class="col-md-2">
                                    <label>@Resources.valor</label>
                                    <input type="text" class="form-control" id="valor" name="valor" maxlength="10">
                                </div>

                            </div>

                            <!-- LINHA 3 -->
                            <div class="form-group row">

                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.observacao</label>
                                    <div><textarea class="form-control" id="observacao" name="observacao" maxlength="500" rows="6"></textarea></div>
                                </div>
                                <div class="col-md-6">
                                    <label>@PCM.WEB.Properties.Resources.arquivo</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="arquivo" name="arquivo" onchange="Arquivo();" accept="application/pdf">
                                        <label id="lblArquivo" class="custom-file-label" for="arquivo">@ViewBag.arquivo</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                }

            </div>

        </div>

    </div>

</main>

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable = Resources.emptyTable,
        msgQuestionDelete = Resources.msgQuestionDelete,
        msgNotPossibleReverse = Resources.msgNotPossibleReverse,
        msgQuestionApprovalInventory = Resources.msgQuestionApprovalInventory,
        msgQuestionReprovalInventory = Resources.msgQuestionReprovalInventory,
        yes = Resources.yes,
        no = Resources.no,
        ok = Resources.ok,
        clickToEdit = Resources.clickToEdit,
        clickToDelete = Resources.clickToDelete,
        clickToCopy = Resources.clickToCopy,
        clickToExcel = Resources.clickToExcel,
        clickToPdf = Resources.clickToPdf,
        clickToConfig = Resources.clickToConfig,
        clickToApproval = Resources.clickToApproval,
        clickToReproval = Resources.clickToReproval,
        enxoval = Resources.enxoval,
        quantidade = Resources.quantidade,
        quantidadeInventario = Resources.quantidadeInventario,
        quantidadeRouparia = Resources.quantidadeRouparia,
        quantidadeUso = Resources.quantidadeUso,
        quantidadeLavanderia = Resources.quantidadeLavanderia,
        divergencia = Resources.divergencia,
        validaBancoDados = Resources.valida_bd,
        requiredField = Resources.campo_requerido,
        urlValidaAsset = Url.Action("ValidaAsset", "AtivoFixo"),
        urlLoadListSetor = Url.Action("LoadListSetor", "AtivoFixo"),
        urlLoadListApartamento = Url.Action("LoadListApartamento", "AtivoFixo"),
        urlLoadListAsset = Url.Action("LoadListAsset", "AtivoFixo"),
        urlLoadConfiguracaoTipoMovimentacao = Url.Action("LoadConfiguracaoTipoMovimentacao", "AtivoFixo")
    }))'>
</div>

@section Scripts {


    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/js/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Content/js/pcm.js"></script>

    <script src="~/Content/js/pages/AtivoFixo/jquery.assetMovementInsert.init.js"></script>
}
