@using PCM.WEB.Properties
@using Newtonsoft.Json

@section styles {
    <!-- Table css -->
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/dataTables.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/buttons.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/fixedColumns.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/responsive.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/lib/datatables/css/buttons.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
}


<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action("Index", "Home")">@Resources.pcm</a>
                <span class="breadcrumb-item">@Resources.cadastro_basico</span>
                <span class="breadcrumb-item active">@Resources.asset</span>
            </nav>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("AssetIndex", "Asset", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", id = "form", autocomplete = "off" }))
        {
            @Html.AntiForgeryToken()

            <!-- Toggle Mobile -->
            <button type="button" class="btn btn-block btn-square btn-secondary d-md-none mb-10"
                    data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">
                Buscar
            </button>

            <!-- FILTROS -->
            <div class="js-tasks-nav d-none d-md-block">
                <div class="block block-rounded border">

                    <div class="block-header block-header-default bg-gd-primary">
                        <h3 class="block-title text-white font-w600">@Resources.asset</h3>

                        <div class="block-options">
                            <a href="@Url.Action("AssetInventoryInsert", "AtivoFixo")" class="btn btn-square btn-secondary min-width-100 h-75" id="newInventory" name="newInventory"><i class="fa fa-plus mr-5"></i>@Resources.novo</a>
                        </div>
                    </div>

                    <div class="block-content">
                        <ul class="list-group push">

                            <li class="list-group-item">
                                <div class="row">

                                    <div class="col-md-2">
                                        <label>@Resources.unidade</label>
                                        @Html.DropDownList("unidade", null, "", new { @class = "form-control" })
                                    </div>

                                    <div class="col-md-4">
                                        <label>@Resources.descricao</label>
                                        <input type="text" class="form-control" id="descricao">
                                    </div>

                                    <div class="col-md-4">
                                        <label>@Resources.periodo</label>
                                        <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                            <input type="text" class="form-control" id="dataInicio" name="dataInicio" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.dataInicio">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text font-w600">-</span>
                                            </div>
                                            <input type="text" class="form-control" id="dataTermino" name="dataTermino" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.dataTermino">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <label>@Resources.status</label>
                                        @Html.DropDownList("statusInventario", null, "", new { @class = "form-control" })
                                    </div>

                                </div>
                            </li>

                            <li class="list-group-item text-right">
                                <button type="button" id="filtrar" name="filtrar" class="btn btn-square btn-secondary min-width-100 h-75"><i class="si si-magnifier mr-5"></i>@Resources.filtrar</button>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>

            <!-- GRID -->
            <div class="block block-rounded border">

                <div class="block-content block-content-full">

                    <table id="tbMain" class="table table-bordered table-vcenter table-striped font-size-sm table-sm"></table>

                </div>

            </div>

        }

    </div>
</main>

<div id="resource-messages"
     data-messages='@Html.Raw(JsonConvert.SerializeObject(new
    {
        emptyTable = Resources.emptyTable,
        msgQuestionDelete = Resources.msgQuestionDelete,
        msgNotPossibleReverse = Resources.msgNotPossibleReverse,
        msgQuestionCloseInventory = Resources.msgQuestionCloseInventory,
        yes = Resources.yes,
        no = Resources.no,
        clickToEdit = Resources.clickToEdit,
        clickToDelete = Resources.clickToDelete,
        clickToCopy = Resources.clickToCopy,
        clickToExcel = Resources.clickToExcel,
        clickToPdf = Resources.clickToPdf,
        clickToConfig = Resources.clickToConfig,
        clickToManagerInventory = Resources.clickToManagerInventory,
        asset = Resources.asset,
        descricao = Resources.descricao,
        setor = Resources.setor,
        apartamento = Resources.apartamento,
        usuario = Resources.usuario,
        data = Resources.data,
        ativoCadastrado = Resources.ativoCadastrado,
        setorAnterior = Resources.setorAnterior,
        apartamentoAnterior = Resources.apartamentoAnterior,
        origem = Resources.origem,
        destino = Resources.destino,
        editar = ViewBag.editar,
        excluir = ViewBag.excluir,
        urlLoadAssetInventoryMng = Url.Action("loadAssetInventoryMng", "AtivoFixo"),
        urlLoadAssetInventoryMngDetails = Url.Action("loadAssetInventoryMngDetails", "AtivoFixo"),
        urlHasInventoryOpened = Url.Action("hasInventoryOpened", "AtivoFixo"),
        urlCloseInventory = Url.Action("closeInventory", "AtivoFixo"),
        urlAssetInventoryMngClose = Url.Action("assetInventoryClose", "AtivoFixo")
    }))'>
</div>

@section scripts {

    <script src="~/Content/js/lib/datatables/dataTables.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.buttons.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.bootstrap5.js"></script>
    <script src="~/Content/js/lib/datatables/jszip.min.js"></script>
    <script src="~/Content/js/lib/datatables/pdfmake.min.js"></script>
    <script src="~/Content/js/lib/datatables/vfs_fonts.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.html5.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.print.min.js"></script>
    <script src="~/Content/js/lib/datatables/buttons.colVis.min.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.fixedColumns.js"></script>
    <script src="~/Content/js/lib/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/lib/datatables/responsive.dataTables.js"></script>
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/pcm.js"></script>

    <!-- Page-->
    <script src="~/Content/js/pages/AtivoFixo/jquery.assetInventoryMng.init.js"></script>
    <!--Datatables-->

}
