@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
@model PCM.WEB.MODELS.QAApontamento

<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">@PCM.WEB.Properties.Resources.sistema</a>
                <a class="breadcrumb-item">@PCM.WEB.Properties.Resources.qualidade</a>
                <a class="breadcrumb-item active">@PCM.WEB.Properties.Resources.plano_acao</a>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content" id="main" name="main" style="display:none">

        <!-- Update Product -->
        <div class="row gutters-tiny">
            <!-- Basic Info -->
            <div class="col-md-12">

                <input type="hidden" name="codigo_auditoria_interna" id="codigo_auditoria_interna" value="@Model.codigo_auditoria_interna">
                <input type="hidden" name="codigo_empresa" id="codigo_empresa" value="@Model.codigo_empresa">
                <input type="hidden" name="codigo_unidade" id="codigo_unidade" value="@Model.codigo_unidade">
                <input type="hidden" name="codigo_auditoria" id="codigo_auditoria" value="@Model.codigo_auditoria">

                <div class="block block-rounded border">
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.plano_acao</h3>
                        <div class="block-options">
                            <a href="@Url.Action("PlanoAcaoPrintPDF", "Qualidade", new { codigo_empresa = Model.codigo_empresa, codigo_unidade = Model.codigo_unidade, codigo_auditoria = Model.codigo_auditoria, codigo_departamento = Model.codigo_departamento })" class="btn btn-square btn-secondary min-width-100 h-75">
                                <i class="si si-printer mr-5"></i>@PCM.WEB.Properties.Resources.imprimir
                            </a>
                        </div>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.unidade: <span class="text-primary">@Model.unidade</span></div></div>
                        <div class="form-group row font-w600"><div class="col-12">@PCM.WEB.Properties.Resources.auditoria: <span class="text-primary">@Model.descricao</span></div></div>
                    </div>
                </div>
                @if (Model.checklist.Count > 0)
                {
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.checklist</h3>
                    </div>
                    <div class="block block-content block-content-full border">
                        <table class="table table-sm table-vcenter js-dataTable-list">

                            <tbody>
                                @for (int i = 0; i < Model.checklist.Count; i++)
                                {
                                    if (i == 0 || Model.checklist[i].grupo != Model.checklist[i - 1].grupo)
                                    {
                                        <tr class="table-secondary">
                                            <th colspan="7">@Model.checklist[i].grupo</th>
                                        </tr>

                                    }
                                    if ((i == 0 || Model.checklist[i].subgrupo != Model.checklist[i - 1].subgrupo) && Model.checklist[i].subgrupo != "")
                                    {
                                        <tr class="table-primary">
                                            <th colspan="4">@Model.checklist[i].subgrupo</th>
                                            <th>@PCM.WEB.Properties.Resources.observacao</th>
                                            <th style="width:100px">@PCM.WEB.Properties.Resources.prazo_dias</th>
                                            <th style="width:50px">@PCM.WEB.Properties.Resources.foto</th>
                                        </tr>
                                    }

                                    <tr>
                                        @Html.HiddenFor(m => m.checklist[i].codigo_checklist)
                                        @Html.HiddenFor(m => m.checklist[i].codigo_item_checklist)
                                        @Html.HiddenFor(m => m.checklist[i].codigo_tipo_item_checklist)
                                        @Html.HiddenFor(m => m.checklist[i].resultado)
                                        <td>@Html.DisplayFor(m => m.checklist[i].checklist) - @Html.DisplayFor(m => m.checklist[i].descricao)</td>
                                        <td class="text-center" style="width:150px" colspan="3">@Model.checklist[i].resultado</td>
                                        <td>@Model.checklist[i].observacao</td>
                                        <td class="text-center">@Model.checklist[i].prazo</td>
                                        <td style="width:50px">
                                            <div class="btn-group">
                                                <button type="button" onclick="$('#codigo_item_checklist').val(@Model.checklist[i].codigo_item_checklist); LoadArquivo();" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#modalFoto"><i class="fa fa-camera"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END Dynamic Table Full Pagination -->
                }
                <!-- END Basic Info -->
            </div>
            <!-- END Update Product -->
        </div>
        <!-- END Page Content -->

        <div class="modal fade" id="modalFoto" tabindex="-1" role="dialog" aria-labelledby="modal-large" aria-hidden="true">
            <div class="modal-dialog modal-dialog-fromright modal-lg" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header block-header-default bg-gd-default">
                            <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.foto</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="codigo_auditoria_interna" value="@Model.codigo_auditoria_interna" />
                        <input type="hidden" id="codigo_auditoria" value="@Model.codigo_auditoria " />
                        <input type="hidden" id="data" value="@ViewBag.data" />
                        <input type="hidden" id="codigo_item_checklist" />
                        <button type="button" class="btn btn-square btn-secondary min-width-100 h-75" name="close" id="close" data-bs-dismiss="modal"><i class="fa fa-close mr-5"></i>@PCM.WEB.Properties.Resources.sair</button>
                    </div>
                </div>
            </div>
        </div>

</main>
<!-- END Main Container -->


@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/clockpicker")
    @Styles.Render("~/Content/select")
    @Styles.Render("~/Content/magnificpopup")
}

@section Scripts {
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maskedinput")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/magnificpopup")
    @Scripts.Render("~/plugins/select")

    <script>

        function LoadArquivo() {

            $("#galery").empty();

            jQuery.ajax({
                type: "POST",
                url: "LoadFoto",
                async: false,
                data: { "codigo_unidade": $("#codigo_unidade").val(), "codigo_auditoria": $("#codigo_auditoria").val(), "codigo_item_checklist": $("#codigo_item_checklist").val() },
                dataType: "json",
                success: function (response) {
                    for (var i = 0; i < response.arquivo.length; i++) {
                        var image = '<div class="col-sm-6 col-xl-3">';
                        image += '<a class="img-link img-link-zoom-in img-lightbox" href="' + response.arquivo[i] + '">';
                        image += '<img class="img-fluid" src="' + response.arquivo[i] + '" alt="">';
                        image += '</a>'
                        image += '</div>'
                        $("#galery").append(image);
                    }
                }
            });

        }

        // Initialize when page loads
        jQuery(function () {
            //FormValidation.init();
            Codebase.helpers(['datepicker', 'maxlength', 'select2', 'masked-inputs', 'magnific-popup']);
            $("#main").show();
        });

    </script>
}
