<!-- Main Container -->
<main id="main-container">

    <!-- Breadcrumb -->
    <div class="bg-body-light border-b">
        <div class="content py-0 text-center">
            <nav class="breadcrumb bg-body-light mb-0">
                <a class="breadcrumb-item font-w600" href="@Url.Action(Session["dashboard"].ToString(), "Home")">@PCM.WEB.Properties.Resources.pcm</a>
                <span class="breadcrumb-item">@PCM.WEB.Properties.Resources.qualidade</span>
                <span class="breadcrumb-item active">@PCM.WEB.Properties.Resources.tarefa - @PCM.WEB.Properties.Resources.historico</span>
            </nav>
        </div>
    </div>
    <!-- END Breadcrumb -->
    <!-- Page Content -->
    <div class="content">

        @using (Html.BeginForm("TarefaHistorico", "Qualidade", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "js-validation-bootstrap", role = "form", enctype = "multipart/form-data", name = "form", id = "form" }))
        {
            @Html.AntiForgeryToken()

            <input type="hidden" id="usuario" name="usuario" value="@ViewBag.usuario" />
            <input type="hidden" id="empresa" name="empresa" value="@ViewBag.empresa" />

            <!-- Toggle Tasks Navigation on mobile -->
            <button type="button" class="btn btn-block btn-square btn-secondary d-md-none mb-10" data-toggle="class-toggle" data-target=".js-tasks-nav" data-class="d-none d-md-block">@PCM.WEB.Properties.Resources.search</button>

            <div class="js-tasks-nav d-none d-md-block">
                <div class="block block-rounded border">
                    <div class="block-header block-header-default bg-gd-default">
                        <h3 class="block-title text-white font-w600">@PCM.WEB.Properties.Resources.tarefa - @PCM.WEB.Properties.Resources.historico</h3>                        
                    </div>
                    <div class="block-content">
                        <ul class="list-group push">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.unidade</label>
                                        <div>@Html.DropDownList("unidade", null, "", new { @class = "form-control" })</div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>@PCM.WEB.Properties.Resources.periodo</label>
                                        <div class="input-daterange input-group" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                            <input type="text" class="form-control" id="data_inicio" name="data_inicio" placeholder="De" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_inicio">
                                            <div class="input-group-prepend input-group-append">
                                                <span class="input-group-text font-w600">-</span>
                                            </div>
                                            <input type="text" class="form-control" id="data_termino" name="data_termino" placeholder="Até" data-week-start="1" data-autoclose="true" data-today-highlight="true" value="@ViewBag.data_termino">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div><label>@PCM.WEB.Properties.Resources.tarefa</label></div>
                                        <div>@Html.DropDownList("tarefa", null, "", new { @class = "form-control" })</div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item text-right">
                                <button type="submit" class="btn btn-square btn-secondary min-width-100 h-75" name="filtrar" id="filtrar"><i class="si si-magnifier mr-5"></i>@PCM.WEB.Properties.Resources.filtrar</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Collapsible Tasks Navigation -->

            <!-- Listagem -->
            <div class="block block-rounded border">

                <div class="block-content block-content-full">

                    <!-- DataTables init on table by adding .js-dataTable-full-pagination class, functionality initialized in js/pages/be_tables_datatables.js -->
                    <table class="table table-bordered table-vcenter table-striped js-dataTable-full table-sm" id="tb_main">
                        <thead>
                            <tr class="table-secondary">
                                <th>@PCM.WEB.Properties.Resources.unidade</th>
                                <th>@PCM.WEB.Properties.Resources.tarefa</th>
                                <th class="text-center" style="width: 200px;">@PCM.WEB.Properties.Resources.data_execucao</th>
                                @if (ViewBag.excluir || ViewBag.imprimir)
                                {
                                    <th class="text-center" style="width: 15px;" data-sortable="false"></th>
                                }
                            </tr>
                        </thead>

                    </table>

                </div>

            </div>
        }
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

@section Styles {
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/dataTables")
    @Styles.Render("~/Content/select")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/validation")
    @Scripts.Render("~/plugins/maxlenght")
    @Scripts.Render("~/plugins/datepicker")
    @Scripts.Render("~/plugins/select")

<script type="text/javascript">

    $(function () {

        var unidade = $("#unidade");
        var tarefa = $("#tarefa");

        unidade.change(function () {
            var request = { "unidade": unidade.val() };

            $.post("LoadComboTarefa", request, function (obj) {
                tarefa.empty();
                option = $("<option>", { "value": "" }).text("");
                tarefa.append(option);
                $.each(obj, function (indice, result) {
                    option = $("<option>", { "value": result.codigo }).text(result.descricao);
                    tarefa.append(option);
                });
            }, "json");
        });

    });

    $(document).ready(function () {

        Codebase.helpers(['table-tools', 'datepicker', 'maxlength', 'select2']);

        // Init simple DataTable, for more examples you can check out https://www.datatables.net/
        var table = $('#tb_main').DataTable({
            select: {
                selector: 'td:not(:first-child)',
                style: 'os'
            },
            fixedHeader: true,
            searching: true,
            lengthChange: false,
            pageLength: 15,
            autoWidth: false,
            scrollX: false,
            scrollColapse: true,
            ajax: {
                url: "LoadTarefa",
                type: "POST",
                datatype: "json",
                data: {
                    "unidade": ($("#unidade").val() == "") ? -1 : $("#unidade").val(),
                    "data_inicio": ($("#data_inicio").val() == "") ? "" : $("#data_inicio").val(),
                    "data_termino": ($("#data_termino").val() == "") ? "" : $("#data_termino").val(),
                    "tarefa": ($("#tarefa").val() == "") ? -1 : $("#tarefa").val()
                },
                dataSrc: ""
            },
            columns: [
                { data: "unidade" },
                { data: "tarefa" },
                { data: "data_execucao" },
                {
                    orderable: false,
                    data: null,
                    defaultContent: "<div class='btn-group'><button type='button' id='btnEdit' class= 'btn btn-sm btn-secondary'> <i class='fa fa-pencil'></i></button><button type='button' id='btnDelete' class= 'btn btn-sm btn-secondary'> <i class='fa fa-times'></i></button><button type='button' id='btnPrint' class= 'btn btn-sm btn-secondary'><i class='fa fa-print'></i></button></div>"
                }
            ],
            columnDefs: [
                {
                    className: 'text-center', targets: [2, 3]
                },
                {
                    width: '40px', targets: [3]
                }
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'copy', text: '@Html.Raw(PCM.WEB.Properties.Resources.copy)' },
                {
                    extend: 'print',
                    text: '@Html.Raw(PCM.WEB.Properties.Resources.print)'
                },
                { extend: 'excel' },
                { extend: 'pdf', orientation: 'portrait' },
            ],
            language: {
                "search": "@Html.Raw(PCM.WEB.Properties.Resources.search):",
                "lengthMenu": "@Html.Raw(PCM.WEB.Properties.Resources.display) _MENU_ ",
                "info": "_MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)",
                "infoEmpty": "@Html.Raw(PCM.WEB.Properties.Resources.zero_records)",
                "infoFiltered": "@Html.Raw(PCM.WEB.Properties.Resources.filtered_from) _MAX_ @Html.Raw(PCM.WEB.Properties.Resources.records)"
            }
        });

        $('#tb_main tbody').on('click', 'button', function () {

            var data = table.row($(this).closest('tr')).data();

            if (this.id == "btnDelete") {
                deleteRegister(data);
            } else if (this.id == "btnEdit") {
                editRegister(data);
            } else if (this.id == "btnPrint") {
                printRegister(data);
            }

        });

        function deleteRegister(data) {

            Swal.fire({
                title: "PCM",
                html: "<span class='h3'>@Html.Raw(PCM.WEB.Properties.Resources.question_delete_register)</span><br><br><b>@Html.Raw(PCM.WEB.Properties.Resources.tarefa):</b> " + data.tarefa + "<br><br><b>@Html.Raw(PCM.WEB.Properties.Resources.data_execucao):</b> " + data.data_execucao,
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.sim)",
                denyButtonText: "@Html.Raw(PCM.WEB.Properties.Resources.nao)",
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    jQuery.ajax({
                        type: "POST",
                        url: "DeleteTarefaOrdemServico",
                        async: false,
                        data: {
                            "empresa": @ViewBag.empresa,
                            "unidade": data.codigo_unidade,
                            "usuario": @ViewBag.usuario,
                            "codigo_qa_tarefa_ordem_servico": data.codigo
                        },
                        dataType: "json",
                        success: function (response) {
                            Swal.fire({
                                title: "@PCM.WEB.Properties.Resources.pcm",
                                html: "<span class='h4'>" + response + "</span>",
                                showDenyButton: false,
                                showCancelButton: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $("#form").submit();
                                }
                            });
                        }
                    });
                }
            });

        }

        function editRegister(data) {

            window.location = 'TarefaApontamento?actionTarefa=TarefaHistorico&codigo_unidade=' + data.codigo_unidade + '&codigo_qa_tarefa=' + data.codigo_qa_tarefa + '&codigo_qa_tarefa_ordem_servico=' + data.codigo;

        }

        function printRegister(data) {

            redirect_blank('TarefaOrdemServicoPrint?unidade=' + data.codigo_unidade + '&codigo_qa_tarefa_ordem_servico=' + data.codigo);

        }

        function redirect_blank(url) {
            var a = document.createElement('a');
            a.target = "_blank";
            a.href = url;
            a.click();
        }

    });

</script>
}
